<div class="slim-deeper">
	<h2 class="subtitle heading">Dig Deeper</h2>
	<ul>

	{% for feature in object.featured_specials.all %}
	<li>
	  <a class="{{ link_class }}" href="{% url 'special:'|add:link_name|add:feature.special_type|add:'_detail' feature.slug %}">
	    {{ feature.title|safe }}
	  </a>
	</li>
	{% endfor %}

  	{% for person in object.people.all %}
    <li>
      <!-- <a class="{{ link_class }}" href="{% url 'supporting:person_detail' person.slug %}"> -->
      <a class="{{ link_class }}" href="{% url 'supporting:'|add:link_name|add:'person_detail' person.slug %}">
        {{ person.title_prefix|safe }} {{ person.first_name|safe }} 
        {{ person.middle_name|safe }} {{ person.last_name|safe }} {{ person.suffix|safe }}
      </a>
    </li>
	{% endfor %}

	{% for evidenceitem in object.evidence.all %}
	<li>
	  <a class="{{ link_class }}" href="{% url 'supporting:'|add:link_name|add:evidenceitem.evidence_category|add:'_detail' evidenceitem.slug %}">
	    {{ evidenceitem.title|safe }}
	  </a>
	</li>
	{% endfor %}

	{% for context in object.contexts.all %}
	<li>
	  <a class="{{ link_class }}" href="{% url 'supporting:'|add:link_name|add:'context_detail' context.slug %}">
	    {{ context.title|safe }}
	  </a>
	</li>
	{% endfor %}
	</ul>
</div>
