<div class="slim-deeper">
	<h2 class="subtitle heading">Dig Deeper</h2>
	<h3>See Also:</h3>
	<ul>
  	{% for person in object.people.all %}
    <li>
      <a class="swap_pop" href="{% url 'supporting:person_detail' person.slug %}">
        {{ person.title_prefix|safe }} {{ person.first_name|safe }} 
        {{ person.middle_name|safe }} {{ person.last_name|safe }} {{ person.suffix|safe }}
      </a>
    </li>
	  {% endfor %}
	  {% for evidenceitem in object.evidence.all %}
	    <li>
	      <a class="swap_pop" href="{% url 'supporting:'|add:evidenceitem.evidence_category|add:'_detail' evidenceitem.slug %}">
	        {{ evidenceitem.title }}
	      </a>
	    </li>
	  {% endfor %}
	  {% for context in object.contexts.all %}
	    <li>
	      <a class="swap_pop" href="{% url 'supporting:context_detail' context.slug %}">
	        {{ context.title }}
	      </a>
	    </li>
	  {% endfor %}
	</ul>
</div>
