{% load static %}

<div id="slimpop-wrapper">
	<div class="slim-border">
	<p class="slimpop-close"><a href='javascript:hideBox();'>close</a></p>
		
	<h4 class="heading slim-subhead">{% block heading %}{{ object.content_type.plural_title }}{% endblock %}</h4>
	<h1 class="slim-title">{% block item_title %}content type title{% endblock %}</h1>

	{% block slim_content%}
		slim content
	{% endblock slim_content %}
	
	</div><!--slim-border -->
</div><!--slimpop-wrapper -->

<script type="text/javascript">
	// set first item selected
	$("#document-paging--list li").filter(":first").addClass('document-paging--selected');
</script>

