{% extends extend_base %}
{% load static %}

{% block heading %}{{ object.content_type.plural_title }} {% endblock %}
{% block item_title %}{{ object.title|safe }}{% endblock %}

{% block slim_content%}

<img src="{{ MEDIA_URL }}supporting/context/fullpics/{{ object.slug }}.jpg"  alt="image of {{ object.slug}}" class="double-border">
<p class="caption slim-caption">{{ object.caption }} Image courtesy of {{ object.source.institution|safe }}.</p>

{% if object.status_num == 2 %}
	<p><em>[This drafted material has not been reviewed and may contain errors, which will be corrected during review.]</em></p>
{% endif %}

{{ object.narrative|safe }}

{% include "supporting/_slim_deeper.html" %}

{% endblock slim_content %}
