{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ object_list.0.content_type.plural_title }} {% endblock %}

{% block wrapper_class %}"content-wrapper--intro"{% endblock wrapper_class %}

{% block content_area %}

  <div>
  
    <section class="menu-grid--area">
      <h2>Showing: All, xx items</h2>
      <ul class="menu-grid">
      
      {% for object in object_list %}
        <li>
          <a class="pop_item" href="{% url 'supporting:evidenceitem_detail' object.slug %}">
            <img src="{% static 'supporting/evidenceitem/menupics/' %}{{ object.slug }}.jpg"  alt="image of {{ object.slug}}">         
            <em>{{ object.title|safe }}</em>
            </a>
        </li>
      {% endfor %}
      </ul>   

    </section>
    
    <section class="control-panel">
      <h1>Evidence: Artifacts &amp; Documents</h1>
      <ul>
        <li>list item 1</li>
        <li>list item 2</li>
        <li>list item 3</li>
        <li>list item 4</li>
      </ul>
  
    </section>

  </div>

{% endblock content_area %}
