{% extends "supporting/base_detail.html" %}
{% load staticfiles image_extras %}

{% block heading %}
	{{ object.content_type.plural_title }}: {{ object.evidence_type }}
{% endblock %}

{% block item_title %}{{ object.title|safe }}{% endblock %}

{% block slim_content%}
<section id="item-viewer">

	<script type="text/javascript">
		Z.showImage("item-image", 
		  "{% static 'supporting/evidenceitem/zooms/' %}{{ object.slug }}{% if object.page_set.all %}-{{ page.page_suffix}}{% endif %}.zif", 
		  "zSkinPath={% static 'js/Assets/Skins/Default' %}");
	</script>

	<div id="item-viewer--container">

		{% if error_msg %}
			<p class="error-msg">{{ error_msg }}</p>
		{% else %}
			{% if 1 == 1 %} <!-- zoom_exists -->
				<div id="item-image">zoomable artifact image here</div>
			{% else %}
				<!-- <img src="{% static 'supporting/evidenceitem/fullpics/' %}{{ object.slug }}.jpg"  alt="image of {{ object.slug}}" class="double-border"> -->
		        <img src="{% static 'supporting/' %}{{ 'evidenceitem/fullpics/'|add:object.slug|add:'.jpg'|supporting_image_exists }}"  alt="image of {{ object.slug}}" class="double-border"> 
			{% endif %}			

		{% endif %}

		<!-- /transcription goes here -->
		{% block document_text %}
		{% endblock document_text %}


	</div> <!-- /item-viewer--container -->
	
	{% block controls %}
	{% endblock controls %}

</section> <!-- /item-viewer -->

<!-- not sure we need this on evidence pages
<p class="caption slim-caption">Image courtesy of {{ object.source.institution|safe }}.</p> -->

{{ object.narrative|safe }}

<dl class="slim-curatorial">
		<dt>Creator:</dt>
		<dd>{{ object.creator }}</dd>
		<dt>Date:</dt>
		<dd>
			{% if object.is_circa %}c. {% endif %}
			{{ object.creation_year }}
		</dd>
	{% if object.dimensions %}
		<dt>Dimensions:</dt>
		<dd>{{ object.dimensions }}</dd>
	{% endif %}
	{% if object.materials %}
		<dt>Materials:</dt>
		<dd>{{ object.materials }}</dd>
	{% endif %}
	{% if object.accession_num %}
		<dt>Accession #:</dt>
		<dd>{{ object.accession_num }}</dd>
	{% endif %}
</dl>

{% endblock slim_content %}
