{% extends "base_list.html" %}
{% load staticfiles image_extras %}

{% block title %}{{ object_list.0.content_type.plural_title }} {% endblock %}

{% block wrapper_class %}"content-wrapper menus"{% endblock wrapper_class %}

{% block content_area %}

  <h1 class="main-title">People</h1>

  <p>These short biographies are arranged in three groups: The Hitchcocks, primary characters and related people.</p>

  <ul class="menu-grid people-primary">

  {% for person2 in object_list.0.hitchcock_person_list %}

    <li>
      <a class="pop_item" href="{% url 'supporting:person_detail' person2.slug %}">
        <img src="{% static 'supporting/person/menupics/' %}{{ person2.slug }}.jpg"  alt="image of {{ person2.slug}}" >
        <em>{{ person2.title_prefix|safe }} {{ person2.first_name|safe }} 
        {{ person2.middle_name|safe }} {{ person2.last_name|safe }} {{ person2.suffix|safe }}</em>
      </a>
    </li>

  {% endfor %}
  </ul>

  <h3 class="heading">People Important to the Story</h3>

  <ul class="menu-grid people-secondary">
  {% for person1 in object_list.0.important_person_list %}

    <li>
    	<a class="pop_item" href="{% url 'supporting:person_detail' person1.slug %}">
        <img src="{% static 'supporting/' %}{{ 'person/menupics/'|add:person1.slug|add:'.jpg'|supporting_image_exists }}"  alt="image of {{ person1.slug}}"> 
    		<em>{{ person1.title_prefix|safe }} {{ person1.first_name|safe }} 
        {{ person1.middle_name|safe }} {{ person1.last_name|safe }} {{ person2.suffix|safe }}</em>
      </a>
    </li>

  {% endfor %}

  </ul>   

  <h3 class="heading">People Related to the Story</h3>

  <ul class="menu-grid people-tertiary">
    <li><a href="">Thomas Cole</a></li>
  {% for person0 in object_list.0.related_person_list %}

    <li><a class="pop_item" href="{% url 'supporting:person_detail' person0.slug %}">{{ person0.title_prefix|safe }} {{ person0.first_name|safe }} 
        {{ person0.middle_name|safe }} {{ person0.last_name|safe }} {{ person0.suffix|safe }}</em></a></li>

  {% endfor %}
  </ul>


{% endblock content_area %}
