{% extends "base_list.html" %}
{% load staticfiles %}

{% block title_area %}
  <h1>People</h1>
{% endblock title_area %}


{% block menu %}
  <ul>
  {% for object in object_list %}
    <li>
      <a class="pop_item" href="{% url 'supporting:person_detail' object.slug %}">
        <img src="{% static 'supporting/person/thumbpics/' %}{{ object.slug }}.jpg"  alt="image of {{ object.slug}}" width="100" height="100">       
        {{ object.title_prefix|safe }} {{ object.first_name|safe }} 
        {{ object.middle_name|safe }} {{ object.last_name|safe }} {{ object.suffix|safe }}</a>
        {{ object.menu_blurb|safe }}
    </li>
  {% endfor %}
  </ul>     
{% endblock menu %}
