{% extends "base_list.html" %}
{% load staticfiles %}

{% block title %}{{ object_list.0.content_type.plural_title }} {% endblock %}

{% block wrapper_class %}"content-wrapper basic"{% endblock wrapper_class %}

{% block content_area %}

  <h1 class="main-title">Activities</h1>

  <p>Interactive features to help you engage more actively in the ideas, images and themes of this website.</p>

  <ul class="menu-gallery">
  {% for object in object_list %}
    <li>
    	<a class="pop_item" href="{% url 'supporting:special_detail' object.slug %}">
    	<img src="{% static 'supporting/special/menupics/' %}{{ object.slug }}.jpg"  alt="image of {{ object.slug}}" >
    	<span class="menu-header">{{ object.get_special_type_display|safe }}</span>{{ object.title|safe }}
    	</a>
    	{{ object.menu_blurb|safe }}
	</li>

  {% endfor %}

  </ul>   


{% endblock content_area %}
