{% extends "base_team.html" %}
{% load staticfiles %}

{% block content_area %}
<p><a href="{% url 'supporting:team_type_list' %}">Return to List of Supporting Types</a></p>

<h1 class="story-title">{{ object_list.0.content_type.plural_title }}</h1>
    
<table>
	<tr>
		<th width="130px">Image</th>
		<th width="15%">Title</th>
		<th width="20%">Stories</th>
		<th>Themes</th>
		<th>evidence</th>
		<th>people</th>
		<th>backdrop</th>
		<th>special</th>
	</tr>
	{% for object in object_list %}
	<tr>
		<td>
			<img class="thumb" src="{% static 'supporting/'|add:object_list.0.content_type.slug|add:'/menupics/'|add:object.slug|add:'.jpg' %}"  alt="image of {{ object.slug}}">
		</td>
		<td>
			<a class="pop_item" href="{% url 'supporting:'|add:object_list.0.content_type.slug|add:'_detail' object.slug %}"><em>{{ object.title|safe }}</em></a>			
		</td>
		<td>
			<ul>
				{% for chapter in object.chapter_set.all %}
				<li>
					&bull; {{ chapter.story.title}}: {{ chapter.title}}
				</li>
				{% endfor %}
			</ul>
		</td>
		<td>
			<ul>
				{% for theme in object.theme_set.all %}
				<li>
					&bull; {{ theme.title}}
				</li>
				{% endfor %}
			</ul>		
		</td>
		<td>
			<ul>
				{% for evidenceitem in object.evidenceitem_set.all %}
				<li>
					&bull; {{ evidenceitem.title}}
				</li>
				{% endfor %}
			</ul>					
		</td>
		<td>
			<ul>
				{% for person in object.person_set.all %}
				<li>
					&bull; {{ person.title}}
				</li>
				{% endfor %}
			</ul>		
		</td>
		<td>
			<ul>
				{% for context in object.context_set.all %}
				<li>
					&bull; {{ context.title}}
				</li>
				{% endfor %}
			</ul>		
		</td>
		<td>
			<ul>
				{% for special in object.special_set.all %}
				<li>
					&bull; {{ special.title}}
				</li>
				{% endfor %}
			</ul>		
		</td>
	</tr>
	{% endfor %}
</table>

{% endblock content_area %}

