{% extends "base_team.html" %}
{% load static %}

{% block content_area %}
<p><a href="{% url 'supporting:team_type_list' %}">Return to menu of Supporting Items</a></p>

<h1>{{ object_list.0.content_type.plural_title }}</h1>
<p>For each <em>{{ object_list.0.content_type.singular_title }}</em> the columns show the Chapter and Theme pages on which the item appears, as well as the Evidence, Person or Backdrop slim pop on which the item appears. Slim pop links are live.</p>
    
<table>
	<tr>
		<th width="130px">Image</th>
		<th width="15%">Title</th> 
		<th width="20%">Stories</th>
		<th>Themes</th>
		<th>evidence</th>
		<th>people</th>
		<th>backdrop</th>
	</tr>
	{% for object in object_list %}
	<tr>
		<td>
			{% if object_list.0.content_type.slug == 'feature' %}
				<img class="thumb" src="{% static 'special/menupics/'|add:object.slug|add:'.jpg' %}"  alt="image of {{ object.slug}}">
			{% else %}
				<img class="thumb" src="{% static 'supporting/'|add:object_list.0.content_type.slug|add:'/menupics/'|add:object.slug|add:'.jpg' %}"  alt="image of {{ object.slug}}">
			{% endif %}

		</td>
		<td>
			{% if object_list.0.content_type.slug == 'feature' %}
				<em>{{ object.title|safe }}</em>
			{% elif object_list.0.content_type.slug == 'evidenceitem' %}
				<a class="pop_item" href="{% url 'supporting:'|add:object.evidence_category|add:'_detail' object.slug %}"><em>{{ object.title|safe }}</em></a>	
			{% else %}
				<a class="pop_item" href="{% url 'supporting:'|add:object_list.0.content_type.slug|add:'_detail' object.slug %}"><em>{{ object.title|safe }}</em></a>	
			{% endif %}
		</td>
		<td>
			<ul>
				{% for chapter in object.chapter_set.all %}
				<li>
					&bull; {{ chapter.story.title}}: <strong>{{ chapter.title}}</strong> 
					<!-- [<a href="/admin/stories/chapter/{{ chapter.id }}/change/" target="admin">edit</a>] --> 
					[<a href="{% url 'stories:chapter_detail' chapter.story.slug chapter.chapter_num %}" target="viewsite">view</a>]
				</li>
				{% endfor %}
			</ul>
		</td>
		<td>
			<ul>
				{% for theme in object.theme_set.all %}
				<li>
					&bull; {{ theme.title}}
				</li>
				{% endfor %}
			</ul>		
		</td>
		<td>
			<ul>
				{% for evidenceitem in object.evidenceitem_set.all %}
				<li>
					&bull; <a class="pop_item" href="{% url 'supporting:'|add:evidenceitem.evidence_category|add:'_detail' evidenceitem.slug %}">{{ evidenceitem.title}}</a>
				</li>
				{% endfor %}
			</ul>					
		</td>
		<td>
			<ul>
				{% for person in object.person_set.all %}
				<li>
					&bull; <a class="pop_item" href="{% url 'supporting:'|add:person.content_type.slug|add:'_detail' person.slug %}">{{ person.title}}</a>
				</li>
				{% endfor %}
			</ul>		
		</td>
		<td>
			<ul>
				{% for context in object.context_set.all %}
				<li>
					&bull; <a class="pop_item" href="{% url 'supporting:'|add:context.content_type.slug|add:'_detail' context.slug %}">{{ context.title}}</a>
				</li>
				{% endfor %}
			</ul>		
		</td>
	</tr>
	{% endfor %}
</table>

{% endblock content_area %}

