{# dig deeper links for location set #}
<ul class="map-deeper">
{% if object.slug == "none" %}
    <li>&nbsp;</li>
    <li>&nbsp;</li>
    <li>&nbsp;</li>
    <li>&nbsp;</li>
    <li>&nbsp;</li>
    <li>&nbsp;</li>
    <li>&nbsp;</li>
    <li>&nbsp;</li>
    <li>&nbsp;</li>
{% else %}

  {% for person in object.people.all %}
  <li>
    <a class="pop_item" href="{% url 'supporting:person_detail' person.slug %}">
      {{ person.first_name }} {{ person.last_name }}
    </a>
  </li>
  {% endfor %}
  {% for evidenceitem in object.evidence.all %}
    <li>
      <a class="pop_item" href="{% url 'supporting:'|add:evidenceitem.evidence_category|add:'_detail' evidenceitem.slug %}">
        {{ evidenceitem.title }}
      </a>
    </li>
  {% endfor %}
  {% for context in object.contexts.all %}
    <li>
      <a class="pop_item" href="{% url 'supporting:context_detail' context.slug %}">
        {{ context.title }}
      </a>
    </li>
  {% endfor %}
      {% for feature in object.featured_specials.all %}
        <li>
          <a class="pop_item" href="{% url 'special:'|add:feature.special_type|add:'_detail' feature.slug %}">
            {{ feature.title }}
          </a>
        </li>
      {% endfor %}
{% endif %}
</ul>      
