{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Map View{% endblock %}

{% block stylesheets %}
  {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/leaflet.css' %}" type="text/css"/>
{% endblock stylesheets %}

{% block javascript %}
  {{ block.super }}
  <script src="{% static 'js/leaflet.js' %}" type="text/javascript"></script>
  <!-- JavaScript variables from Django -->
  <script type="text/javascript">
    //var sitesJson = {{ sites_json|safe }};
    var sitesJson = {{ site_values|safe }};
    var map_params = {
      "layers": [
      {% for object in object_list %}
        "{{object.title}}"{% if not forloop.last %}, {% endif %}       
      {% endfor %}            
      ]
    };
  </script>

{% endblock javascript %}

{% block title_area %}
  <h1>Map View</h1>
{% endblock title_area %}

{% block content_area %}

  <div id="map"></div>

  <script src="{% static 'js/map.js' %}" type="text/javascript"></script>

  <p>Eras:</p>
  <ul>
  {% for object in object_list %}
    <li>
        {{ object.title|safe }}
    </li>
  {% endfor %}
  </ul>     

  <!-- <p>sites from QuerySet:</p>
  <ul>
  {# for site in site_list #}
    <li>
        { site.site_type }: { site.short_name } - { site.site_info }
    </li>
  {# endfor #}
  </ul>   --> 

  <p>Sites:</p>
  <ul>
  {% for site in site_values %}
    <li>
        {{ site.site_type }}: {{ site.site_info.title }} 
    </li>
  {% endfor %}
  </ul>   

  <!-- <p>site_values: { site_values|safe }</p> -->  

{% endblock content_area %}
