{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Map View{% endblock %}

{% block stylesheets %}

    <link rel="stylesheet" href="{% static 'css/leaflet.css' %}" type="text/css"/>
  {{ block.super }}

  <style type="text/css">
    .selecteddb {
      color: #ffffff;
    }
  </style>

{% endblock stylesheets %}

{% block javascript %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'js/tangram.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/leaflet.js' %}"></script>
  <!-- <script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.3.0"></script> -->

{% endblock javascript %}

{% block wrapper_class %}"content-wrapper-map"{% endblock wrapper_class %}

{% block content_area %}

  <div class="map-wrapper">
    <section class="map-control-panel">
      
      <h2 class="heading">Show Maps</h2>

      <ul class="map-layers"> <!-- js ist tied to children of map-layers -->
        <li>
          <a class="layer_on" href="2/roads">on</a> 
          <a class="layer_off" href="2/roads">off</a> 
          Roads overlay</li>
        <li>
          <a class="layer_on" href="1/hitchcock">on</a> 
          <a class="layer_off" href="1/hitchcock">off</a> 
          Hitchcock overlay</li>
      </ul>
      
      <hr/>

      <h2 class="heading">About This Map</h2>
      <!-- {{ object.layer_blurb|safe}} -->


<!--       <h2 class="heading">Map Overlays</h2>
      <p>check the boxes below to show/hide map overlays.</p>
      
      <ul class="map-layers">
        <li class="selected"><a href="">
          <label for="id_0">
            <input id="id_0" name="map-layers" type="checkbox" value="today-towns" /> Today - Roads &amp; Towns
          </label></a>
        </li>
        <li><a href="">
          <label for="id_1">
            <input id="id_1" name="map-layers" type="checkbox" value="today-geo" /> Today: Geology
          </label></a>
        </li>
        <li><a href="">
          <label for="id_2">
            <input id="id_2" name="map-layers" type="checkbox" value="hitchcock-towns" /> Hitchcock's Era: Roads &amp; Towns
          </label></a>
        </li>
        <li><a href="">
          <label for="id_3">
            <input id="id_3" name="map-layers" type="checkbox" value="hitchcock-geology" /> Hitchcock's Era: Geology
          </label></a>
        </li>
        <li><a href="">
          <label for="id_4">
            <input id="id_4" name="map-layers" type="checkbox" value="lake-hitchcock" /> Lake Hitchcock
          </label></a>
        </li>
        <li><a href="">
          <label for="id_5">
            <input id="id_4" name="map-layers" type="checkbox" value="glacier" /> Ice Age Glaciers
          </label></a>
        </li>        
        <li><a href="">
          <label for="id_6">
            <input id="id_5" name="topic" type="checkbox" value="pangea" /> Pangea
          </label></a>
        </li>
      </ul>
 -->

    </section>

    <section class="map-area">
      <div id="map">


      </div>
      <script src="{% static 'js/map.js' %}" type="text/javascript"></script>
      </div>
    </section>
  </div><!--map-wrapper-->

  <section class="map-about-panel">

    <h2 class="heading">Location Sets</h2>
      
    <ul class="map-layers">
    {% for layer in object.layer_list %}
        <li><a class="location-set" href="{{ layer.slug }}">[x]</a> {{ layer.title|safe }}</li>
        <!-- {{ layer.era_description|safe }} -->
    {% endfor %}
    </ul>

    <hr/>
    <h2 class="heading">Sites</h2>

    <div id="site_list"><p>site list will come from JS</p></div>

    <hr/>

    <h2 class="heading">Dig Deeper</h2>

    <div id="deeper_ajax_wrapper">
      
      {% include 'map/_map_deeper.html' %}

    </div>
  
  </section>


{% endblock content_area %}
