{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Map View{% endblock %}

{% block stylesheets %}
  {{ block.super }}
  <style>
    #map { 
      height: 600px; 
      width: 800px;
    }
  </style>

    <link rel="stylesheet" href="{% static 'css/leaflet.css' %}" type="text/css"/>
{% endblock stylesheets %}

{% block javascript %}
  {{ block.super }}
  <script src="{% static 'js/leaflet.js' %}" type="text/javascript"></script>
  <!-- JavaScript variables from Django -->
  <script type="text/javascript">
    //var sitesJson = {{ sites_json|safe }};
    // sitesJson will be picked up by js/map.js
    // site_values is a list of the "site_info" for each site. Site info is grabbed from
    // respective evidence, context, place, special objects 
    var sitesJson = {{ site_values|safe }};
    var map_params = {
      "layerIndex": {{ object.layer_index }}
      /*"layers": [
      {% for layer in object.layer_list %}
        "{{layer.title}}"{% if not forloop.last %}, {% endif %}       
      {% endfor %}            
      ] */
    };
  </script>
{% endblock javascript %}


{% block content_area %}

  <h1>Map Era showing: {{ object.title }} </h1>

  <ul>
  {% for layer in object.layer_list %}
    {% if layer.slug = object.slug %}
      <li>{{ layer.title|safe }}</li>
    {% else %}
      <li><a href="{% url 'map:map_detail' layer.slug %}">{{ layer.title|safe }}</a></li>
    {% endif %}
  {% endfor %}
  </ul>     

  <div id="map"></div>

  <script src="{% static 'js/map.js' %}" type="text/javascript"></script>

  <p>Sites -- 

  {% for site in object.sites.all %} {# site_values #}
        {{ site.site_type }}: {{ site.site_info.title }} |
  {% endfor %}
  </p>  

  <p>&nbsp;</p>

  <!-- <p>site_values: { site_values|safe }</p> -->  

{% endblock content_area %}
