{% extends "base.html" %}
{% load static %}

{% block title %}Impressions - Map Intro{% endblock %}

{% block wrapper_class %}"content-wrapper menus"{% endblock wrapper_class %}

{% block content_area %}

  <h1 class="main-title">Map</h1>

  <div class="map-row">

    <section class="map-left-col">
      <img src="{% static 'map/fullpics/' %}map-location.jpg" alt="map showing area of interest within larger map of New England">
    </section> 

    <section class="map-middle-col">
      <h2 class="heading">You Are Here</h2>
      <p>Our story takes place in the Connecticut River Valley of western Massachusetts, from the Vermont and New Hampshire borders in the north and the Connecticut coastline on Long Island Sound to the south.</p>
      
      <h2 class="heading"><a href="{% url 'map:map_detail' %}">The Interactive Map</a></h2>
      <p>The interactive map lets you geographically explore the history and science of dinosaur footprints and geology of the Connecticut River Valley. The map has four primary layers which you can look at individually, or stack them so you can see, for example, how the town of Amherst relates geographically to Lake Hitchcock</p>
      <input type="button" onclick="location.href='{% url 'map:map_detail' %}';" value="Go to Map" />

    </section> 
    
    <section class="map-right-col">
      <h2 class="heading">Related Resources</h2>
      <ul class="related-list">
        <li><a href="http://www.mass.gov/eea/docs/dcr/parks/trails/holyoke.pdf" target="_blank">Trail Map for Joseph Allen Skinner and Holyoke Range State Parks</a></li>

        <li><a href="https://www.nps.gov/neen/index.htm" target="_blank">National Park Service Scenic Trails for New England</a></li>

        <li><a href="https://www.ctriver.org/river-resources/maps" target="_blank">Connecticut River Conservancy Maps, including a boating map</a></li>

        <li><a href="http://www.ctrivermaps.com/" target="_blank">Connecticut River Maps</a></li>

        <li><a href="https://www.railstotrails.org/experience-trails/" target="_blank">Rails-to-Trail Conservatory</a></li>

        <li><a href="http://www.bywayswestmass.com/activities/biking/" target="_blank">Western Massachusetts Scenic Byways - Biking</a></li>

        <li><a href="https://www.ctriver.org/our-work/ct-river-paddlers-trail/" target="_blank"> Connecticut River Paddlers' Trail</a></li>

        <li><a href="http://www.cesd.umass.edu/twi/TWI_Projects/Mobile_Tours/index.html" target="_blank">Tri-state Connecticut River Watershed Initiative Mobile Tours</a></li>

      </ul>
    </section> 

  </div>

  <div class="map-row how-to">
    <section class="map-left-col">
      <h3 class="heading">Show Maps</h3>
      <p>Check-boxes to the left of the map let you choose what map layers to see, one at a time or stacked one on top of the other to show historical and geological relationships. The map layers are Present-day Roads &amp; Towns, Hitchcock's 1857 Ichnological Map, which shows where he found "fossil bird" (a.k.a. dinosaur) footprints, Hitchcock's 1834 Geological Map, and Lake &amp; Glacier, which shows the last glacier to cover this region and the lake that formed as the glacier melted, Lake Hitchcock. (Lake Hitchcock drained out thousands of years ago, so don't expect to swim there!)</p>

      <h3 class="heading">Markers</h3>
      <p>There are three categories of map markers: Fossils &amp; Geology, Places to Visit, and Historical Sites. Selecting a category will plot the relevant markers on the map. Fossils &amp; Geology has outdoor sites and museums with rocks and fossils. Places to Visit includes museums, parks, and indoor or outdoor entertainment venues relevant to the historical stories told on this website. Historical Sites show where some of the events in the stories took place. Some of these are "drive-bys" on private property, such as the house in which the Hitchcocks lived in Amherst. Others, such as old quarries, can be visited. </p>
    </section> 
   

    <section class="map-middle-col">
      <h2 class="heading">How to Use the Map</h2>
      <img src="{% static 'map/fullpics/' %}map-how-to.jpg"  alt="image of map-how-to" class="how-to-map" >
    </section> 

    
    <section class="map-right-col">
      <h3 class="heading">Show Markers</h3>
      <p>There are three categories of map markers: "Fossils & Geology" sites, "Places to Visit" and "Historical Sites". Selecting one of these radio buttons will plot the relevant markers on the map.</p>

      <h3 class="heading">Links to Markers</h3>
      <p>You can find more information about a site in two ways. Clicking a marker on the map opens a window with information for that site. Clicking a site in the Links to Markers box to the right of the map will center the map on the chosen marker and open that same window.</p>

      <h3 class="heading">Dig Deeper</h3>
      <p>This is your chance to find out more about the site you are interested in. For example, if you want to learn more about Clay Hill, which mentions Dexter Marsh finding fossil footprints there, click on Dexter Marsh for a brief biography of this remarkable man.</p>
    </section> 

  </div>

{% endblock content_area %}
