{% extends extend_base %}
{% load staticfiles %}

{% block heading %}{{ object.content_type.plural_title }} - Discoverers {% endblock %}
{% block item_title %}{{ object.title|safe }}{% endblock %}

{% block slim_content%}

<div id="video-content">

<p>feedback: {{ feedback }}</p>

{{ object.narrative|safe }}


<p>list of the people and the votes they got:</p>

<ul>
{% for slide in object.frame_set.all %}
	<li>
		xx visitor votes  - {{slide.caption}}<br/>
		{{slide.narrative|safe}} <br/>
		&nbsp;
	</li>

{% endfor %}
</ul>

	
</div><!-- /video-content -->

{% endblock slim_content %}
