{% extends "base_list.html" %}
{% load static %}

{% block title %}Impressions - Special Features {% endblock %}

{% block wrapper_class %}"content-wrapper menus"{% endblock wrapper_class %}

{% block content_area %}

<h1 class="main-title">Special Features</h1>

<!--<p>Interactive features to help you engage more actively in the ideas, images and themes of this website.</p>-->

<section class="six-across">
  <h3 class="subtitle heading">Then &amp; Now</h3>
  <ul class="menu-gallery">
  {% for then in object_list.0.then_list %}
    <li>
      <a class="pop_item" href="{% url 'special:then_detail' then.slug %}">
       <img src="{{ MEDIA_URL }}special/menupics/{{ then.slug }}.jpg"  alt="image of {{ then.slug}}" >
       {{ then.title|safe }}
       {{ then.menu_blurb|safe }}
      </a>
    </li>
  {% endfor %}
  </ul>   
</section>

<section class="six-across">
  <h3 class="subtitle heading">Slideshows</h3>
  <ul class="menu-gallery">
  {% for slideshow in object_list.0.slideshow_list %}
    <li>
      <a class="pop_item" href="{% url 'special:slideshow_detail' slideshow.slug %}">
       <img src="{{ MEDIA_URL }}special/menupics/{{ slideshow.slug }}.jpg"  alt="image of {{ slideshow.slug}}" >
       {{ slideshow.title|safe }}
       {{ slideshow.menu_blurb|safe }}
      </a>
    </li>
  {% endfor %}
  </ul>   
</section>

<section class="six-across">
  <h3 class="subtitle heading">Videos</h3>
  <ul class="menu-gallery">
  {% for video in object_list.0.video_list %}
    <li>
      <a class="pop_item" href="{% url 'special:video_detail' video.slug %}">
       <img src="{{ MEDIA_URL }}special/menupics/{{ video.slug }}.jpg"  alt="image of {{ video.slug}}" >
       {{ video.title|safe }}
       {{ video.menu_blurb|safe }}
      </a>
    </li>
  {% endfor %}
  </ul>   
</section>

<section class="six-across">
  <h3 class="subtitle heading">Activities</h3>
  <ul class="menu-gallery">

    <li>
      <a class="pop_item" href="{% url 'special:footprint_detail' 'find-footprints' %}">
       <img src="{{ MEDIA_URL }}special/menupics/find-footprints.jpg"  alt="image of find-footprints" >
       Find the Footprints
       <p>Test your fossil-finding skills! Can you identify the fossil footprints in these rocks?</p>
      </a>
    </li>
    
    <li>
      <a class="pop_item" href="{% url 'special:explore_detail' 'jurassic-landscape' %}">
       <img src="{{ MEDIA_URL }}special/menupics/jurassic-landscape.jpg"  alt="image of jurassic-landscape" >
       Late Triassic Landscape
       <p>Explore the animals and plants that lived in the Connecticut River Valley during the late triassic.</p>
      </a>
    </li>
    
    <li>
      <a class="pop_item" href="{% url 'special:society_detail' 'society-quiz' %}">
       <img src="{{ MEDIA_URL }}special/menupics/society-quiz.jpg"  alt="image of society-quiz" >
       "Topics Under Consideration" Quiz
       <p>Orra White and her friends met regularly as "The Young Ladies Literary Society" to debate and answer profound questions. Let's see how you answer these same deep inquiries.</p>
      </a>
    </li>

  </ul>   
</section>

<section class="six-across">
  <h3 class="subtitle heading">Voices</h3>
  <ul class="menu-gallery">
  {% for voices in object_list.0.voices_list %}
    <li>
      <a class="pop_item" href="{% url 'special:voices_detail' voices.slug %}">
       <img src="{{ MEDIA_URL }}special/menupics/poetry-icon.gif"  alt="image of poetry icon" >
       {{ voices.title|safe }}
       {{ voices.menu_blurb|safe }}
      </a>
    </li>
  {% endfor %}
  </ul>   
</section>

<section class="six-across">
  <h3 class="subtitle heading">Looking &amp; Seeing</h3>
  <ul class="menu-gallery">
  {% for looking in object_list.0.looking_list %}
    <li>
      <a class="pop_item" href="{% url 'special:looking_detail' looking.slug %}">
       <img src="{{ MEDIA_URL }}special/menupics/{{ looking.slug }}.jpg"  alt="image of {{ looking.slug}}" >
       {{ looking.title|safe }}
       {{ looking.menu_blurb|safe }}
      </a>
    </li>
  {% endfor %}
  </ul>   
</section>


{% endblock content_area %}
