{% extends extend_base %}
{% load static %}

{% block heading %}{{ object.content_type.plural_title }} - Then &amp; Now {% endblock %}
{% block item_title %}{{ object.title|safe }}{% endblock %}

{% block slim_content%}

<!-- d3.min.js' needs to be called in head -->

<div class="svg-container-then-{{ object.slug }}">
	
	<svg class="iefix-special double-border" version="1.1" viewbox="0 0 {{ object.img_width }} {{ object.img_height }}"> <!-- 562 width="100%" height="100%" -->
	<g transform="translate(0,0)">
	  <!-- <clipPath id="clip">
	    <circle cx="333" cy="127.5" r="100"></circle>
	  </clipPath> -->
	  <image x="0" y="0" xlink:href="{{ MEDIA_URL }}special/then/fullpics/{{ slide.image_name }}.jpg" 
	  	width="{{ object.img_width }}" height="{{ object.img_height }}"/>

	  <image xlink:href="{{ MEDIA_URL }}special/then/fullpics/{{ slide.get_next.image_name }}.jpg" 
	  	width="{{ object.img_width }}" height="{{ object.img_height }}" id="doc-image" />
	</g>
	</svg>
</div> <!-- svg-container -->

<!-- <script src="{% static 'js/lens-d3.js' %}" type="text/javascript"></script> -->
<script type="text/javascript">
	// since this is in a slim called by ajax we can't just list the script directly
	$.getScript("{% static 'js/lens-d3.js' %}");
</script>


<p class="caption slim-caption">{{ object.caption }} Image courtesy of 
{{ object.source.institution|safe }}.</p>

{{ object.narrative|safe }}

{% endblock slim_content %}
