{% extends extend_base %}
{% load static %}

{% block heading %}{{ object.content_type.plural_title }} - Video Story {% endblock %}
{% block item_title %}{{ object.title|safe }}{% endblock %}

{% block slim_content%}

<div id="video-content">

	<video width="300" height="168" controls="controls">
		<source src="{{ MEDIA_URL }}special/video/media/{{ object.slug}}.webm" type="video/webm">
		<source src="{{ MEDIA_URL }}special/video/media/{{ object.slug}}.mp4" type="video/mp4">
		Your browser does not support the video tag.
	</video>

</div><!-- /video-content -->

	{{ object.narrative|safe }}

{% endblock slim_content %}
