{% extends extend_base %}
{% load static %}

{% block heading %}{{ object.content_type.plural_title }} - Voices {% endblock %}
{% block item_title %}{{ object.title|safe }}{% endblock %}

{% block slim_content%}

  {{ object.description|safe }}

  <audio controls>
    <source src="{% static 'special/voices/media/' %}{{ object.slug }}.m4a" 
      type="audio/mpeg" />
    <source src="{% static 'special/voices/media/' %}{{ object.slug }}.ogg" 
      type="audio/ogg" />
    <!-- fallback -->
       Your browser does not support the HTML5 audio element; instead you can 
       <a href="{% static 'special/voices/media/' %}{{ object.slug }}.mp3">download 
        this MP3 audio file.</a>
  </audio>

  <blockquote>

	{{ object.narrative|safe }}
    
  <cite>{{ object.caption|safe }} </cite> 

  </blockquote>

{% endblock slim_content %}
