/* Juliet -- this is a duplicate of a file that's in local_static/css
Just be sure to delete that one and delete that link at the top of base.html
when you've incorporated this.

Be sure to check temp-juliet-supporting.css in the css directory in case I forget
to updat this copy
 */

.artifact, .document {
  max-height: 85%;
  width: 900px; }

/* commented out in application.css by don
This is actually not for supporting, but for special.
I made the hover in JS so that we can handle mobile differently.
.dinospot:hover {
  fill: #b12b00;
  fill-opacity: 0.5; }
*/

.dino-stick {
  fill: #b12b44;
  fill-opacity: 0.5; }

.dino-roll {
  fill: #b12b00;
  fill-opacity: 0.5; }


/* Juliet -- there's a typo in your scss -- need
to have a comma following .society.
I'm temporarily overriding it below.
Combine with the .artifact and .document above

.slideshow, .footprint, .video, .society
.then, .looking, .explore, .discoverers {
  max-width: 85%;
  max-height: 85%; }
*/

.slideshow, .footprint, .video, .society,
.then, .looking, .explore, .discoverers {
  max-width: 85%;
  max-height: 85%; }
