@charset "UTF-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  appearance: none;
  background-color: white;
  border: thin solid #5b7687;
  border-radius: 20px;
  color: #5b7687;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {
    background-color: #495e6c;
    color: #fff; }
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, input[type="button"]:disabled:hover, input[type="reset"]:disabled:hover, input[type="submit"]:disabled:hover {
      background-color: #5b7687; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  ul.footnotes, ul.lecture-topics, ul.interview-questions,
  ol.footnotes,
  ol.lecture-topics,
  ol.interview-questions {
    list-style-type: decimal;
    margin-bottom: 0.75em;
    padding-left: 1.5em; }
  ul.horiz li,
  ol.horiz li {
    display: inline; }

.about-footnotes {
  border-top: 1px solid #dee3e7;
  font-size: 0.8em;
  list-style-position: inside;
  list-style-type: decimal;
  padding: 0.75em 0 0 0; }

.about-list, .scenes-list, .for-wysiwyg ul {
  list-style-type: disc;
  padding-left: 3em; }

dl {
  margin-bottom: 0.75em; }
  dl dt {
    float: left;
    margin-right: 5%;
    margin-bottom: 1em;
    max-width: 40%; }
  dl dd {
    margin-left: 45%;
    margin-bottom: .5em; }
  dl dd::after {
    content: " ";
    display: block;
    clear: left; }

dl.event-details::after, dl.lesson-details::after {
  clear: both;
  content: "";
  display: table; }
dl.event-details dt:after, dl.lesson-details dt:after {
  content: ":"; }
dl.event-details dd, dl.lesson-details dd {
  margin-left: 17.05961%; }

.footnotes {
  border-top: 1px solid #dee3e7;
  font-size: 0.8em;
  list-style-type: decimal;
  padding-top: 0.75em; }

body {
  color: #222;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-feature-settings: "kern", "liga", "pnum";
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0 0.75em;
  color: #5b7687; }

p {
  margin: 0 0 0.75em; }

a {
  color: #5b7687;
  text-decoration: none;
  transition: color 150ms ease; }
  a:active, a:focus, a:hover {
    color: #40535f; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

img, picture {
  margin: 0;
  max-width: 100%; }

@media screen and (min-width: 590px) and (max-width: 799px) {
  .content-aside {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 40.29137%; }
    .content-aside:last-child {
      margin-right: 0; } }
@media screen and (min-width: 800px) {
  .content-aside {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .content-aside:last-child {
      margin-right: 0; } }
@media print {
  .content-aside {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .content-aside:last-child {
      margin-right: 0; } }

@media screen and (min-width: 590px) and (max-width: 799px) {
  .content-main {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 57.35098%; }
    .content-main:last-child {
      margin-right: 0; } }
@media screen and (min-width: 800px) {
  .content-main {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%; }
    .content-main:last-child {
      margin-right: 0; } }
@media print {
  .content-main {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%; }
    .content-main:last-child {
      margin-right: 0; } }

.content-wrapper {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .content-wrapper::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 68em) {
    .content-wrapper {
      padding: 1.5em; } }

.content-wrapper--head, .content-wrapper--head2 {
  font-size: 2em;
  font-weight: 200;
  margin: 0; }
  @media screen and (max-width: 775px) {
    .content-wrapper--head, .content-wrapper--head2 {
      font-size: 1.5rem; } }

.content-wrapper--head2 {
  margin-top: 0.75em; }

.content-wrapper--subhead {
  margin-bottom: 0.25em;
  font-weight: 600; }

.content-wrapper a.link_external {
  background: url(../images/link_ext.gif) no-repeat right;
  padding-right: 0.9375em; }

.content-wrapper a.link_pop {
  background: url(../images/link_pop.gif) no-repeat right;
  padding-right: 0.9375em; }

.content-wrapper a.link_newpage {
  background: url(../images/link_newpage.gif) no-repeat right;
  padding-right: 0.9375em; }

.content-wrapper--caption {
  color: #999;
  font-size: 0.8em; }

footer {
  background-color: #5b7687;
  color: #d9d9d9;
  font-weight: 200;
  margin-top: 3em;
  padding: 1.5em; }
  @media screen and (max-width: 68em) {
    footer {
      padding: 1.5em;
      font-size: 0.85em; } }
  @media screen and (max-width: 43.125em) {
    footer {
      font-size: 0.75rem; } }
  footer a:link, footer a:visited {
    color: #b2bdc7; }
  footer a:hover {
    color: white; }
  @media print {
    footer {
      background-color: transparent;
      border-top: thin solid #5b7687;
      color: #5b7687; } }

.footer-social {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .footer-social:last-child {
    margin-right: 0; }

.footer-social--item {
  display: inline-block;
  font-family: icomoon;
  font-size: 2em;
  margin-right: 0.375em; }

.footer-search {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%; }
  .footer-search:last-child {
    margin-right: 0; }
  .footer-search a {
    color: white;
    text-decoration: underline; }

.logo {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10.25em;
  position: relative; }
  .logo::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 43.125em) {
    .logo {
      padding-left: 0; } }

.logo--image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; }
  @media screen and (max-width: 43.125em) {
    .logo--image {
      display: none; } }
  @media print {
    .logo--image {
      display: none; } }

.logo--text {
  color: #5b7687;
  font-size: 4.25em;
  font-weight: 100;
  margin-bottom: 0; }
  @media screen and (max-width: 43.125em) {
    .logo--text {
      font-weight: 200;
      padding-left: 1.5em; } }
  @media print {
    .logo--text {
      font-size: 1.5em !important;
      font-weight: 600;
      margin: 0;
      padding: 0;
      text-align: right; } }

.main-navigation {
  background-color: #5b7687;
  position: relative; }
  @media print {
    .main-navigation {
      display: none; } }

.main-navigation--wrapper {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10.25em; }
  .main-navigation--wrapper::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 43.125em) {
    .main-navigation--wrapper {
      padding-left: 1.5em; } }

@media screen and (max-width: 43.125em) {
  .main-navigation--items {
    display: none; } }

.main-navigation--item {
  display: inline-block;
  vertical-align: top; }
  @media screen and (max-width: 1004px) {
    .main-navigation--item {
      font-size: 0.875rem; } }
  @media screen and (max-width: 906px) {
    .main-navigation--item {
      font-size: 0.75rem; } }
  @media screen and (max-width: 43.125em) {
    .main-navigation--item {
      border-bottom: thin solid #92a8b6;
      display: block; } }
  @media screen and (min-width: 43.1875em) {
    .main-navigation--item:first-child {
      margin-left: -1.5em; } }
  .main-navigation--item a {
    color: white;
    display: block;
    padding: 0.75em 1.5em; }
    @media screen and (max-width: 825px) {
      .main-navigation--item a {
        padding: 0.75em 0.75em; } }
    .main-navigation--item a:hover {
      background-color: #3c4e59; }

.menu-toggle a {
  color: white;
  font-weight: 500; }
@media screen and (min-width: 43.1875em) {
  .menu-toggle {
    display: none; } }

.main-navigation--selected {
  background-color: #465b69; }

.title-area {
  background-color: #dee3e7;
  margin-bottom: 1.5em;
  min-height: 165px;
  padding: 0.75em 0; }
  .title-area header {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto; }
    .title-area header::after {
      clear: both;
      content: "";
      display: table; }
    @media screen and (max-width: 68em) {
      .title-area header {
        padding: 1.5em;
        font-size: 0.85em; } }
    @media screen and (max-width: 43.125em) {
      .title-area header {
        font-size: 0.75rem; } }
  @media print {
    .title-area {
      background-color: transparent;
      border-bottom: thin solid #5b7687;
      border-top: thin solid #5b7687;
      height: auto; } }

.title-area--icon {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .title-area--icon:last-child {
    margin-right: 0; }

.title-area--icon-img {
  color: #5b7687;
  font-family: icomoon;
  font-size: 5em;
  font-style: normal;
  line-height: 1; }

.title-area--text {
  color: #5b7687;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%; }
  .title-area--text:last-child {
    margin-right: 0; }
  .title-area--text h1 {
    font-size: 2em;
    font-weight: 600;
    margin: 0; }
  .title-area--text h3 {
    font-size: 1.5em;
    font-weight: 100;
    font-style: italic;
    margin: 0; }
  .title-area--text a {
    color: #5b7687; }
    .title-area--text a:hover {
      text-decoration: underline; }

.no-icon {
  margin-left: 34.11922%; }

.search-field {
  margin: 0.5em 0;
  width: 70%; }

.search-return, .item-nav {
  padding: 0.75em 0; }

@media print {
  #horizontal-nav-list {
    display: none; } }

.h-nav--arrow, .h-nav--arrow-disabled {
  font-family: "Arial, Cambria Math";
  font-size: 2em;
  vertical-align: text-bottom; }
  .h-nav--arrow a:hover, .h-nav--arrow-disabled a:hover {
    background-color: #b2bdc7;
    color: #fff; }

.h-nav--arrow-disabled {
  color: #999; }

.h-nav--item img {
  height: 50px;
  width: 50px; }
  @media screen and (min-width: 590px) and (max-width: 970px) {
    .h-nav--item img {
      height: 32px;
      width: 32px; } }

.h-nav--item-selected {
  border: 2px solid orange; }

dl.attributes {
  line-height: 1.2; }
  dl.attributes dt:after {
    content: ":"; }

ul.icon-list {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  line-height: 1.2;
  list-style-type: none; }
  ul.icon-list li {
    padding-bottom: .5em; }

ul.icon-list li::before {
  color: #5b7687;
  font-family: icomoon;
  font-size: 1.75em;
  padding-right: .15em;
  vertical-align: -.15em; }

ul.icon-list li.icon-list--study::before {
  content: "\f357"; }

ul.icon-list li.icon-list--ideas::before {
  content: "\f36c"; }

ul.icon-list li.icon-list--website::before {
  content: "\e905"; }

ul.icon-list li.icon-list--worksheet::before {
  content: "\f12e"; }

ul.icon-list li.icon-list--lesson::before {
  content: "\f127"; }

ul.icon-list li.icon-list--video::before {
  content: "\f256"; }

ul.icon-list li.icon-list--slideshow::before {
  content: "\f148"; }

ul.icon-list li.icon-list--info::before {
  content: "\f149"; }

ul.icon-list li.icon-list--audio::before {
  content: "\f259"; }

ul.icon-list li.icon-list--visual::before {
  content: "\f147"; }

ul.icon-list li.icon-list--lecture::before {
  content: ""; }

ul.icon-list li.icon-list--visual::before {
  content: "\f147"; }

ul.icon-list li.icon-list--interview::before {
  content: ""; }

ul.icon-list li.icon-list--map::before {
  content: ""; }

.related-items--thumbpics li {
  display: inline; }
  .related-items--thumbpics li img {
    border: 1px solid #999; }

.content-aside--box {
  background-color: #dee3e7;
  border-radius: 20px;
  padding: 1.5em;
  margin-bottom: 1.5em; }

.content-aside--picture {
  margin-bottom: 1.5em; }

.dropdown .dropdown-button {
  cursor: pointer; }
  .dropdown .dropdown-button:after {
    content: " \25BE";
    color: #dee3e7; }
.dropdown .dropdown-menu {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: #dee3e7;
  overflow: show;
  text-align: left; }
  @media screen and (min-width: 43.1875em) {
    .dropdown .dropdown-menu {
      position: absolute;
      top: 48px;
      right: 0;
      left: 0;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.75);
      display: none; } }
  @media screen and (max-width: 1004px) and (min-width: 43.125em) {
    .dropdown .dropdown-menu {
      position: absolute;
      top: 42px;
      right: 0;
      left: 0; } }
  @media screen and (max-width: 906px) and (min-width: 43.125em) {
    .dropdown .dropdown-menu {
      position: absolute;
      top: 36px;
      right: 0;
      left: 0; } }
@media screen and (min-width: 43.1875em) {
  .dropdown .dropdown-list {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10.25em; }
    .dropdown .dropdown-list::after {
      clear: both;
      content: "";
      display: table; } }
@media screen and (min-width: 43.1875em) {
  .dropdown .dropdown-list--item {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 18.11388%; }
    .dropdown .dropdown-list--item:last-child {
      margin-right: 0; } }
.dropdown .dropdown-list--item a {
  color: #5b7687;
  display: block;
  line-height: 1.125em; }
  @media screen and (max-width: 43.125em) {
    .dropdown .dropdown-list--item a {
      background-color: #5b7687;
      color: white;
      line-height: 0.75em;
      padding-left: 2.5em; }
      .dropdown .dropdown-list--item a i {
        display: none; } }
  @media screen and (min-width: 43.1875em) {
    .dropdown .dropdown-list--item a {
      text-align: center; } }
  .dropdown .dropdown-list--item a:hover {
    background-color: #b2bdc7;
    color: white; }

.dropdown-list--icon {
  color: #5b7687;
  display: block;
  font-family: icomoon;
  font-size: 4.5em;
  line-height: 1; }

.home-grid {
  margin-right: 0; }

.home-banner {
  text-align: center; }

.home-banner--image {
  margin-bottom: 1.5em; }

.home-banner--text {
  margin: -9em auto 0 auto;
  padding-bottom: 6em;
  width: 75%; }
  @media print {
    .home-banner--text {
      padding-bottom: 3em; } }
  .home-banner--text a:link, .home-banner--text a:visited {
    color: white;
    text-shadow: 1px 1px 2px #222; }
    @media screen and (min-width: 43.125em) {
      .home-banner--text a:link, .home-banner--text a:visited {
        font-size: 1.25em;
        font-weight: 400; } }
    @media screen and (min-width: 43.125em) {
      .home-banner--text a:link, .home-banner--text a:visited {
        font-size: 1.5em;
        font-weight: 200; } }
    @media screen and (min-width: 980px) {
      .home-banner--text a:link, .home-banner--text a:visited {
        font-size: 2em;
        font-weight: 200; } }
    @media print {
      .home-banner--text a:link, .home-banner--text a:visited {
        font-size: 2em;
        font-weight: 200; } }
  .home-banner--text:hover {
    color: gray;
    text-decoration: underline;
    transition: color 150ms ease; }

.banner-text-left {
  text-align: left; }

.banner-text-right {
  text-align: right; }

.featured {
  margin-bottom: 1.5em;
  position: relative; }
  .featured img {
    box-shadow: 5px 5px 0px #ccc; }

.featured h2 a {
  color: white; }
  .featured h2 a:hover {
    text-decoration: underline; }

.featured-header {
  background-color: rgba(91, 118, 135, 0.7);
  max-width: 400px;
  padding: 0.75em;
  position: absolute;
  width: 100%; }

.featured-header--title, .featured-header--subtitle {
  color: white;
  font-weight: 200;
  margin: 0; }

.featured-header--subtitle {
  font-size: 0.8em; }

.featured-header--title {
  font-size: 1.5em; }
  @media screen and (max-width: 775px) {
    .featured-header--title {
      font-size: 1.25rem; } }

.home-list {
  font-size: 0.8em;
  line-height: 1.5; }
  .home-list a {
    font-size: 1.25em;
    font-weight: 600; }
  .home-list li {
    margin-bottom: 1.5em; }

#item-viewer {
  position: relative; }

#item-viewer--container {
  margin-top: -1.5em; }

#item-image {
  background-color: #dee3e7;
  border: 1px solid #94a4b1;
  height: 25em; }

#document-text {
  background-color: #FEECD7;
  border: 1px solid #fcc98c;
  color: #222;
  font-size: 1.5em;
  height: 400px;
  line-height: 1.5;
  opacity: 0.75;
  overflow: scroll;
  position: absolute;
  top: 0px;
  left: 0px; }

.document-text--transcription {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  margin-left: 17.05961%; }
  .document-text--transcription:last-child {
    margin-right: 0; }

.smalltext {
  /* large text size */
  font-size: 0.8em; }

.largetext {
  /* large text size */
  font-size: 2em; }

.italics {
  /* italic text */
  font-style: italic; }

.doublespaced {
  /* double spaced lines */
  line-height: 3; }

table.trans td {
  /* for transcriptions in tables */
  padding: 1px;
  margin: 1px; }

.item-viewer--tools {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  margin-top: .5em; }
  .item-viewer--tools::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 68em) {
    .item-viewer--tools {
      font-size: 0.85em; } }

#toggle-transcription {
  margin-top: -6px;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  margin-left: 8.5298%; }
  #toggle-transcription:last-child {
    margin-right: 0; }
  @media print {
    #toggle-transcription {
      display: none; } }

#document-paging {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }
  #document-paging:last-child {
    margin-right: 0; }

#document-paging--list li {
  padding: 2px; }
#document-paging--list li.document-paging--page::after {
  content: " |"; }
#document-paging--list li.last::after {
  content: none; }
#document-paging--list a:link {
  text-decoration: underline; }
#document-paging--list a:hover {
  background-color: #dee3e7; }

.document-paging--title {
  float: left;
  margin: 2px 4px 0 0.0625em; }

.document-paging--selected {
  font-weight: 600; }

.document-audio {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%;
  margin: 6px 8px 0 0;
  width: unset; }
  .document-audio:last-child {
    margin-right: 0; }
  @media print {
    .document-audio {
      display: none; } }

@media print {
  #doc_audio {
    display: none; } }

#other-views {
  text-align: right; }

.other-views--title {
  display: inline;
  margin: 3em 8px 0 0; }

#other-views--list {
  float: right; }

#other-views--list li img {
  border: 1px solid #ddd; }
#other-views--list li img.other-views--selected {
  border: 1px solid orange; }

#map_wrapper {
  margin-bottom: 1.5em; }
  @media screen and (min-width: 580px) {
    #map_wrapper {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 74.41059%; }
      #map_wrapper:last-child {
        margin-right: 0; } }

#map_canvas {
  border: 1px solid #92a8b6;
  height: 720px;
  width: 100%;
  padding-bottom: 1.5em; }

@media screen and (min-width: 580px) {
  #map_controls {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    #map_controls:last-child {
      margin-right: 0; } }
#map_controls input {
  margin-right: 0.75em; }
#map_controls label {
  font-size: 0.8em; }
#map_controls h3 {
  margin-bottom: 0; }

.map-controls--title {
  margin-top: 1.5em; }

#side_bar {
  background-color: white;
  border: 1px solid #92a8b6;
  height: 350px;
  margin-top: 0.75em;
  overflow: scroll;
  z-index: 9999; }
  #side_bar h3 {
    background: #5b7687;
    color: white;
    font-weight: 400;
    margin: 0;
    padding: .15em .5em;
    width: 100%; }
  #side_bar li {
    font-size: 0.8em; }

.about {
  margin-bottom: 0.75em; }
  .about::after {
    clear: both;
    content: "";
    display: table; }

.about--title {
  float: left; }

.about--go {
  float: right; }
  .about--go a:hover {
    color: white; }

#story_nav ol li {
  font-size: 0.8em;
  padding-bottom: 0.75em; }

.story-print--link {
  margin: 1.5em 0 0 0; }

.story-print--blurb {
  margin-top: 0; }

#popwrap .story-print--title {
  margin-bottom: 0.25em; }

#popwrap .story-print--number {
  /* used in Story Maps printable popup */
  border-top: 1px solid #ddd;
  margin-top: 1.5em;
  padding-top: 0.75em; }

#popwrap p.story-print--date {
  /* used in Story Maps printable popup */
  font-weight: 600;
  margin: 0; }

ol.entry_list {
  margin: 0 .5em;
  padding: 0;
  list-style-type: none; }
  ol.entry_list li {
    padding: .2em 0 0 .2em; }
    ol.entry_list li img {
      margin-right: 6px; }

span.close {
  float: right; }

#infowindow {
  width: 420px;
  max-height: 450px;
  font-size: 1.25em;
  padding-left: 0.75em; }

#infowindow header {
  border-bottom: 1px solid #ddd;
  overflow: auto; }

#infowindow header date {
  font-size: 1em;
  color: #5b7687; }

#infowindow section {
  margin-top: .25em; }

#infowindow section p.date {
  margin: 0;
  padding: 0; }

#infowindow section img.story {
  border: 1px solid #ddd; }

#infowindow dl.icons, #infowindow dl.noicons {
  font-size: 0.8em; }
  #infowindow dl.icons dt, #infowindow dl.noicons dt {
    margin-bottom: 0.375em;
    margin-right: 3%;
    max-width: 32%; }
  #infowindow dl.icons dd, #infowindow dl.noicons dd {
    margin-left: 35%;
    margin-bottom: 0.375em; }

#infowindow dl.icons dt img {
  float: left;
  margin-right: 4px;
  vertical-align: middle; }

#infowindow section h2 {
  font-size: 1.5em;
  font-weight: 600;
  margin: 0; }

#infowindow h4 {
  float: left;
  font-size: 1em;
  font-weight: 700;
  margin: .25em 0; }

#infowindow div.log_entry {
  padding: 0 0.75em;
  background-color: #F2F2F2;
  border: thin solid #ddd;
  height: 120px;
  width: 400px;
  overflow-y: scroll;
  overflow-x: hidden; }

#infowindow a {
  float: right;
  font-size: .9em;
  margin-top: 6px; }

#infowindow div.infonav {
  /* for prev/next nav in story chapters and voyage map infowindows */
  float: right;
  margin: 0;
  padding: 0; }

.compare_list li {
  padding-bottom: 3em; }
  .compare_list li label {
    font-size: 1.5em;
    font-weight: 600; }

/*------TABLETS STYLES (old responsiveness)
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
{

	#map_canvas {
		 height: 600px; 
		 width: 700px; 
		 border: 1px #666666 solid;
		 }
}---------*/
.item-menu--grid {
  display: block;
  margin-bottom: 1.5em; }
  .item-menu--grid::after {
    clear: both;
    content: "";
    display: table; }

.item-menu--item {
  float: left;
  display: block;
  margin-right: 3.57866%;
  width: 48.21067%; }
  .item-menu--item:last-child {
    margin-right: 0; }
  @media screen and (max-width: 589px) {
    .item-menu--item {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%; }
      .item-menu--item:last-child {
        margin-right: 0; }
      .item-menu--item:nth-child(2n) {
        margin-right: 0; }
      .item-menu--item:nth-child(2n+1) {
        clear: left; } }
  @media screen and (min-width: 590px) and (max-width: 799px) {
    .item-menu--item {
      float: left;
      display: block;
      margin-right: 3.57866%;
      width: 39.57868%; }
      .item-menu--item:last-child {
        margin-right: 0; }
      .item-menu--item:nth-child(2n) {
        margin-right: 0; }
      .item-menu--item:nth-child(2n+1) {
        clear: left; } }
  @media screen and (min-width: 800px) and (max-width: 910px) {
    .item-menu--item {
      float: left;
      display: block;
      margin-right: 3.57866%;
      width: 30.94669%; }
      .item-menu--item:last-child {
        margin-right: 0; }
      .item-menu--item:nth-child(3n) {
        margin-right: 0; }
      .item-menu--item:nth-child(3n+1) {
        clear: left; } }
  @media screen and (min-width: 910px) {
    .item-menu--item {
      float: left;
      display: block;
      margin-right: 3.57866%;
      width: 22.316%; }
      .item-menu--item:last-child {
        margin-right: 0; }
      .item-menu--item:nth-child(4n) {
        margin-right: 0; }
      .item-menu--item:nth-child(4n+1) {
        clear: left; } }
  @media print {
    .item-menu--item {
      float: left;
      display: block;
      margin-right: 3.57866%;
      width: 22.316%; }
      .item-menu--item:last-child {
        margin-right: 0; }
      .item-menu--item:nth-child(4n) {
        margin-right: 0; }
      .item-menu--item:nth-child(4n+1) {
        clear: left; } }

.item-menu--big-item {
  font-size: 1em;
  margin-bottom: 1.5em;
  position: relative;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .item-menu--big-item:last-child {
    margin-right: 0; }
  .item-menu--big-item:nth-child(3n) {
    margin-right: 0; }
  .item-menu--big-item:nth-child(3n+1) {
    clear: left; }
  @media screen and (max-width: 589px) {
    .item-menu--big-item {
      font-size: 0.8em;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      .item-menu--big-item:last-child {
        margin-right: 0; }
      .item-menu--big-item:nth-child(2n) {
        margin-right: 0; }
      .item-menu--big-item:nth-child(2n+1) {
        clear: left; } }
  .item-menu--big-item h3 {
    background-color: rgba(91, 118, 135, 0.7);
    color: white;
    font-size: 1.25em;
    font-weight: 200;
    padding: 0.75em;
    position: absolute;
    width: 100%; }

.resource-icon {
  font-family: 'icomoon';
  font-size: 1.125em;
  padding-right: 0;
  vertical-align: text-top; }
  .resource-icon.raw {
    color: #536573; }

.basic {
  background-color: rgba(91, 118, 135, 0.6);
  height: 216px;
  line-height: 1.2;
  margin-bottom: 1.5em;
  padding: 0.75em; }
  @media print {
    .basic {
      background-color: transparent;
      height: 180px; } }
  .basic a {
    color: white;
    font-weight: 200; }
    @media print {
      .basic a {
        color: #5b7687;
        font-weight: 400; } }

.resourceset-small {
  font-size: 0.9em;
  letter-spacing: 0.5px; }

.picture, .naked, .list-pic--img, .item-menu--big-item {
  margin-bottom: 3em; }
  .picture img, .naked img, .list-pic--img img, .item-menu--big-item img {
    box-shadow: 5px 5px 0px #ccc; }

.naked {
  font-weight: 200; }
  .naked a {
    display: block;
    font-weight: 600; }
  .naked a.item-menu--detail {
    font-weight: 200;
    display: inline; }

.list-pic {
  clear: left;
  margin-bottom: 3em; }

.list-pic--img {
  float: left; }

.list-pic--interviewee,
.list-pic--title {
  font-size: 1.5em;
  font-weight: 200; }

.list-pic--subtitle {
  font-style: italic; }

.list-pic--date, .list-pic--title, .list-pic--details, .list-pic--blurb, .list-pic--interviewee,
.list-pic--interviewer {
  margin-left: 180px; }

.list-pic--date {
  font-weight: 600;
  color: #5b7687; }

.item-menu--small-item {
  float: left;
  margin: 0 0.75em 0.75em 0; }
  .item-menu--small-item img {
    box-shadow: 5px 5px 0px #ccc; }
    .item-menu--small-item img:hover {
      opacity: 0.65; }

#paging {
  font-weight: 400; }
  @media screen and (min-width: 590px) and (max-width: 1088px) {
    #paging {
      font-size: 0.8em; } }

.previous {
  float: left;
  display: block;
  margin-right: 3.57866%;
  width: 22.316%; }
  .previous:last-child {
    margin-right: 0; }

.page-numbers {
  float: left;
  display: block;
  margin-right: 3.57866%;
  width: 48.21067%;
  text-align: center; }
  .page-numbers:last-child {
    margin-right: 0; }

.next {
  float: left;
  display: block;
  margin-right: 3.57866%;
  width: 22.316%;
  text-align: right; }
  .next:last-child {
    margin-right: 0; }

.page-nav, .page-nav--disabled, .page-nav--selected {
  display: inline; }

.page-nav, .page-nav--selected {
  border: thin solid #dee3e7;
  margin-right: 0.5em;
  padding: 0 0 0 4px; }
  .page-nav:hover, .page-nav--selected:hover {
    background-color: #dee3e7; }

.next-link, .prev-link {
  border: none; }
  .next-link:hover, .prev-link:hover {
    background-color: white;
    text-decoration: underline; }

.page-nav--selected {
  background-color: #dee3e7;
  border: thin solid #ddd;
  color: #5b7687;
  font-weight: 800;
  padding-right: 4px; }

.page-nav--disabled {
  color: #999; }

#popwrap {
  background-color: white;
  border: 1px solid #999;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.75);
  padding: 1.5em;
  overflow: auto; }

#popwrap h1 {
  font-size: 2em;
  font-weight: 200;
  margin: 0 0 0.75em 0; }

#popwrap h2 {
  font-size: 1.5em;
  font-weight: 400; }

#popwrap h3 {
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 0.25em; }

#popwrap h4 {
  font-size: 0.8em;
  font-weight: 600;
  margin: 0; }

#popwrap h5 {
  font-size: 0.8em;
  font-weight: 400; }

#popwrap p.close {
  /* for the close link */
  float: right; }

#popwrap p.credit, #infowindow p.credit {
  /* for credits */
  color: #999;
  font-size: 0.8em;
  margin: 0;
  padding: 0; }

span.selected img {
  opacity: 0.5; }

#popwrap ol {
  border-top: thin solid #999;
  color: #999;
  font-size: 0.8em;
  list-style-type: decimal; }
  #popwrap ol li {
    padding: .5em 0 .25em 0;
    margin-left: 1.5em; }

#popwrap sup {
  font-size: 0.8em; }

#popwrap ul li {
  /* CW Morgan Timeline...other uses? */
  padding-bottom: 1.5em; }

.pop-description {
  margin-top: 1.5em; }

#popwrap a.link_newpage {
  background: url(../images/link_newpage.gif) no-repeat right;
  padding-right: 14px; }

#popwrap img.vertical {
  float: left;
  margin-right: 20px;
  padding-bottom: 20px; }

#popwrap img.view {
  border: 1px solid #999; }

/* from pop auxiliry */
#popwrap video {
  max-width: 100% !important;
  height: auto;
  margin-top: 1em; }

#popwrap p.slidenav {
  /* for prev/next nav in slideshow */
  font-weight: 400;
  float: right;
  margin-top: -26px; }

.hidden {
  display: none; }

.unhidden {
  display: block; }

#lbOverlay {
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0px;
  width: 100%;
  height: 100%;
  background: url(../images/overlay.png) repeat;
  cursor: pointer; }

.pop_connection, .pop_collection {
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  /* this positions the slimpop relative to viewport, it won't scroll with the page */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* this seems to have no impact, but when deleted, the slimpop won't appear */
  z-index: 100; }

.pop_connection {
  margin: auto;
  max-height: 600px;
  width: 500px; }

.pop_collection {
  margin: 2% auto;
  max-height: 770px;
  width: 700px; }

.questions {
  list-style-type: decimal;
  padding-left: 1.5em; }
  .questions li {
    margin-bottom: 1.5em; }

.scenes-entry {
  margin-bottom: 1.5em; }
  .scenes-entry::after {
    clear: both;
    content: "";
    display: table; }

@media screen and (min-width: 580px) {
  .scenes-img {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .scenes-img:last-child {
      margin-right: 0; } }

@media screen and (min-width: 580px) {
  .scenes-main {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%; }
    .scenes-main:last-child {
      margin-right: 0; } }

.scenes-title {
  font-size: 1.5em; }

.scenes-date {
  color: #5b7687;
  font-weight: 600; }

.content-main--lecture {
  margin-top: 3em; }
  .content-main--lecture h2 {
    font-size: 1.5em;
    font-weight: 400; }
  @media print {
    .content-main--lecture audio {
      display: none; } }

.transcription {
  background-color: #dee3e7;
  border: thin solid #b2bdc7;
  border-radius: 20px;
  height: 200px;
  margin: 1.5em 0;
  overflow: auto;
  padding: 1.5em; }
  @media print {
    .transcription {
      background-color: transparent;
      border: none;
      border-radius: 0;
      height: auto;
      overflow: none;
      padding: 0; } }
  .transcription p {
    color: #5b7687; }

.interview-questions {
  background-color: #fff;
  border: thin solid #b2bdc7;
  border-radius: 20px;
  font-size: 0.8em;
  height: 400px;
  overflow: auto;
  padding: 0.75em; }
  @media print {
    .interview-questions {
      background-color: transparent;
      border: none;
      border-radius: 0;
      height: auto;
      overflow: none;
      padding: 0; } }
  .interview-questions a {
    font-weight: 600; }

.interview-questions {
  list-style-position: inside; }
  .interview-questions li {
    padding-bottom: 1.5em; }
    @media print {
      .interview-questions li {
        list-style-position: outside; } }

.video {
  position: relative;
  margin-bottom: 0.75em; }

.video video, .video canvas {
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%; }

video {
  height: 100% !important;
  position: absolute; }

.search-resources {
  width: 100%;
  text-align: left; }
  @media screen and (max-width: 68em) {
    .search-resources {
      padding: 1.5em;
      font-size: 0.85em; } }
  @media screen and (max-width: 43.125em) {
    .search-resources {
      font-size: 0.75rem; } }
  .search-resources img {
    font-size: .25em; }
  .search-resources tr {
    vertical-align: top; }
  .search-resources td {
    padding-right: 0.75em; }

.search-resources--heads {
  background-color: #dee3e7;
  border-bottom: 12px solid white;
  color: #5b7687; }

.search-resources--pic {
  max-width: 12%; }

.search-resources--title {
  width: 43%; }

.search-resources--type {
  width: 20%; }

.search-resources--content-by {
  width: 25%; }

.search-resources--title {
  font-weight: 600; }

.search-resources--field {
  float: left;
  display: block;
  margin-right: 7.42297%;
  width: 73.14426%;
  margin-bottom: 1.5em; }
  .search-resources--field:last-child {
    margin-right: 0; }

.search-resources--filters {
  margin-bottom: 1.5em; }

a.tooltip span.tiptext {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.75);
  display: none;
  font-size: 0.8em;
  line-height: 1;
  padding: 6px;
  z-index: 10; }

a.tooltip:hover span.tiptext {
  background: white;
  border: 1px solid #5b7687;
  color: #222;
  display: inline;
  position: absolute; }

a.tooltip:hover img {
  opacity: 0.65; }

/*# sourceMappingURL=application.css.map */
