{% extends "supporting/base_detail.html" %}
{% load staticfiles %}

{% block heading %}{{ object.content_type.plural_title }} {% endblock %}
{% block item_title %}{{ object.title|safe }}{% endblock %}

{% block slim_content%}
	
<script src="{% static 'js/interactive.js' %}" type="text/javascript"></script>

<section class="activity-col">
	<div id="svg_wrapper">

		{% include "supporting/special_detail/interactive_includes/_grallator.html" %}

	</div> <!-- svg_wrapper -->
</section>

<section class="activity-controls-col">

	<p><strong>How to:</strong> click on the footprint(s) in the image above. Click "show me" to reveal all the footprints. Click next to proceed.</p>
	
	<ul class="activities-controls">
		<li id="feedback">Feedback...</li>
		<li id="score">found: 0 of 4</li>
		<li><a class="show" href="#">show me</a></li>
		<li><a class="switch_interactive" href="grallator/3">&lArr; prev</a> | 
		<a class="switch_interactive" href="eubrontes/1">next &rArr;</a></li>
	</ul>

</section>

{% endblock slim_content %}

{% block related_items%}{% endblock related_items%}
