{% extends "supporting/base_detail.html" %}
{% load staticfiles %}

{% block heading %}{{ object.content_type.plural_title }} - Interactive {% endblock %}
{% block item_title %}{{ object.title|safe }}{% endblock %}

{% block slim_content%}
<script type="text/javascript">
	var numOfCorrect = {{slide.num_correct}};
</script>

<!-- <script src="{% static 'js/interactive.js' %}" type="text/javascript"></script> -->

<script type="text/javascript">
	// since this is in a slim called by ajax we can't just list the script directly
	$.getScript('{% static 'js/interactive.js' %}');
</script>

<section class="slideshow-col">
	<div id="slideshow-image">

		<img src="{% static 'supporting/special/interactive/fullpics/' %}{{ slide.image_name }}.jpg" class="double-border">
    <p class="caption slim-caption">{{ slide.caption }} Image courtesy of {{ slide.source.institution|safe }}.</p>

	</div> <!-- svg_wrapper -->
</section>

<section class="activity-controls-col">

	<h4 class="heading slim-subhead">How to:</h4>
  <p>{{ slide.narrative}}</p>
	
	<ul class="activities-controls">
		<li>
            <a class="swap_pop"  href="{% url 'supporting:special_detail_slide' object.slug 1 %}">Try Activity</a>
		</li>
	</ul>

</section>

{% endblock slim_content %}
{% block related_items%}{% endblock related_items%}
