{% extends "supporting/base_detail.html" %}
{% load staticfiles %}

{% block heading %}{{ object.content_type.plural_title }} {% endblock %}
{% block item_title %}{{ object.title|safe }}{% endblock %}

{% block slim_content%}
<script type="text/javascript">
	var numOfCorrect = {{slide.num_correct}};
</script>
<script src="{% static 'js/interactive.js' %}" type="text/javascript"></script>

<section class="activity-col">
	<!-- <div id="svg_wrapper"> -->

		{% with "supporting/special_detail/interactive_includes/_"|add:slide.image_name|add:".html" as template %}
		    {% include template %}

		{% endwith %}

	<!-- </div> --> <!-- svg_wrapper -->
</section>

<section class="activity-controls-col">

	<h4 class="heading slim-subhead">How to:</h4>
  <p>Click on the footprint(s) in each image. Click "show me" to reveal all the footprints. Click "next" to proceed.</p>
	
	<ul class="activities-controls">
		<li id="feedback">Feedback...</li>
		<li id="score">found: 0 of 4</li>
		<li><a class="show" href="#">show me</a></li>
		<li>
          {% if slide.get_prev %}
            <a class="swap_pop"  href="{% url 'supporting:special_detail_slide' object.slug slide.get_prev.slide_num %}">&lArr; prev</a>
          {% else %}
            &lArr; prev
          {% endif %}
         |
          {% if slide.get_next %}
            <a class="swap_pop"  href="{% url 'supporting:special_detail_slide' object.slug slide.get_next.slide_num %}">next &rArr;</a>
          {% else %}
            next &rArr;
          {% endif %}
		</li>
	</ul>

</section>

{% endblock slim_content %}
{% block related_items%}{% endblock related_items%}
