{% extends "supporting/base_detail.html" %}
{% load staticfiles %}

{% block heading %}{{ object.content_type.plural_title }} - Slideshow {% endblock %}
{% block item_title %}{{ object.title|safe }}{% endblock %}

{% block slim_content%}
	

<section class="slideshow-col">
	<div id="slideshow-image">

		<img src="{% static 'supporting/special/slideshow/fullpics/' %}{{ slide.image_name }}.jpg" class="double-border">
    <p class="caption slim-caption">DWH{{ slide.caption }} Image courtesy of {{ slide.source.institution|safe }}.</p>

	</div> <!-- svg_wrapper -->
</section>

<section class="slideshow-controls-col">

	<ul class="activities-controls">
		<li>
      <a class="swap_pop" 
        href="{% url 'supporting:special_detail_slide' object.slug 1 %}">View Slideshow</a>
		</li>
	</ul>

  <h4 class="heading slim-subhead">About this slideshow</h4>
  <p>{{ slide.narrative}}</p>


</section>

{% endblock slim_content %}

{% block related_items%}{% endblock related_items%}
