{% extends "supporting/base_detail.html" %}
{% load staticfiles %}

{% block heading %}{{ object.content_type.plural_title }} {% endblock %}
{% block item_title %}{{ object.title|safe }}{% endblock %}

{% block slim_content%}
	

<section class="activity-col">
	<div id="svg_wrapper">

		<img src="{% static 'supporting/special/slideshow/fullpics/' %}{{ slide.image_name }}.jpg" class="double-border">

	</div> <!-- svg_wrapper -->
</section>

<section class="activity-controls-col">

	caption: {{ slide.narrative}}

	<ul class="activities-controls">
		<li>
          {% if slide.get_prev %}
            <a class="swap_pop"  href="{% url 'supporting:special_detail_slide' object.slug slide.get_prev.slide_num %}">&lArr; prev</a>
          {% else %}
            &lArr; prev
          {% endif %}
         |
          {% if slide.get_next %}
            <a class="swap_pop"  href="{% url 'supporting:special_detail_slide' object.slug slide.get_next.slide_num %}">next &rArr;</a>
          {% else %}
            next &rArr;
          {% endif %}
		</li>
	</ul>

</section>

{% endblock slim_content %}

{% block related_items%}{% endblock related_items%}
