// Breakpoints
$medium-screen: em(640) !default;
$large-screen: em(860) !default;

// Typography
$base-font-family: $georgia;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;
$small-font-size: 0.8em;
$title-font-size: 2.5em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Spacing
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$large-spacing: $base-spacing * 2;

// Colors
$blue: #1565c0;
$dark-gray: #7d7664 !default;
$medium-gray: #999;
$light-gray: #ddd;
$light-taupe: #b3aa98;
$dark-taupe: #65605a;

// Font Colors
$base-font-color: $dark-gray !default;
$light-font-color: #fff4e4;
$accent-color: #d94a38;
$action-color: #d94a38;
$footer-color: $light-font-color;
$footer-link-color: transparentize($footer-color, 0.6);
$footer-disclaimer-color: transparentize($footer-color, 0.6);

// Background Colors
$base-background-color: $light-font-color;
$secondary-background-color: tint($light-taupe, 75%);
$panel-background-color: $dark-taupe;
$top-nav-background-color: #d2cdba;
$footer-background-color: $dark-taupe;

// Borders
$base-border-color: $light-taupe;
$base-border: 1px solid $base-border-color;
$double-border: double $base-border-color;

// Radii & Misc
$base-border-radius: 3px !default;
$base-z-index: 0;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;

// Top Navigation
$top-navigation-padding: 1em;
$top-navigation-logo-height: 2em;
$top-navigation-color: transparentize($base-font-color, 0.3);
$top-navigation-color-hover: $base-font-color;
$top-navigation-height: 60px;
$top-navigation-item-padding: 1em;
$top-navigation-submenu-padding: 1em;
$top-navigation-submenu-width: 16em;
$top-navigation-item-nudge: 2.2em;
$horizontal-bar-mode: $large-screen;
