{% extends "base_list.html" %}
{% load static image_extras %}

{% block title %}Impressions - About This Site{% endblock %}

{% block wrapper_class %}"content-wrapper--full"{% endblock wrapper_class %}

{% block content_area %}

  <section class="control-panel">

  	<h1 class="main-title">About This Site</h1>
  	
    <nav class="intra-page-nav">

      <ul>
        <li><a href="#overview">Site Overview</a></li>
        <li><a href="#pvma">About The Pocumtuck Valley Memorial Association</a></li>
        <li><a href="#contact">Contact Us</a></li>
        <li><a href="#credits">Credits and Sources</a></li>
        <li><a href="#funders">Funders</a></li>
      </ul>

    </nav>

  </section>

  <section class="text-page" id="top">

    <article id="overview">

      <h2 class="story-title accent">Site Overview</h2>

      <p>This website explores the mid-19th-century discovery of 3-toed footprints, later understood as dinosaur tracks, in the Connecticut River Valley in Massachusetts and Connecticut. It is surprising to most people that it was in New England, not Europe or the American West, that the first thorough scientific examination of dinosaur footprints took place. The significance of this discovery extended far beyond the emerging scientific community, with implications for American science, religion, arts, and culture.</p>

			<p><em>Impressions from a Lost World</em> is presented through Stories, Theme essays, brief People page biographies, informative Backdrops for historical and scientific context, Artifacts &amp; Documents to show primary source material, and Special Features to make information interactive. An interactive Map of the Connecticut River Valley shows where the events took place and provides another way to explore the content of the website. It includes a road map, in case you want to add a dinosaur footprint itinerary to your touring.</p>

			<h2 class="heading accent">Stories</h2>
			<p>The Stories are about real people and real events. Although you can approach the site's content from any point you choose, the stories provide a structure for organizing the other features on the site. Three stories focus on Edward and Orra Hitchcock's partnership in science, art, religion, and education. The other three revolve around the discovery of dinosaur footprints. The stories are:</p>
			<ul class="about-list">
				<li><em>Refinement and Romance: Education, Art, Science, and Religion</em></li>
				<li><em>Working Together: Lifelong Companions in Science, Art, and Religion</em></li>
				<li><em>A Geological Pilgrimage: The Hitchcocks Tour Europe in 1850</em></li>
				<li><em>Noah's Raven: Interpreting the Mysterious Marks in Stone</em></li>
				<li><em>A Common Man's Uncommon Discovery: Dinosaur Footprints in Sidewalk Slabs</em></li>
				<li><em>Whose Discovery Was It? The Tracks in Popular and Scientific Senses</em></li>
			</ul>

			<p>Each story has an introductory page followed by several chapters. Don't miss the "Dig Deeper" beneath chapter text that provides links to People, Backdrops, Artifacts &amp; Documents, and Special Features relevant to that chapter.</p>

			<h2 class="heading accent">Map</h2>
			<p>The interactive map lets you geographically explore the story events and the history and science of dinosaur footprints and geology of the Connecticut River Valley. The map has four primary layers which you can look at individually or stacked on each other as overlays. There are three categories of map markers: Fossils &amp; Geology, Places to Visit, and Historical Sites. Selecting a set of markers will plot the relevant places on the map and provide brief information about each site. At the lower right, you can access Dig Deeper readings to enhance your understanding of what you see on the map.</p>

			<h2 class="heading accent">Themes</h2>
			<p>Written by the project scholars, the Themes explore large ideas that help to contextualize the content in the site, connecting local stories and people to larger movements and ideas current in 19th century America. The Themes are:</p>
			<ul class="about-list">
				<li><em>Digging Out of the Separate Sphere: Women in 19th Century Geology</em></li>
				<li><em>From Turkey Tracks to Dinosaur Footprints: Interpreting the Fossil Footprint Evidence</em></li>
				<li><em>Impressions on the Culture: Dinosaur Footprints in Literature and Art</em></li>
				<li><em>Subduing the Earth: The Rise of Exploration and Exploitation</em></li>
				<li><em>The Unity of All Knowledge: Science and Religion in Harmony</em></li>
				<li><em>The World They Knew: Advances in Science and Technology Changed Americans' Experience</em></li>
				<li><em>Who Owns Science? From Amateur Naturalist to Professional Scientist</em></li>
			</ul>

			<h2 class="heading accent">People</h2>
			<p>People Pages relate brief biographical material relevant to each person's role  in the website.  Those for primary figures, such as Edward Hitchcock, have in-depth information, while  less central figures let you know briefly who the person is and his or her relation to this website. When a person is mentioned in a Story, his or her People Page can be found in the Dig Deeper area of the chapter.</p>

			<h2 class="heading accent">Evidence: Artifacts &amp; Documents</h2>
			<p>The primary sources are presented in zoomable images of the object or document, with brief text to help interpret the item and place it in historical context. Manuscripts have been transcribed. As appropriate, curatorial information such as origin date, materials, dimensions and author or creator is included.</p>

			<h2 class="heading accent">Backdrops</h2>
			<p>These concise, illustrated essays provide background information about historical events or scientific concepts to enhance your understanding of the events, concepts, places, and themes mentioned throughout the website.</p>

			<h2 class="heading accent">Special Features</h2>
			<p>Special Features include a variety of interactive media presentations and activities. Much of the science and dinosaur-related material on the site can be found here. The types are:</p>
			<ul class="about-list">
				<li>Activities: Hands-on exploration of an artifact or image.</li>
				<li>Voices: Dramatic reading of poetry and quotations of people in the stories.</li>
				<li>Video Stories: 14 brief (2-5 minute) videos of historians and scientists to help you understand more about dinosaur footprints and how they fit into regional geology.</li>
				<li>Then and Now: Simultaneously look at the same view juxtaposed in two different time periods.</li>
				<li>SlideShows: Images show art, history, and geological and paleontological ideas, with brief explanations in the captions.</li>
				<li>Looking &amp; Seeing: Narrated slideshows show how 19th-century artists visually expressed their knowledge of geology, as it was understood in their time and place.</li>
			</ul>
			<p class="prompt"><a href="#top">top of page</a></p>
    </article>

    <article id="pvma">
			<h2 class="story-title accent">About The Pocumtuck Valley Memorial Association</h2>

			<p>The Pocumtuck Valley Memorial Association (PVMA) in the town of Deerfield in western Massachusetts was awarded grants to produce this website and an array of related programs from two federal agencies, the National Endowment for the Humanities (NEH) and the Institute of Museum and Library Services (IMLS), and a state agency, the Massachusetts Cultural Council (MCC).</p>

			<p>The PVMA has strong connections central to the story of <em>Impressions from a Lost World.</em> Edward Hitchcock was born and raised in Deerfield, and he met his wife, Orra White Hitchcock, when both were teaching at Deerfield Academy. PVMA's archives hold papers from both sides of Edward’s family, the Hitchcocks and the Hoyts, and related primary source background materials. In addition, PVMA's Memorial Hall Museum is housed in the original 1799 building of Deerfield Academy, which today operates nearby in the village. </p>

			<p>Founded in 1870, the <a href="http://www.deerfield-ma.org/" target="_blank">Pocumtuck Valley Memorial Association</a> is one of the oldest local history organizations in America. PVMA’s mission is to preserve and communicate the multicultural history of the Connecticut River and Deerfield River valleys, a region stretching from Springfield, Massachusetts, and the border with Connecticut in the south to the Vermont and New Hampshire borders in the north. PVMA collects, preserves, and exhibits historic artifacts and documents and interprets them in the wider context of regional, U.S., and world history. Now a regional historical society with diverse local,  regional and national audiences, PVMA is interested in the entire scope of New England history, ranging from the ancestral peoples of the Pocumtucks to free and enslaved African Americans to 20th century immigrants. PVMA is also home to the Deerfield Teachers' Center and the Indian House Children's Museum.</p>

			<p>In 1880, ten years after its founding, PVMA obtained the old Deerfield Academy building and opened Memorial Hall Museum. PVMA’s Memorial Library was originally also housed in the old Academy but is now administered with the Historic Deerfield, Inc., library in the adjacent research facility. The combined PVMA museum and library collections include over 70,000 objects and 15,000 printed books and 900 linear feet of manuscripts, newspapers, and photographs which represent to an extraordinary degree, the life and thought of this region from the close of the 17th century to the opening of the 20th century.</p>

			<p>PVMA has exceptional expertise in historical website programs; it has created two award-winning websites, <a href="http://www.americancenturies.mass.edu/"  target="_blank"><em>American Centuries: A View from New England</em></a>, an educational website using historic documents and objects as a window into understanding American history, and <a href="http://1704.deerfield.history.museum/" target="_blank"><em>Raid on Deerfield: The Many Stories of 1704</em></a>, which has received accolades for its engaging and innovative approaches. The story of the famous Deerfield Arts and Crafts Movement is the subject of a third PVMA website:  <a href="http://artscrafts-deerfield.org/" target="_blank"><em>The Arts and Crafts Moment in Deerfield</em></a>. PVMA also partnered with Springfield Technical Community College, Springfield, MA, to produce <a href="http://shaysrebellion.stcc.edu/" target="_blank"><em>Shays&rsquo; Rebellion &amp; the Making of a Nation</em></a>.</p>
			<p class="prompt"><a href="#top">top of page</a></p>
    </article>
    
    <article id="contact">
			<h2 class="story-title accent">Contact Us</h2>

			<p>We hope you enjoy exploring this website and would be happy to hear from you with questions or feedback about the site.</p>
			<p>Contact Information:</p>
			<ul>
				<li>Pocumtuck Valley Memorial Association</li>
				<li>10 Memorial Street, PO Box 428</li>
				<li>Deerfield, Massachusetts 01342-0428</li>
				<li><a href="mailto:pvmaoffice@deerfield.history.museum">pvmaoffice@deerfield.history.museum</a>, 413-774-7476</li>
			</ul>
			<p class="prompt"><a href="#top">top of page</a></p>
    </article>

    <article id="credits">
			<h2 class="story-title accent">Credits and Sources</h2>
			<h2 class="subtitle">Project Personnel</h2>
			<h2 class="heading accent">Core Team</h2>
			<ul>
		    <li>Don Button, Technical Director, Digital Gizmo</li>
		    <li>Sarah Doyle, Project Coordinator</li>
		    <li>Beth Gilgun, Picture Research, Permissions Acquisition, Writer</li>
		    <li>Juliet Jacobson, Design Director, Digital Gizmo</li>
		    <li>Tony Jillson, Birdwaves Media</li>
		    <li>Lynne Manring, Director, Deerfield Teachers’ Center, PVMA</li>
		    <li>Louise Neidle, Production Coordinator</li>
		    <li>Timothy Neumann, Project Director, Executive Director, PVMA</li>
		    <li>Jeanne Sojka, Grant Financial Administrator, PVMA</li>
			</ul>
			<h2 class="heading accent">Web Development</h2>
			<ul>
		    <li>Don Button, Technical Director, Digital Gizmo</li>
		    <li>Juliet Jacobson, Design Director, Digital Gizmo</li>
			</ul>
			<h2 class="heading accent">Research and Writing</h2>
			<ul>
		    <li>Jane Roy Brown, Writer/Editor</li>
		    <li>Sarah Doyle, Content Editor, Writing Director </li>
		    <li>Beth Gilgun, Picture Research, Permissions Acquisition, Writer</li>
		    <li>Lynne Manring, Director, Deerfield Teachers' Center, PVMA</li>
		    <li>Dr. Barbara A. Mathews, Public Historian, Historic Deerfield, Inc.</li>
			</ul>
			<h2 class="heading accent">Scholar Advisors</h2>
			<ul>
		    <li>Dr. Rebecca Bedell, Associate Professor of Art, Wellesley College</li>
		    <li>Dr. Robert Herbert, Professor of Art History, Emeritus, Mount Holyoke College</li>
		    <li>Nicholas McDonald, Curatorial Affiliate, Peabody Museum, Yale University, and Geology Instructor (Emeritus), Westminster School, Simsbury, Connecticut</li>
		    <li>Dr. Jeffry Ramsey, Associate Professor of Philosophy, Smith College</li>
		    <li>Dr. John W. Servos (Lead Scholar Consultant), Anson D. Morse Professor of History, Amherst College</li>
		    <li>Steve Winters, Faculty, Environmental Science, Holyoke Community College</li>
		    <li>Alfred Venne, Museum Educator, Beneski Museum of Natural History, Amherst College</li>
			</ul>
			<h2 class="heading accent">Media</h2>
			<ul>
		    <li>Tony Jillson, Birdwaves Media: Video, Audio, Music, Photography, Graphics, Image Production, Voice Over</li>
			  <li>Penny Leveritt, Photographer, Historic Deerfield, Inc.</li>
			</ul>
			<h2 class="heading accent">Guest Writers</h2>
			<ul>
		    <li>Dr. Jordan D. March&eacute; II, Independent Scholar</li>
		    <li>Dr. Theresa A. March&eacute;, Associate Professor (Emerita) of Art Education, University of Wisconsin—Madison </li>
		    <li>Elizabeth Nash, Writer/Editor</li>
		    <li>Dr. Jason M. Opal, Associate Professor of History, McGill University</li>
			</ul>
			<h2 class="heading accent">Video Scholars</h2>
			<ul>
		    <li>Dr. Robert T. Bakker, Morrison Museum, Morrison, Colorado and Curator of Paleontology, Houston Museum of Natural Science</li>
		    <li>Dr. John Brady, Mary Elizabeth Professor of Geosciences, Smith College</li>
		    <li>Dr. Peter Falkingham, Natural Sciences and Psychology, Liverpool John Moores University</li>
		    <li>Dr. James Farlow, Professor of Geosciences (Emeritus), Indiana University-Purdue University Fort Wayne</li>
		    <li>Dr. Stephen M. Gatesy, Professor of Biology, Professor of Medical Science, Brown University</li>
		    <li>Alfred Venne, Museum Educator, Beneski Museum of Natural History, Amherst College</li>
			</ul>
			<h2 class="heading accent">Illustrators</h2>
			<ul>
		    <li>Will Sillin, Dinosaur Scenes</li>
		    <li>Monica Vachula, Story Illustrations</li>
			</ul>
			<h2 class="heading accent">Voice Acting</h2>
			<ul>
		    <li>Enchanted Circle Theater: Steve Angel, Emma Ayers, Alex Daviau, James Emery, Brendan Hellweg, John Hellweg, Anthony Melting Tallow, Dennis Quinn, Melissa Redwin, Anna Sobel</li>
		    <li>Recording facilities, WGBY Springfield</li>
		    <li>Audio Technician, Alejandro Cameron</li>
		    <li>Stage Manager, Keith Clark</li>
			</ul>
			<h2 class="heading accent">Additional Advisors</h2>
			<ul>
		    <li>David Bosse, Librarian and Curator of Maps, Memorial Libraries, Deerfield, Massachusetts</li>
		    <li>Rob Cox, Head, Special Collections and University Archives, University of Massachusetts—Amherst </li>
		    <li>Bill Finn, Holyoke, Massachusetts</li>
		    <li>Suzanne Flynt, Curator, Memorial Hall Museum, PVMA</li>
		    <li>Joe Kopera, Geologist</li>
		    <li>Dr. Robert Ryan, Graduate Program Director, Department of Landscape Architecture &amp; Regional Planning, University of Massachusetts—Amherst, and the graduate students of LA 607 Studio, Fall 2015</li>
		    <li>Bill Schweikert, Northfield, Massachusetts</li>
			</ul>
			<h2 class="heading accent">PVMA Staff</h2>
			<ul>
		    <li>Susan Atkins, Editing</li>
		    <li>Sheila Damkoehler, Community Outreach Coordinator</li>
		    <li>Lynn Manring, PVMA Education Programs Director</li>
		    <li>Elisa Martin, Executive  Assistant</li>
		    <li>Lee Oldenburg, Executive  Assistant</li>
		    <li>Piper Pichette, PVMA Educator</li>
		    <li>Reba-Jean Shaw-Pichette, PVMA Educator</li>
			</ul>
			<h2 class="heading accent">Evaluation</h2>
			<ul>
		    <li>Marilyn McArthur</li>
			</ul>
			<h2 class="heading accent">Project Partners</h2>
			<ul>
		    <li>Amherst College Archives and Special Collections</li>
		    <li>Beneski Museum of Natural History, Amherst College</li>
		    <li>Connecticut River Watershed Council, Greenfield, Massachusetts</li>
		    <li>Dinosaur State Park, Rocky Hill, Connecticut</li>
		    <li>Great Falls Discovery Center, Turners Falls, Massachusetts</li>
		    <li>Kornell Nash, Nash Dinosaur Track Quarry &amp; Rock Shop, Granby, Massachusetts</li>
		    <li>Springfield Science Museum, Springfield, Massachusetts</li>
		    <li>The Trustees Dinosaur Footprints Site, Holyoke, Massachusetts</li>
			</ul>
			<h2 class="heading accent">Special Thank You to:</h2>
			<ul>
		    <li>Andy Brodeur</li>
		    <li>Margaret Dakin and Sarah Walden McGowen, Amherst College Archives and Special Collections</li>
		    <li>Dr. David Eve and students from the Massachusetts College of Liberal Arts</li>
			<li>Dr. Patrick Getty, Visiting Assistant Professor at University of Connecticut</li>
		    <li>Historic Deerfield, Inc.</li>
		    <li>Anne Lozier, Deerfield Academy Archives</li>
		    <li>Dr. Paul E. Olsen, Arthur D. Storke Memorial Professor Earth and Environmental Sciences, Columbia University</li>
		    <li>The Jurassic Roadshow Track Pack: Lorraine Algozer, Andrew Brodeur, John Fellows, Ed Gregory, Anne Harding, Adriane Lam, Armene Margosian, Harry Sharbaugh, Gini Traub, Joyce VanderKieft, Steve Winters</li>
		    <li>We would like to express special appreciation to Bob Herbert, for without his transcriptions of the Hitchcock-Silliman correspondence and related essays, his biographies of James Deane, Roswell Field, and Dexter Marsh, and his work with Daria D'Arienzo on the art of Orra White Hitchcock, this website would not have been possible.</li>
			</ul>
		
			<h2 class="subtitle">Image Sources</h2>
					
			<ul>
				<li><a href="http://www.alamy.com" target="_blank">Alamy Stock Photo</a></li>
				<li><a href="https://www.aaas.org/" target="_blank">American Association for the Advancement of Science</a></li>
				<li><a href="http://www.ajsonline.org/" target="_blank">American Journal of Science</a></li>
				<li><a href="https://www.amherst.edu/library/archives/holdings/" target="_blank">Amherst College Archives and Special Collections:</a> Building and Grounds Collection, Dexter Marsh Collection, Edward and Orra White Hitchcock Collection</li>
				<li><a href="http://www.mdhs.org/museum/collections" target="_blank">Baltimore City Life Museum Collection/Museum Department</a></li>
				<li><a href="http://beinecke.library.yale.edu/" target="_blank">Beinecke Rare Book &amp; Manuscript Library, Yale University</a></li>
				<li><a href="https://www.amherst.edu/museums/naturalhistory" target="_blank">Beneski Museum of Natural History at Amherst College</a></li>
				<li><a href="http://www.pittsfieldlibrary.org/" target="_blank">Berkshire Athenaeum</a></li>
				<li><a href="http://www.lib.cam.ac.uk" target="_blank">Cambridge University Library</a></li>
				<li><a href="http://www2.ville.montreal.qc.ca/archives/500ans/portail_archives_en/accueil.html" target="_blank">City of Montreal, Records Management and Archives</a></li>
				<li><a href="https://collage.cityoflondon.gov.uk" target="_blank">Collage-The London Picture Gallery, City of London</a></li>
				<li><a href="https://deerfield.edu/departments/administrative-departments/academy-archives" target="_blank">Deerfield Academy Archives</a></li>
				<li><a href="http://www.dinosaurstatepark.org" target="_blank">Dinosaur State Park and Arboretum</a></li>
				<li><a href="http://www.mass.gov/courts/court-info/courthouses/fram-green/franklin-superior-court-generic.html" target="_blank">Franklin County Courthouse, Greenfield, Massachusetts</a></li>
				<li><a href="http://www.mass.gov/courts/court-info/courthouses/fram-green/franklin-probate-family-court-generic.html" target="_blank">Franklin County Probate Court, Greenfield, Massachusetts</a></li>
				<li>Dr. Patrick Getty, Visiting Assistant Professor at University of Connecticut</li>
				<li><a href="http://www.gillmass.org/historical.php" target="_blank">Gill Historical Commission</a></li>
				<li>Ed Gregory Archive</li>
				<li><a href="http://www.harvardartmuseums.org" target="_blank">Harvard Art Museum</a></li>
				<li><a href="https://www.historic-deerfield.org/discover-deerfield/memorial-libraries" target="_blank">Historic Deerfield Library, Deerfield, Massachusetts</a></li>
				<li><a href="http://www.historic-deerfield.org" target="_blank">Historic Deerfield, Inc.</a></li>
				<li><a href="http://www.greenfieldhistoricalsociety.com" target="_blank">Historical Society of Greenfield, Massachusetts</a></li>
				<li><a href="https://archive.org" target="_blank">Internet Archive</a></li>
				<li><a href="http://onlinebooks.library.upenn.edu/webbin/serial?id=knickerbockernym" target="_blank">The Knickerbocker</a></li>
				<li><a href="https://www.loc.gov" target="_blank">Library of Congress Prints and Photographs Division</a></li>
				<li><a href="http://www.guthookhikes.com" target="_blank">Ryan Linn at Guthook Hikes</a></li>
				<li><a href="https://www.arthur-conan-doyle.com/index.php?title=The_Lost_World" target="_blank">The Lost World</a></li>
				<li>Nicholas McDonald, Curatorial Affiliate, Peabody Museum, Yale University, and Geology Instructor (Emeritus), Westminster School, Simsbury, Connecticut</li>
				<li><a href="https://www.amherst.edu/museums/mead" target="_blank">Mead Art Museum, Amherst College</a></li>
				<li><a href="http://www.metmuseum.org" target="_blank">Metropolitan Museum of Art</a></li>
				<li><a href="https://www.mtholyoke.edu" target="_blank">Mount Holyoke College</a></li>
				<li><a href="http://www.nashdinosaurtracks.com" target="_blank">Nash Dinosaur Track Quarry and Rock Shop</a></li>
				<li><a href="https://www.nga.gov/content/ngaweb.html" target="_blank">National Gallery of Art</a></li>
				<li><a href="https://www.scienceandmediamuseum.org.uk" target="_blank">National Science + Media Museum, Bradford, England</a></li>
				<li><a href="http://www.npg.org.uk/" target="_blank">National Portrait Gallery, U.K.</a></li>
				<li><a href="https://www.nypl.org" target="_blank">New York Public Library</a></li>
				<li>Northfield Mountain Conservation and Recreation Center, Northfield, Massachusetts</li>
				<li><a href="https://www.pafa.org" target="_blank">Pennsylvania Academy of the Fine Arts</a></li>
				<li><a href="http://www.city-data.com" target="_blank">City-Data.com</a></li>
				<li><a href="https://deerfield-ma.org/about/library" target="_blank">Pocumtuck Valley Memorial Association Library</a></li>
				<li><a href="https://deerfield-ma.org/about/memorial-hall-museum" target="_blank">Pocumtuck Valley Memorial Association/Memorial Hall Museum</a></li>
				<li><a href="https://www.smith.edu/libraries/special-collections" target="_blank">Smith College Special Collections</a></li>
				<li><a href="http://americanart.si.edu" target="_blank">Smithsonian American Art Museum</a></li>
				<li><a href="https://siarchives.si.edu" target="_blank">Smithsonian Institution Archives</a></li>
				<li><a href="https://www.si.edu/researchcenters/si-libraries" target="_blank">Smithsonian Institution Libraries</a></li>
				<li><a href="https://www.si.edu" target="_blank">Smithsonian Museum</a></li>
				<li><a href="http://npg.si.edu" target="_blank">Smithsonian National Portrait Gallery</a></li>
				<li><a href="http://www.clarkart.edu" target="_blank">Sterling and Francine Clark Art Institute, Williamstown, Massachusetts</a></li>
				<li><a href="http://www.gla.ac.uk/services/specialcollections/collectionsa-z/hilladamson/collectionoverview" target="_blank">University of Glasgow Library, Hill &amp; Adamson Collection</a></li>
				<li>Daniel A. Vellone, Northeast Regional Geologist, USDA-Natural Resources Conservation Service</li>
				<li><a href="https://www.vam.ac.uk" target="_blank">The Victoria &amp; Albert Museum</a></li>
				<li><a href="https://thewadsworth.org" target="_blank">Wadsworth Atheneum</a></li>
				<li><a href="https://wellcomelibrary.org" target="_blank">Wellcome Library, London</a></li>
				<li><a href="https://commons.wikimedia.org/wiki/Main_Page" target="_blank">Wikimedia Commons</a></li>
				<li><a href="http://web.library.yale.edu/mssa" target="_blank">Yale University Manuscripts and Archives</a></li>
			</ul>

			<p class="prompt"><a href="#top">top of page</a></p>
		</article>

    <article id="funders">
			<h2 class="story-title accent">Funders</h2>  

			<p>This project was made possible by major grants from the <a href="http://www.neh.gov" target="_blank">National Endowment for the Humanities</a> (NEH), the <a href="http://www.imls.gov" target="_blank">Institute of Museum and Library Services</a> (IMLS), and the <a href="http://www.massculturalcouncil.org" target="_blank">Massachusetts Cultural Council</a> (MCC), a state agency.</p>

			<ul class="funder-logos">
				<li><a href="http://www.neh.gov" target="_blank"><img src="/static/images/logo-neh.jpg" alt="NEH logo"></a></li>
				<li><a href="http://www.imls.gov" target="_blank"><img src="/static/images/logo-imls.jpg" alt="IMLS logo"></a></li>
				<li><a href="http://www.massculturalcouncil.org" target="_blank"><img src="/static/images/logo-mcc.jpg" alt="MCC logo"></a></li>
			</ul>

			<p>We are grateful for the support of the members and donors to the Pocumtuck Valley Memorial Association, Deerfield, Massachusetts.</p>

			<p>Any views, findings, conclusions, or recommendations expressed in this website do not necessarily represent those of our funders.</p>
			<p class="prompt"><a href="#top">top of page</a></p>

		</article>

  </section>

{% endblock content_area %}
