{% extends "base_list.html" %}
{% load static image_extras %}

{% block title %}For Further Study{% endblock %}

{% block wrapper_class %}"content-wrapper--full"{% endblock wrapper_class %}

{% block content_area %}

  <section class="control-panel">
    
  <h1 class="main-title">For Further Study</h1>

    <nav class="intra-page-nav">

      <ul>
        <li><a href="#books">Books and Articles</a></li>
        <li><a href="#sources">Printed Primary Sources</a></li>
        <li><a href="#archival">Archival Resources</a></li>
        <li><a href="#websites">Websites</a></li>
      </ul>

    </nav>

  </section>

  <section class="text-page" id="top">

    <article id="books">

      <h2 class="story-title accent">Books and Articles</h2>

      <ul>

        <li>Albritton, Claude C., Jr. <em>Catastrophic Episodes in Earth History</em>. London: Chapman &amp; Hall, 1989.</li>

        <li>Aldrich, Michele L. &ldquo;Edward Hitchcock.&rdquo; <em>Dictionary of Scientific Biography</em>. edited by Charles Coulston Gillispie. New York: Scribner, 1970-1990.</li>

        <li>Allen, Don Cameron. &ldquo;Science and the Universality of the Flood.&rdquo; <em>The Flood Myth</em>. edited by Alan Dundes. Berkeley: University of California Press, 1988. pp. 357-382.</li>

        <li><em>A Woman of Amherst: The Travel Diaries of Orra White Hitchcock</em>, 1847 and 1850. Transcribed, edited, and annotated by Robert L. Herbert. New York, Bloomington, Shanghai: iUniverse, Inc. 2008.</li>

        <li>Baigell, Matthew &amp; Alan Kauffman. &ldquo;Thomas Cole&rsquo;s 'The Oxbow': A critique of American civilization.&rdquo; <em>Arts Magazine</em>, 55, January 1981, pp. 136-39.</li>

        <li>Baxter, Stephen. <em>Ages in Chaos: James Hutton and the Discovery of Deep Time</em>. New York: Forge Books, 2004.</li>

        <li>Bedell, Rebecca. <em>The Anatomy of Nature: Geology &amp; American Landscape Painting, 1825-1875</em>. Princeton: Princeton University Press, 2001.</li>

        <li>Brooke, John Hedley. <em>Science and Religion: Some Historical Perspectives</em>. Cambridge: Cambridge University Press, 1991.</li>

        <li>Brown, Chandos Michael. <em>Benjamin Silliman: A Life in the Young Republic</em>. Princeton: Princeton University Press, 1989.</li>

        <li>Bruce, Robert V. <em>The Launching of Modern American Science, 1846-1876</em>. New York: Alfred A. Knopf, 1987.</li>

        <li>Burton, John. <em>Lectures on Female Education and Manners</em>. vol. I, 2nd ed. New York: Source Book Press, 1970. Originally published in 1793.</li>

        <li>Bynum, William F. &amp; E. J. Brown. <em>Dictionary of the History of Science</em>. Princeton: Princeton University Press, 1981.</li>

        <li>Cadbury, Deborah. <em>Terrible Lizard: The First Dinosaur Hunters and the Birth of a New Science</em>. New York: Henry Holt and Co., 2000.</li>

        <li>Colbert, Edwin H. <em>The Great Dinosaur Hunters and Their Discoveries</em>. New York: Dover Publications, 1984. </li>

        <li>Coniff, Richard. <em>The Species Seekers: Heroes, Fools, and the Mad Pursuit of Life on Earth</em>. New York &amp; London: W.W. Norton and Company, 2011.</li>

        <li>Cutler, Alan. <em>The Seashell on the Mountaintop: How Nicolaus Steno Solved an Ancient Mystery and Created a Science of the Earth</em>. New York: A Plume Book published by the Penguin Group, 2003.</li>

        <li>D&rsquo;Arienzo, Daria &amp; Robert L. Herbert. <em>Orra White Hitchcock: An Amherst Woman of Art and Science</em>. Amherst College: Mead Art Museum, 2011.</li>

        <li><em>Dictionary of Scientific Biography</em>. edited by Charles Coulston Gillispie. New York: Scribner, 1970-1990.</li>

        <li>Doezema, Marianne. <em>Changing Prospects: the View from Mount Holyoke</em>. Ithaca: Cornell University Press, 2002.</li>

        <li>Duncan, Carol. &ldquo;Happy Mothers and Other New Ideas in Eighteenth Century French Art.&rdquo; <em>Feminism and Art History: Questioning the Litany</em>. edited by Norma Broude and Mary D. Garrard. New York: Harper &amp; Row, 1982. pp. 201-219.</li>

        <li><em>Early Maps of Greenfield, Massachusetts, 1717-1918, With a Narrative History</em>. Published on the Occasion of the 250th Anniversary of the Founding of Greenfield. Foreword by David Allen. West Chesterfield, NH: Old Maps, 2003.</li>

        <li>Flynt, Suzanne L. <em>Ornamental and Useful Accomplishments: Schoolgirl Education and Deerfield Academy 1800-1830</em>. Deerfield, MA: Pocumtuck Valley Memorial Association, 1988.</li>

        <li>Foose, R. M. and J. Lancaster. &ldquo;Edward Hitchcock: New England geologist, minister, and educator.&rdquo; <em>Northeast Geology</em>, vol. 3, no. 1, 1981.</li>

        <li>Freeman, Michael. <em>Victorians and the Prehistoric: Tracks to a Lost World</em>. New Haven: Yale University Press, 2004.</li>

        <li>Gillispie, Charles Coulston. <em>Genesis and Geology: A Study in the Relations of Scientific Thought, Natural Theology, and Social Opinion in Great Britain, 1790-1850</em>. Cambridge: Harvard University Press, 1951.</li>

        <li>Gordon, Lyndall. <em>Lives Like Loaded Guns: Emily Dickinson and Her Family&rsquo;s Feuds</em>. London: Virago Press, 2010.</li>

        <li>Gosse, Edmund. <em>Father and Son: A Study of Two Temperaments</em>. London: Penguin Books, 1983. Originally published in 1907.</li>

        <li>Greene, Mott T. <em>Geology in the 19th Century: Changing Views of a Changing World</em>. Ithaca: Cornell University Press, 1982.</li>

        <li>Guralnick, Stanley M. &ldquo;Geology and Religion before Darwin: The Case of Edward Hitchcock, Theologian and Geologist (1793–1864).&rdquo; <em>Isis</em> 63, 1972, pp. 529–543.</li>

        <li>Hart, Ellen Louise, and Martha Nell Smith. <em>Open Me Carefully: Emily Dickinson&rsquo;s Intimate Letters to Susan Huntington Dickinson</em>. Ashfield, Mass.: Paris Press, 1998.</li>

        <li>Herbert, Robert L. &ldquo;The Sublime Landscapes of Western Massachusetts: Edward Hitchcock&rsquo;s Romantic Naturalism.&rdquo; <em>Massachusetts Historical Review</em>. vol. 12, 2010, pp. 71-99.</li>

        <li>Hitchcock, Frederick H. <em>The Handbook of Amherst: New Edition of the Classic.</em> edited by Richard Panchyk. Charleston, SC: The History Press, 2007. Originally published in 1891.</li>

        <li>Holmes, Richard. <em>The Age of Wonder: How the Romantic Generation Discovered the Beauty and Terror of Science</em>. New York: HarperCollins, 2008.</li>

        <li>Howe, Daniel Walker. <em>What God Hath Wrought: The Transformation of America, 1815-1848</em>. New York: Oxford University Press, 2007.</li>

        <li>Jaffee, David. &ldquo;The Village Enlightenment in New England, 1760-1820.&rdquo; <em>The William and Mary Quarterly</em>, 3rd Series, vol. 47, no.3, July 1990, pp. 327-46.</li>

        <li>Kelly, Catherine. <em>In the New England Fashion: Reshaping Women&rsquo;s Lives in the Nineteenth Century</em>. Ithaca: Cornell University Press, 1999.</li>

        <li>Kohlstedt, Sally Gregory. &ldquo;Parlors, Primers, and Public Schooling: Education for Science in Nineteenth-Century America.&rdquo; <em>The Scientific Enterprise in America: Readings from ISIS</em>: edited by Ronald L. Numbers and Charles E. Rosenberg. Chicago: University of Chicago Press, 1996. pp. 61-82.</li>

        <li>Larkin, Jack. <em>The Reshaping of Everyday Life</em>. New York: Harper Perennial, 1988.</li>

        <li>Larson, Edward J. Evolution: <em>The Remarkable History of Scientific Theory</em>. New York: Random House, 2004.</li>

        <li>Larson, John Lauritz. <em>Internal Improvement: National Public Works and the Promise of Popular Government in the Early United States</em>. Chapel Hill: University of North Carolina Press, 2001.</li>

        <li>Le Duc, Thomas. <em>Piety and Intellect at Amherst College, 1865-1912</em>. New York: Columbia University Press, 1946.</li>

        <li>LeTourneau, Peter M., Nicholas G. McDonald, Paul E. Olsen, Timothy C. Ku, and Patrick R. Getty, &ldquo;Fossils and Facies of the Connecticut Valley Lowland: Ecosystem Structure and Sedimentary Dynamics Along the Footwall Margin of an Active Rift.&rdquo; <em>Guidebook for Field Trips in Connecticut and Massachusetts</em>. 107th Meeting of the New England Intercollegiate Geological Conference, hosted by the Department of Earth and Environmental Sciences, Wesleyan University, Middletown, CT, Oct. 9-11, 2015.</li>

        <li>Levin, Miriam R. <em>Defining Women&rsquo;s Scientific Enterprise: Mount Holyoke Faculty and the Rise of American Science</em>. Hanover &amp; London: University Press of New England, 2005.</li>

        <li>Lewis, Andrew J. <em>A Democracy of Facts: Natural History in the Early Republic</em>. Philadelphia: University of Pennsylvania Press, 2011.</li>

        <li>Little, Richard D. <em>Dinosaurs, Dunes, and Drifting Continents</em>, 3rd ed. Easthampton, Mass.: Earth View LLC, 2003.</li>

        <li>Lucier, Paul. <em>Scientists and Swindlers, Consulting on Coal and Oil in America, 1820-1890</em>. Baltimore: Johns Hopkins University Press, 2008.</li>

        <li>Lull, Richard Swann. <em>Triassic Life of the Connecticut Valley</em>. State of Connecticut State Geological and Natural History Survey. Bulletin no. 24. 1915. Reprinted by Kessinger Publishing LLC., 2010.</li>

        <li>Lyell, Charles. <em>Lyell&rsquo;s Travels in North America in the Years 1841-2</em>. Abridged and edited by John P. Cushing, Ph.D. New York: Charles E. Merrill Co., 1909. Originally published in 1845.</li>

        <li>March&eacute;, Jordan D. II. &ldquo;Edward Hitchcock, Fucoides, and the Ichnogenus Scoyenia.&rdquo; <em>Earth Sciences History</em>, vol. 11, 1992, pp. 13-20.</li>

        <li>Marche, Theresa. &ldquo;Orra White Hitchcock: A Virtuous Woman.&rdquo; <em>Marilyn Zurmuehlin Working Papers in Art Education</em> vol. 10, 1991, pp. 40-52.</li>

        <li>Mayor, Adrienne. <em>Fossil Legends of the First Americans</em>. Princeton: Princeton University Press, 2007.</li>

        <li>McDonald, Nicholas G. <em>Window into the Jurassic World</em>. Rocky Hill, Conn.: Friends of Dinosaur Park and Arboretum, Inc., 2010.</li>

        <li>McDonald, Nicholas G. &ldquo;The Connecticut Valley in the Age of Dinosaurs: A Guide to the Geologic Literature, 1681-1995.&rdquo; Hartford: Bulletin 116, State Geological and Natural History Survey of Connecticut, 1996.</li>

        <li>Merrill, George P. <em>The First One Hundred Years of American Geology</em>. New Haven: Yale University Press, 1924.</li>

        <li>Moore, James R. &ldquo;Charles Lyell and the Noachian Deluge.&rdquo; <em>The Flood Myth</em>. edited by Alan Dundes. Berkeley: University of California Press, 1988. pp. 405-426.</li>

        <li>Neem, Johann M. <em>Democracy&rsquo;s Schools: The Rise of Public Education in America</em>. Baltimore: John's Hopkins University Press, 2017.</li>

        <li>O&rsquo;Connor, Ralph. <em>The Earth on Show: Fossils and the Poetics of Popular Science, 1802-1856</em>. Chicago and London: University of Chicago Press, 2007.</li>

        <li>Olsen, Paul E., Bruce Cornet, Nicholas G. McDonald, &amp; Paul Huber. &ldquo;Stratigraphy and Paleoecology of the Deerfield Rift Basin (Triassic-Jurassic, Newark Supergroup), Massachusetts.&rdquo; <em>Guidebook for Field Trips in the Connecticut Valley Region of Massachusetts and Adjacent States</em> (vol. 2). edited by Peter Robinson &amp; John B. Brady. 84th Meeting of the  New England Intercollegiate Geological Conference, Department of Geology and Geography, University of Massachusetts, Amherst, Massachusetts, Oct.9-11, 1992, pp. 488-535.</li>

        <li>Olsen, Paul E., Joshua B. Smith, &amp; Nicholas G. McDonald. &ldquo;Type material of the type species of the classic theropod footprint genera Eubrontes, Anchisauripus, and Grallator (Early Jurassic, Hartford and Deerfield basins, Connecticut and Massachusetts, USA).&rdquo; <em>Journal of Vertebrate Paleontology</em>, vol. 18. no. 3, 1998, pp. 586-601.</li>

        <li>Olson, Roberta J. M. &amp; Jay M. Pasachoff. <em>Fire in the Sky: Comets and Meteors, the Decisive Centuries, in British Art and Science</em>. Cambridge: Cambridge University Press, 1998.</li>

        <li>Opal, J. M. <em>Beyond the Farm: National Ambitions in Rural New England</em>. Philadelphia: University of Pennsylvania Press, 2008.</li>

        <li>Opal, J. M. &ldquo;The Making of the Victorian Campus: Teacher and Student at Amherst College, 1850-1880.&rdquo; <em>History of Education Quarterly</em>, vol. 42, no. 3, Fall 2002, pp. 342-67.</li>

        <li><em>Orra White Hitchcock, 1796-1863</em>. edited by Christina Meade Cohen. Deerfield, Mass.: Deerfield Academy, 1992.</li>

        <li>Parrish, Susan Scott. <em>American Curiosity: Cultures of Natural History in the Colonial British Atlantic World</em>. Chapel Hill: University of North Carolina Press, 2006.</li>

        <li>Pick, Nancy, and Frank Ward. <em>Curious Footprints: Professor Hitchcock&rsquo;s Dinosaur Tracks and other Natural History Treasures at Amherst College</em>. Amherst, Mass.: Amherst College Press, 2006.</li>

        <li>Porter, Charlotte M. <em>The Eagle&rsquo;s Nest: Natural History and American Ideas, 1812-1842</em>. Tuscaloosa: University of Alabama Press, 1986.</li>

        <li>Porter, Roy. &ldquo;The Industrial Revolution and the Rise of the Science of Geology.&rdquo; <em>Changing Perspectives in the History of Science</em>. edited by Mikulas Teigh and Robert Young. Boston and Dordrecht: D. Reidel Publishing Co., 1973, pp. 320-343.</li>
        <li>Rainforth, Emma C. &ldquo;Ichnotaxonomy of the Fossil Footprints of the Connecticut Valley&rdquo; Ph.D. Dissertation: Columbia University, 2005.</li>

        <li>Rappaport, Rhoda. &ldquo;Geology and Orthodoxy: The Case of Noah&rsquo;s Flood in 18th Century Thought.&rdquo; <em>The Flood Myth</em>. edited by Alan Dundes. Berkeley: University of California Press, 1988. pp. 383-404.</li>

        <li>Reichenbach, Hans. <em>The Rise of Scientific Philosophy</em>. Berkeley, Los Angeles, London: University of California Press, 1951.</li>

        <li>Rezneck, Samuel. &ldquo;A Traveling School of Science on the Erie Canal in 1826.&rdquo; <em>New York History</em>, vol. 40, no. 3, July 1959, pp. 255-69.</li>

        <li>Ring, Betty. <em>Girlhood Embroidery: American Samplers and Pictorial Needlework, 1650-1850</em>. New York: Alfred. A. Knopf, 1993.</li>

        <li>Rudwick, Martin. <em>The Meaning of Fossils: Episodes in the History of Paleontology</em>. Chicago: University of Chicago Press, 1976.</li>

        <li>Rudwick, Martin. <em>Earth&rsquo;s Deep History: How It Was Discovered and Why It Matters</em>. Chicago: University of Chicago Press, 2014.</li>

        <li>Rupke, Nicolaas A. &ldquo;&lsquo;The End of History&rsquo; in the Early Picturing of Geological Time.&rdquo; <em>History of Science</em>, vol. 36, 1998, pp. 61-90.</li>

        <li>Sanderson, Richard. &ldquo;Edward Hitchcock: Stargazer &amp; Geologist.&rdquo; <em>The Star Gazer</em>, vol. 2, Winter 1988.</li>

        <li>Santoro, Lily. &ldquo;The Science of God&rsquo;s Creation: Popular Science and Christianity in the Early Republic.&rdquo; Ph.D. Dissertation: University of Delaware, 2011.</li>

        <li>Sears, John F. <em>Sacred Places: American Tourist Attractions in the Nineteenth Century</em>. Amherst: University of Massachusetts Press, 1999.</li>

        <li>Segal, Ariel Jacob. &ldquo;Scientific Truth, Rightly Understood, Is Religious Truth: The Life and Works of Reverend Edward Hitchcock, 1793-1864.&rdquo; Thesis directed by Prof. James B. Gilbert, with Prof. Stephen G. Brush and Dr. Thomas R. Holtz, Jr. Department of History: University of Maryland, 2005.</li>

        <li>Stone, Janet Radway, and Ralph S. Lewis. &ldquo;Geologic evolution of the lower Connecticut River valley: influence of bedrock geology, glacial deposits, and sea level.&rdquo; <em>Guidebook for Field Trips in Connecticut and Massachusetts</em>. 107th Meeting of the New England Intercollegiate Geological Conference, hosted by the Department of Earth and Environmental Sciences, Wesleyan University, Middletown, CT, Oct. 9-11, 2015.</li>

        <li>Struik, Dirk J. <em>Yankee Science in the Making</em>. Boston: Little, Brown, and Company, 1948.</li>

        <li>Sutherland, Elizabeth. <em>Lydia: Wife of Hugh Miller of Cromarty</em>. East Linton, East Lothian, Scotland: Tuckwell Press, Ltd., 2002.</li>

        <li><em>The Poetry of Geology</em>. edited by Robert M. Hazen. London: George Allen &amp; Unwin, 1982.</li>

        <li>de Tocqueville, Alexis. <em>Democracy in America</em>. Paris: vol. I, 1835; vol. II, 1840. Garden City NY: Doubleday, 1969.</li>

        <li>Weedon, Lori, Tarin Weiss, Steve Winters, &amp; Richard D. Little. &ldquo;Exploring New England&rsquo;s Geologic History.&rdquo; <em>Guidebook for Field Trips in Connecticut and Massachusetts</em>. 107th Meeting of the New England Intercollegiate Geological Conference, hosted by the Department of Earth and Environmental Sciences, Wesleyan University, Middletown, CT, Oct. 9-11, 2015.</li>

        <li><em>Western Massachusetts: A History, 1636-1925</em>. edited by Rev. John Lockwood, D.D., et al. New York and Chicago: Lewis Historical Publishing, Inc., 1926.</li>

        <li>Wilson, Leonard G. <em>Lyell in America: Transatlantic Geology, 1841–1853</em>. Baltimore: Johns Hopkins University Press, 1998.</li>

        <li>Winchester, Simon. <em>The Map That Changed the World: William Smith and the Birth of Modern Geology</em>. New York: HarperCollins, 2001.</li>

        <li>Worman, Eugene C. Jr. &ldquo;The Watercolors and Prints of Orra White Hitchcock.&rdquo; <em>AB Bookman&rsquo;s Weekly</em> vol. 83, no. 7. February 13, 1989, pp. 646-668.</li>

        <li>Zimmerman, Virginia. <em>Excavating Victorians</em>. Albany: State University of New York Press, 2008.</li>
      </ul>
      <p class="prompt"><a href="#top">top of page</a></p>

    </article>

    <article id="sources">
      <h2 class="story-title accent">Printed Primary Sources</h2>
      
      <ul>
        <li>Bowditch, Henry I. <em>An Address on the Life and Character of James Deane, M.D., of Greenfield, Mass., August 4, 1858</em>. Greenfield: H. D. Mirick &amp; Co., Printers, 1858.</li>

        <li>Crawford, Mary Caroline. <em>Famous Families of Massachusetts</em>. vol. II. Boston: Little, Brown and Co., 1930. Information on the Bowditch and Warren families.</li>

        <li>Deane, James, M.D. <em>Ichnographs from the Sandstone of Connecticut River</em>. Boston: Little, Brown and Company, 1861.</li>

        <li><em>The Genealogy of the Hitchcock Family: who are descended from Matthias Hitchcock of East Haven, Conn., and Luke Hitchcock of Wethersfield, Conn</em>. Compiled and published by Mrs. Edward Hitchcock, Sr., of Amherst, Mass. Abridged for the press by Rev. Dwight W. Marsh, D.D., of Amherst, Mass. Amherst, Mass.: Press of Carpenter &amp; Morehouse, 1894.</li>

        <li><em>History and Proceedings of the Pocumtuck Valley Memorial Association, 1905-1911</em>, Vol. V. Deerfield, Mass. Published by the Association, 1912. This single source contains nearly all that is known about Dexter Marsh, aside from his daybooks, which are held in the Amherst College archives. Dexter’s younger son, George E. Marsh, donated information about his father, along with recollections by people who knew him personally. See the Proceedings for 1908, pp. 230-231, 258-284.</li>

        <li>Hitchcock, Edward. <em>Emancipation of Europe, or the Downfall of Bonapart: A Tragedy</em>. Greenfield, Mass.: Printed by Denio and Phelps, 1815.</li>

        <li><u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>. <em>The Country Almanack for the Year of Our Lord 1815: And Year of the World According to Scripture, 5777</em>. Greenfield, Mass.: Printed by Denio &amp; Phelps.</li>

        <li><u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>. <em>Catalogue of Plants Growing Without Cultivation in the Vicinity of Amherst College</em>. Published by the Junior Class in that Institution. Amherst, Mass.: J. S. and C. Adams and Co., 1829.</li>

        <li><u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>. <em>Dyspepsy Forestalled &amp; Resisted: or Lectures on Diet, Regimen, &amp; Employment. Delivered to the Students of Amherst College, Spring Term 1830</em>. Amherst: J. S. &amp; C. Adams and Co., 1830.</li>

        <li><u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>. <em>Report on the Geology, Mineralogy, Botany, and Zoology of Massachusetts. Massachusetts Geological Survey</em>. Amherst, Mass.: J. S. and C. Adams, 1833.</li>

        <li><u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>. &ldquo;Ornithichnology [stony bird tracks]: Description of the Foot Marks of Birds (Ornithichnites) on New Red Sandstone in Massachusetts.&rdquo; <em>American Journal of Science and Arts</em>, 1836, pp. 307-340.</li>

        <li><u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>. <em>Final Report on the Geology of Massachusetts</em>. vols. I and II. Amherst, Mass.: J. S. &amp; C. Adams. Northampton, Mass.: J.H. Butler, 1841.</li>

        <li><u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>. <em>The American Academic System Defended</em>. Amherst, Mass.: J. S. &amp; C. Adams, 1845.</li>

        <li><u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>. [with Marshall P. Wilder, Samuel A. Eliot, Thomas E. Payson, and Eli Warren, Commissioners]. <em>Report of Commissioners concerning an Agricultural School. January 1851</em>. Massachusetts House of Representatives, no. 13, January 1851.</li>

        <li><u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>. <em>The Mutual Dependence Between Agriculture and Other Pursuits</em>. Boston: Dutton and Wentworth, 1846.</li>

        <li><u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>. <em>The Religion of Geology and its Connected Sciences</em>. Boston:  Phillips, Sampson and Company, 1851.</li>

        <li><u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>. <em>The Power of Christian Benevolence:  Illustrated in the Life of Mary Lyon</em>. Northampton, Mass.: Hopkins, Bridgman and Company, 1852.</li>

        <li><u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>. <em>Ichnology of New England: A Report on the Sandstone of the Connecticut Valley, especially its Fossil Footmarks</em>. Boston: William White, Printer to the State, 1858.</li>

        <li><u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>. <em>Reminiscences of Amherst College: Historical, Scientific, Biographical and Autobiographical: also, of Other and Wider Life Experiences (with four plates and a geological map)</em>. Northampton, Mass.: Bridgman &amp; Childs, 1863.</li>

        <li>von Humboldt, Alexander &ldquo;Fourth Peace Congress: At Frankfort, Germany.&rdquo; <em>Advocate of Peace (1847-1884)</em>, vol. 8, No. 23/24, November-December 1850, pp. 286-311.</li>

        <li>Lyell, Charles. <em>Principles of Geology</em>. New York: D. Appleton &amp; Co., 1850.</li>

        <li>Pierce, Frederick Clifton. <em>Field Genealogy: Being the Record of all the Field family in America, whose ancestors were in this country prior to 1700</em>. vol. I. Chicago: Hammond Press, W. B. Conkey Company, 1901. </li>

        <li><em>Proceedings of the Boston Society of Natural History</em>. Boston: Printed for the Society. various years.</li>

        <li>Sheldon, George. <em>A History of Deerfield, Massachusetts: The Times When and the People by Whom It was Settled, Unsettled and Resettled: with a special study of the Indian Wars in the Connecticut Valley</em>. vols. I and II. Deerfield, Mass.: Pocumtuck Valley Memorial Association, 1895-96.</li>

        <li>Tyler, W. S. <em>History of Amherst College during its First Half Century, 1821-1871</em>. Springfield, Mass.: Clark W. Bryan and Company, 1873.</li>

        <li><u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>. <em>A biographical sketch of Mrs. Orra White Hitchcock, given at her funeral, May 28, 1863</em>. Springfield, Mass.: S. Bowles &amp; Company, 1863.</li>

        <li>Warren, John Collins. <em>Remarks on Some Fossil Impressions in the Sandstone Rocks of Connecticut River</em>. Boston: Ticknor and Fields, 1854.</li>
      </ul>

      <p class="prompt"><a href="#top">top of page</a></p>

    </article>

    <article id="archival">
      <h2 class="story-title accent">Archival Resources</h2>

      <ul>
        <li>Amherst College Archives &amp; Special Collections, Frost Library, Amherst, Massachusetts, holds the Edward and Orra White Hitchcock Papers and the Dexter Marsh Papers. The Hitchcock collection includes Robert L. Herbert&rsquo;s transcription of correspondence between Edward Hitchcock and Benjamin Silliman (which also used other archives, including the Beinecke Rare Book &amp; Manuscript Library at Yale University). The Hitchcock collection has been digitized and can be accessed online at <a href=" https://www.amherst.edu/library/archives/holdings/hitchcock" target="external">https://www.amherst.edu/library/archives/holdings/hitchcock.</a></li>

        <li>Memorial Libraries, Deerfield, Massachusetts, holds the collections of the Pocumtuck Valley Memorial Association and of Historic Deerfield, Inc., covering three centuries of the town and surrounding area. Holdings used on this site include the Hitchcock and Hoyt Family Papers, the First Church of Deerfield records, 1731-1810, many of Hitchcock&rsquo;s maps, some of the geological books and a paper presented in 2003 by Jane A. Winchester, MD titled <em>Footprints along the Connecticut: James Deane MD</em>. The library is open year round. Finding aids can be accessed online at <a href="https://deerfield-ma.org/about/library" target="external">https://deerfield-ma.org/about/library.</a>

        <li>Berkshire Athenaeum, Pittsfield, Massachusetts.</li>

        <li>Deerfield Academy Archives, Deerfield, Massachusetts.</li>

        <li>Franklin Probate and Family Court, Greenfield, Massachusetts.</li>

        <li>Greenfield Public Library, Greenfield, Massachusetts: Gazette and Mercury, 1839. (microfilm)</li>

        <li>Greenfield Bicentennial Commission, vols. A-D. <em>The Town of Montague, Massachusetts: 1754-1954</em>. Historical Review and Complete Celebration Program, with historical introduction by William Steinecke, Jr.</li>

        <li>Springfield History Library &amp; Archives, Wood Museum of Springfield History, Springfield, Massachusetts.</li>

      </ul> 

      <p class="prompt"><a href="#top">top of page</a></p>

    </article>

    <article id="websites">
        <h2 class="story-title accent">Websites</h2>

        <p>Many websites were consulted in producing and fact-checking this website. Listed below are the primary sites that may be of interest.</p>
        
        <ul>

        <li>The writers for <em>Impressions from a Lost World</em> often consulted Wikipedia as a starting point for unfamiliar people or topics, but never relied entirely on it for content. Wikipedia is an invaluable resource for getting a quick overview of a topic at the beginning of on-line research.</li>

        <li>Full texts of many books and journals used on this website can be accessed through Google Books <a href="https://books.google.com" target="external">https://books.google.com</a>, the HathiTrust Digital Library <a href="https://www.hathitrust.org" target="external">https://www.hathitrust.org</a>, Project Gutenberg <a href="http://www.gutenberg.org" target="external">http://www.gutenberg.org</a>, and Internet Archive <a href="https://archive.org" target="external">https://archive.org</a>.</li>

        <li>Transcriptions and Essays by Robert L. Herbert:
            <ul class="indented">
                <li>&ldquo;The Complete Correspondence of Edward Hitchcock and Benjamin Silliman, 1817-1863: The American journal of science and the rise of American Geology. With an introductory essay. <a href="http://tinyurl.com/lctm2q6" target="external">http://tinyurl.com/lctm2q6</a></li>

                <li>&ldquo;The Dinosaur Tracks of Dexter Marsh: Greenfield&rsquo;s Lost Museum, 1846-1853.&rdquo; With the collaboration of Sarah L. Doyle. <a href="http://tinyurl.com/ohrazqs" target="external">http://tinyurl.com/ohrazqs</a></li>

                <li>&ldquo;Dr. James Deane of Greenfield: Edward Hitchcock&rsquo;s Rival Discoverer of Dinosaur Tracks.&rdquo; With the collaboration of Sarah Doyle and photography by Bill Finn and Ed Gregory. <a href="http://tinyurl.com/ljeogh7" target="external">http://tinyurl.com/ljeogh7</a></li>

                <li>&ldquo;Roswell Field&rsquo;s Dinosaur Footprints, 1854-1880.&rdquo; With Sarah Doyle, Joel Fowler, Lynda Hodson Mayo, and Pamela Shoemaker. <a href="http://tinyurl.com/puvtcmy" target="external">http://tinyurl.com/puvtcmy</a></li>
            </ul>

            <li>American Journal of Science is still in publication. Their online archive goes back to 1860 www.ajsonline.org. For the earliest issues, beginning in 1818, the best source is The Online Books Page. <a href="http://onlinebooks.library.upenn.edu/webbin/serial?id=amjsci" target="external">http://onlinebooks.library.upenn.edu/webbin/serial?id=amjsci</a></li>

            <li>American Museum of Natural History <a href="https://amnh.org" target="external">https://amnh.org</a></li>

            <li>Biodiversity Library is a wide-ranging collaboration that makes &ldquo;biodiversity literature openly available to the world as part of a global biodiversity community.&rdquo; It is an excellent source for fully digitized, searchable rare books and journals. <a href="https://www.biodiversitylibrary.org/" target="external">https://www.biodiversitylibrary.org/</a></li>

            <li>Biologos &ldquo;invites the church and the world to see the harmony between science and biblical faith as we present an evolutionary understanding of God&rsquo;s creation.&rdquo; <a href="https://biologos.org" target="external">https://biologos.org</a></li>

            <li>The New England Historical Society <a href="http://www.newenglandhistoricalsociety.com/" target="external">www.newenglandhistoricalsociety.com</a></li>

            <li>Smithsonian National Museum of Natural History <a href="https://naturalhistory.si.edu/" target="external">https://naturalhistory.si.edu/</a></li>

            <li>University of California-Berkeley <a href="http://evolution.berkeley.edu/evolibrary/home.php" target="external">http://evolution.berkeley.edu/evolibrary/home.php</a> This links to an entire curriculum full of rich information on evolution.</li>

      </ul> 
      <p class="prompt"><a href="#top">top of page</a></p>

    </article>

  </section>
{% endblock content_area %}
