{% extends "base_list.html" %}
{% load static image_extras %}

{% block title %}Teacher Resources{% endblock %}

{% block wrapper_class %}"content-wrapper--full"{% endblock wrapper_class %}

{% block content_area %}

<section class="control-panel">
  <h1 class="main-title">Teacher Resources</h1>

  <p>These lessons are designed to serve as examples of different ways you can use the <em>Impressions from a Lost World</em> website with students.  The lessons cover a range of topics, with the goal of helping students to personalize their study of the people involved in the discovery of the dinosaur tracks and the issues surrounding these same people and their studies.  Students are asked to study topics from a variety of perspectives, using both primary and secondary sources.  <strong>Primary sources</strong> were written during the time being studied.  <strong>Secondary sources</strong> were written after the fact, but the author may have studied a primary source to produce the secondary source.  Because the text of the site is written at an adult level, most of the lessons are best used with upper elementary through high school students.</p>
  </section>

  <section class="text-page">
    <article class="lesson-list">
      <h2 class="story-title accent">Lessons</h2>
      
      <ol>
        <li>
          <a href="{% static 'ancillary/lessons/pdfs/' %}calculating-leap-year.pdf" class="subtitle" target="lesson">Calculating Leap Year</a>
          <h3 class="heading accent">Grades 4-6</h3>

          In 1810, a 14-year-old girl named Orra White kept a &ldquo;copybook&rdquo; of math lessons. One of her lessons was about figuring out which years were or would be leap years. In this lesson students are asked to use the math that Orra used to figure out some leap years.
        </li>

        <li>
          <a href="{% static 'ancillary/lessons/pdfs/' %}creature-walking.pdf" class="subtitle" target="lesson">A Creature Went Walking</a>
          <h3 class="heading accent">Grades 4-6</h3>

          Students will examine fossil tracks and imagine, via writing or artwork, what kinds of creatures made them.  Students will then compose stories to describe what the animals might have been doing when they left the tracks.
        </li>

        <li>
          <a href="{% static 'ancillary/lessons/pdfs/' %}snakestones.pdf" class="subtitle" target="lesson">Snakestones - a Scientific Study</a>
          <h3 class="heading accent">Grades 4-8</h3>

          Elizabeth Philpot was a real person who lived in the beach town of Lyme Regis in England from 1780 to 1857.  She was an artist and a fossil collector, best known for her collection of fish fossils.  One day she found a different kind of fossil on the beach, called a &ldquo;snakestone&rdquo;.  In this lesson students use scientific inquiry to think about whether this type of fossil really was once a snake.
        </li>

        <li>
          <a href="{% static 'ancillary/lessons/pdfs/' %}finding-vs-discovering.pdf" class="subtitle" target="lesson">Finding VS Discovering</a>
          <h3 class="heading accent">Grades 9-12</h3>

          In 1802, a 12-year-old boy named Pliny Moody found some dinosaur tracks while plowing his family&rsquo;s farm fields.  Even though he was the first person in this country to find such a thing, he never received any credit and very little recognition for having done so.  In this lesson students will explore the meanings of &ldquo;find&rdquo; and &ldquo;discover&rdquo; to mid-19th century men of learning.
        </li>

        <li>
          <a href="{% static 'ancillary/lessons/pdfs/' %}argument.pdf" class="subtitle" target="lesson">James Deane and Edward Hitchcock&rsquo;s Argument</a>
          <h3 class="heading accent">Grades 9-12</h3>

          In 1844, James Deane and Edward Hitchcock used the American Journal of Science as their means for making public their dispute over who should rightly claim first discovery of the dinosaur tracks found in the Connecticut River Valley.  In this lesson students use Readers&rsquo; Theater to present Deane&rsquo;s claims and Hitchcock&rsquo;s response. They also compose letters of advice to each man.  In a wrap-up discussion, students will explain which man they agree with most and why.
        </li>

        <li>
          <a href="{% static 'ancillary/lessons/pdfs/' %}testing-faith.pdf" class="subtitle" target="lesson">Testing Faith</a>
          <h3 class="heading accent">Grades 9-12</h3>

          Students will use excerpts from <em>Remarkable Creatures</em>, by Tracy Chevalier, and Readers&rsquo; Theater to create dialog that explores the concepts of extinction, Noah&rsquo;s Flood, and Creationism.
        </li>

      </ol>

</section>
{% endblock content_area %}
