<!DOCTYPE html>
{% load static settings_extras %}

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="Impressions from a Lost World tells the history of the 19th century discovery of fossilized dinosaur tracks along the Connecticut River Valley in Massachusetts and Connecticut and the profound effect these fossils had upon American science, arts, religion, and culture that reverberates down to the present day.">
  <meta name="keywords" content="fossil, dinosaur, footprints, tracks, history of science, science and religion, Edward Hitchcock, Orra White Hitchcock, James Deane, Dexter Marsh, Benjamin Silliman, history of geology, paleontology, ichnology, New England history, Massachusetts history, Connecticut history, Pocumtuck Valley Memorial Association, Memorial Hall Museum, Deerfield">
  <meta name="google-site-verification" content="hYCaYspmFe4DfmKpxiShMDsTY4eZckSxaF5Mjw_d5dQ" />  
  <title>{% block title %}Impressions From a Lost World{% endblock %}</title>

	{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/application.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/print.css' %}" media="print" type="text/css"/>
    <link href='https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic,700' rel='stylesheet' type='text/css'>
    <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> -->

  {% endblock stylesheets %}

  {% block javascript %}
    <script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
    
    <!-- <script   src="https://code.jquery.com/jquery-migrate-3.0.0.min.js"   integrity="sha256-JklDYODbg0X+8sPiKkcFURb5z7RvlNMIaE3RA2z97vw="   crossorigin="anonymous"></script> -->

    <script type="text/javascript">
      if (typeof jQuery == 'undefined') {
          document.write(unescape("%3Cscript src='{% static 'js/jquery-3.1.1.min.js' %}' type='text/javascript'%3E%3C/script%3E"));
      }
    </script>

<!--     <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
 -->    
    <script src="{% static 'js/d3.min.js' %}" type="text/javascript"></script>

    <script src="{% static 'js/application.js' %}" type="text/javascript"></script>

    <!-- for looking and seeing -->
    <script src="{% static 'js/jquery.jplayer.js' %}" type="text/javascript"></script>

    <!-- for zoom, include only on evidence slim? -->
    <script type="text/javascript" src="{% static 'js/ZoomifyImageViewerPro-min.js' %}"></script>

  {% endblock javascript %}

    <link rel="apple-touch-icon" sizes="57x57" href="http://dinotracksdiscovery.org/static/images/favicon/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="http://dinotracksdiscovery.org/static/images/favicon/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="http://dinotracksdiscovery.org/static/images/favicon/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="http://dinotracksdiscovery.org/static/images/favicon/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="http://dinotracksdiscovery.org/static/images/favicon/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="http://dinotracksdiscovery.org/static/images/favicon/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="http://dinotracksdiscovery.org/static/images/favicon/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="http://dinotracksdiscovery.org/static/images/favicon/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="http://dinotracksdiscovery.org/static/images/favicon/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="http://dinotracksdiscovery.org/static/images/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="http://dinotracksdiscovery.org/static/images/favicon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="http://dinotracksdiscovery.org/static/images/favicon/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="http://dinotracksdiscovery.org/static/images/favicon/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="/static/images/favicon/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="/static/images/favicon/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="/static/images/favicon/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="/static/images/favicon/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="/static/images/favicon/mstile-310x310.png" />

</head>

<body {% block body_class %}{% endblock body_class %}>
{% block full_page %}

<header class="top-navigation">

    <a href="/" class="mobile-logo">
      <img src="{% static 'images/footmark-logo.png' %}" alt="Logo image">
    </a>

    <a href="javascript:void(0)" id="js-top-navigation-mobile-menu" class="top-navigation-mobile-menu">MENU</a>

    <nav>

      <ul id="js-top-navigation-menu" class="top-navigation-menu show">

        <li>
          <img src="{% static 'images/nav-trackways-first.png' %}" alt="footprint icon">
        </li>

        <li>
          <a href="/">Home</a>
          <img src="{% static 'images/nav-trackways-home.png' %}" alt="footprint icon">
        </li>

        <li{% if object.content_type.id == 1 %} class="more"{% endif %}>
          <a href="{% url 'stories:story_list' %}">Stories</a>
          <img src="{% static 'images/nav-trackways-stories.png' %}" alt="footprint icon">
          {% if object.content_type.id == 1 %}
            <ul class="submenu">
              {% for story in object.story_list %}
                <li><a href="{% url 'stories:story_detail' story.slug %}">{{ story.title|safe }}</a></li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>

        <li{% if object.content_type.id == 2 %} class="more"{% endif %}>
          <a href="{% url 'themes:theme_list' %}">Themes</a>
          <img src="{% static 'images/nav-trackways-themes.png' %}" alt="footprint icon">
          {% if object.content_type.id == 2 %}
            <ul class="submenu">
              {% for theme in object.theme_list %}
                <li><a href="{% url 'themes:theme_detail' theme.slug %}">{{ theme.title|safe }}</a></li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>

        <li>
          <a href="{% url 'map:map_intro' %}">Map</a>
          <img src="{% static 'images/nav-trackways-map.png' %}" alt="footprint icon">
        </li>

        <li>
          <ul id="js-2nd-navigation-menu" class="top-navigation-menu secondary-navigation-menu">
            <li><a href="{% url 'supporting:person_list' %}">People</a></li>
            <li><a href="{% url 'supporting:evidenceitem_list' %}">Artifacts &amp; Documents</a></li>
            <li><a href="{% url 'supporting:context_list' %}">Backdrops</a></li>
            <li><a href="{% url 'special:feature_list' %}">Special Features</a></li>
          </ul>
        </li>

      </ul>

    </nav>

</header>

<div class={% block wrapper_class %}"content-wrapper"{% endblock wrapper_class %}>

  {% block content_area %}
    content goes here
  {% endblock content_area %}
  
</div>
{% endblock full_page %}

<footer class="footer">
  <ul class="footer-primary">
    <li><a href="{% url 'ancillary:about' %}">About This Site</a></li>
    <li><a href="{% url 'ancillary:further' %}">For Further Study</a></li>
    <li><a href="{% url 'ancillary:teachers' %}">Teacher Resources</a></li>
    <li><a href="mailto:pvmaoffice@deerfield.history.museum">Contact Us</a></li>
  </ul>
  
  <div class="footer-logos">

    <div class="pvma-logo">
      <a href="http://deerfield-ma.org" target="_blank">
        <img src="{% static 'images/logo-pvma.svg' %}" alt="Pocumtuck Valley Memorial Association logo" width="92" height="93">
      </a>
      <p class="caption"><em>Impressions from a Lost World</em> &copy; 2017 <a href="http://deerfield-ma.org" target="_blank">Pocumtuck Valley Memorial Association</a>, Deerfield, Massachusetts</p>
    </div><!-- /pvma-logo -->

    <div class="award">
      <a href="https://aaslh.org" target="_blank">
        <img src="/static/images/logo-aaslh.jpg" alt="American Association of State and Local History">
      </a>
      <p class="caption">Winner of the 2018 AASLH Award of Merit!</p>
    </div><!-- /award -->
    
  </div><!-- /footer-logos -->

</footer>

{% is_production "" as show_production %}
{% if show_production %}
  {% include "_google_analytics.html" %}
{% endif %}

</body>
</html>
