<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="UTF-8" />
    <title>{% block title %}Impressions Team site{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/application.css' %}" type="text/css"/>

	<link rel="stylesheet" href="{% static 'css/team_styles.css' %}" type="text/css" />


    <link rel="stylesheet" href="{% static 'css/temp-juliet-supporting.css' %}" type="text/css"/>


    <script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'css/temp-4juliet-paging.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/temp-juliet-explore.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/temp-juliet-special.css' %}" type="text/css"/>


    <script src="{% static 'js/application.js' %}" type="text/javascript"></script>

    <script type="text/javascript" src="{% static 'js/ZoomifyImageViewerPro-min.js' %}"></script>

</head>

<body>
	
{% block content_area %}
	content goes here
{% endblock content_area %}


</body>
</html>
