{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Impressions Home{% endblock %}

{% block full_page %}

<div class="content-wrapper menus">
  <h1 class="main-title">Impressions From a Lost World</h1>
  <p>How the discovery of dinosaur tracks in New England changed 19th century America.</p>
  <p>Please note that this site is still under construction.</p>
  <img src="/static/images/dino-home.jpg" height="250px">

  <ul class="menu-home">
    <li><a href="{% url 'stories:story_list' %}">Stories</a></li>
    <li><a href="{% url 'map:map_detail' %}">Map</a></li>
    <li><a href="#">Timeline</a></li>
    <li><a href="{% url 'themes:theme_list' %}">Themes</a></li>
  </ul>

  <ul class="menu-home secondary">
    <li><a href="{% url 'supporting:person_list' %}">People</a></li>
    <li><a href="{% url 'supporting:evidenceitem_list' %}">Artifacts &amp; Documents</a></li>
    <li><a href="{% url 'supporting:context_list' %}">Backdrops</a></li>
    <li><a href="{% url 'supporting:special_list' %}">Special Features</a></li>
  </ul>

</div>

<footer class="footer">

  <ul class="footer-primary">
    <li><a href="#">About This Site</a></li>
    <li><a href="#">Suggested Reading</a></li>
    <li><a href="#">Suggested Viewing</a></li>
    <li><a href="#">Teacher Resources</a></li>
  </ul>

</footer>

{% endblock full_page %}
