{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Impressions Home{% endblock %}

{% block full_page %}

<div class="content-wrapper basic">
  <h1 class="main-title">Impressions From a Lost World</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  <ul class="menu-home">
    <li><a href="{% url 'stories:story_list' %}">Stories</a></li>
    <li><a href="{% url 'map:map_list' %}">Map</a></li>
    <li><a href="#">Timeline</a></li>
    <li><a href="#">Primary People</a></li>
    <li><a href="#">Themes</a></li>
  </ul>

  <ul class="menu-home secondary">
    <li><a href="{% url 'supporting:person_list' %}">People</a></li>
    <li><a href="{% url 'supporting:evidenceitem_list' %}">Evidence</a></li>
    <li><a href="{% url 'supporting:context_list' %}">Context</a></li>
    <li><a href="#">Special Features</a></li>
  </ul>

</div>

<footer class="footer">

  <ul class="footer-secondary">
    <li><a href="#">About This Site</a></li>
    <li><a href="#">Suggested Reading</a></li>
    <li><a href="#">Suggested Viewing</a></li>
    <li><a href="#">Teacher Resources</a></li>
  </ul>

</footer>

{% endblock full_page %}
