{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Impressions Home{% endblock %}

{% block full_page %}

<h1>Impressions from a Lost World</h1>

<p>Main Menu</p>
<ul>
    <li>
      <a href="{% url 'stories:story_list' %}">Stories</a> 
    </li>
    <li>Map</li>
    <li>Timeline</li>
</ul>

<p>Also</p>
<ul>
    <li><a href="{% url 'people:person_list' %}">People</a></li>
    <li><a href="{% url 'evidence:evedenceitem_list' %}">Evidence</a></li>
    <li>
        Context
    </li>
</ul>

{% endblock full_page %}
