<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <title>Impressions - Introduction</title>

    <link rel="stylesheet" href="{% static 'css/application.css' %}" type="text/css"/>
    <link href='https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic,700' rel='stylesheet' type='text/css'>

    <script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
    
    <script type="text/javascript">
      if (typeof jQuery == 'undefined') {
          document.write(unescape("%3Cscript src='{% static 'js/jquery-3.1.1.min.js' %}' type='text/javascript'%3E%3C/script%3E"));
      }
    </script>

    <!-- <script src="{% static 'js/application.js' %}" type="text/javascript"></script> -->
</head>

<body>

<div id="slimpop-wrapper">
  <div class="slim-border">
    <p class="slimpop-close"><a href="https://dinotracksdiscovery.org">Impressions Home</a></p>
    
    <div id="fullpop_content_wrapper">
        {% include "_intro.html" %}
      
    </div> <!-- fullpop_content_wrapper -->

  
  </div><!--slim-border -->

</div><!--slimpop-wrapper -->

</body>
</html>
