{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ object.content_type.singular_title}}: {{object.title }} {% endblock %}

{% block wrapper_class %}"content-wrapper"{% endblock wrapper_class %}

{% block content_area %}

  <header>

    <h4 class="heading"><a href="{% url 'themes:theme_detail' object.slug %}">{{ object.title|safe }}</a></h4>
    <h2 class="main-title">{{ object.title|safe }} {{ object.subtitle|safe }}</h2>  
    <h4 class="byline">By {{ object.author|safe }}</h4> 

  </header>

  <section class="chapter">

    <div class="chapter-image">

      <img src="{% static 'themes/fullpics/' %}{{ object.slug }}.jpg">

      <p class="caption">{{ object.caption }} Image courtesy of {{ object.source.institution|safe }}.</p>

    </div><!--/chapter-image -->

    {{ object.narrative|safe }}

  </section><!--/chapter -->
  
  <section class="dig-deeper">
    
    <h2>Dig Deeper</h2>

    <ul class="dig-deeper-list">

      {% for person in object.people.all %}

        <li>
          <a class="pop_item" href="{% url 'supporting:person_detail' person.slug %}">
          <img class="oval" src="{% static 'supporting/person/menupics/' %}{{ person.slug }}.jpg" alt="image of {{ person.slug}}">
            {{ person.first_name }} {{ person.middle_name }} {{ person.last_name }}
          </a>
        </li>
      {% endfor %}

      {% for evidenceitem in object.evidence.all %}
        <li>
          <a class="pop_item"  href="{% url 'supporting:evidenceitem_detail' evidenceitem.slug %}">
          <img src="{% static 'supporting/evidenceitem/menupics/' %}{{ evidenceitem.slug }}.jpg" alt="image of {{ evidenceitem.slug }}">
            {{ evidenceitem.title }}
          </a>
        </li>
      {% endfor %}

      {% for context in object.contexts.all %}
        <li>
          <a class="pop_item" href="{% url 'supporting:context_detail' context.slug %}">
          <img src="{% static 'supporting/context/menupics/' %}{{ context.slug }}.jpg" alt="image of {{ context.slug }}">
            {{ context.title }}
          </a>
        </li>
      {% endfor %}
      
      {% for special in object.special_features.all %}
        <li>
          <a class="pop_item" href="{% url 'supporting:special_detail' special.slug %}">
          <img src="{% static 'supporting/special/menupics/' %}{{ special.slug }}.jpg" alt="image of {{ special.slug }}">
            {{ special.title }}
          </a>
        </li>
      {% endfor %}
      
      </ul>

  </section><!--/dig-deeper -->

{% endblock content_area %}
