{% extends "base.html" %}
{% load static %}

{% block title %}Impressions - Themes{% endblock %}

{% block wrapper_class %}"content-wrapper menus"{% endblock wrapper_class %}

{% block content_area %}

  <h1 class="main-title">Themes</h1>

  <p>These short essays set the events related to the 19th century discovery of dinosaur footprint in a wider historical and intellectual context. How did this discovery fit into and expand 19th century thinking and culture?</p>

  <ul class="menu-gallery four-across">
  {% for object in object_list %}
    <li>
      <a href="{% url 'themes:theme_detail' object.slug %}">
        <img src="{{ MEDIA_URL }}themes/menupics/{{ object.slug }}.jpg" alt="theme illustration">
        <span class="menu-title">{{ object.title|safe }}</span>{{ object.subtitle|safe }}
        {{ object.menu_blurb|safe }}
      </a>
    </li>
  {% endfor %}
  </ul>  


{% endblock content_area %}

