// bottom navigation

.footer {
  border-top: 1px solid $panel-darken-color;
  bottom: 0; 
  left: 0; 
  position: fixed; 
  width: 100%; 
  background: $footer-background-color;
  display: inline-block;
  padding: $small-spacing;

// if viewport is larger than 860em, make bottom nav height 80px
  @include media($large-screen) {
    height: $bottom-navigation-height;
  }

  ul {
    line-height: 1.5em;
    
    @include media($large-screen) {
      line-height: 1.8em;
    }
  }

  ul li {
    padding-right: $base-spacing;

    @include media($large-screen) {
      display: inline;
    }
  }

  ul li a {
    color: $footer-link-color;
    text-decoration: none;

    &:focus,
    &:hover {
      color: transparentize($footer-color, 0);
    }
  }

  .footer-primary {
    float: left;
    margin: 0 $large-spacing;
    text-align: left;
    
    @include media($large-screen) {
      float: none;
      text-align: center;
    }
  }

  .footer-secondary {
    text-align: left;

    @include media($large-screen) {
      float: none;
      text-align: center;
    }

    li {
      font-size: 0.8em;
    }

    // ul.footer-social {
    //   margin: 1em 0 0 0;

    //   @include media($large-screen) {
    //     float: right;
    //     margin-top: 0;
    //   }

      // li {
      //   font-size: 1em;
      //   float: left;
      //   line-height: 0;
      //   margin: 0;
      //   padding-right: 0.7em;

      //   &:last-child {
      //     padding-right: 0;
      //   }
      // }

      // img {
      //   height: 1.6em;
      //   opacity: 0.7;
      //   padding: 1px;

      //   &:focus,
      //   &:hover {
      //     opacity: 1;
      //   }
      // }
      //}
  }
}
