// bottom navigation
.footer {
  background: $footer-background-color;
  border-top: 1px solid $panel-darken-color;
  color: $footer-link-color;
  overflow: auto;
  padding: $small-spacing;
  text-align: center;
  width: 100%; 
// if viewport is larger than 880em, make more space at bottom
  @include media($large-screen) {
    padding-bottom: $large-spacing;
  }

  p a {
    color: $footer-link-color;
    margin-top: $base-spacing;
    text-decoration: none;

    &:focus,
    &:hover {
      color: transparentize($footer-color, 0);
    }
  }

}

.footer-primary {
  li {
    display: inline;
    padding-right: $base-spacing;
  }

  li a {
    color: $footer-link-color;
    text-decoration: none;

    &:focus,
    &:hover {
      color: transparentize($footer-color, 0);
    }
  }
}
