// content wrapper

// jj-is this already taken care of by normalize??
body { 
	background-color: $base-background-color;
	margin:0; 
	padding:0; 
}

.content-wrapper { 
	@include outer-container;
	overflow: auto; 
	padding: $large-spacing 0 $xlarge-spacing 0; 

// when viewport is less than or equal to 1200px, add side padding
	@include media(max-width $max-width) {
		padding: $large-spacing $base-spacing;
	}
}

// for wide, scrolling pages such as story chapters
.content-wrapper-wide {
	margin-top: $top-navigation-height;
	overflow-y: none;
	overflow-x: scroll; 
	//this is a hack - how can I make the width be determined by how wide the content happens to be?
	@include calc(width, "100vw + 100vw");
	@include calc(height, "100vh - #{$top-plus-bottom}");
}

.content-wrapper--narrative {
	float: left;
	position: relative;
	width: 100vw;
	height: auto;
}

.content-wrapper--digdeeper {
	height: auto;
	margin-left: 100vw;
	padding-top: $base-spacing;	
	//this is also wrong - width should be determined by how wide the content is
	width: auto;
}
