// content wrapper

// jj-is this already taken care of by normalize??
body { margin:0; padding:0; }

.content-wrapper { 
	@include outer-container;
	overflow: auto; 
	padding: $large-spacing 0 $xlarge-spacing 0; 

// when viewport is less than or equal to 1200px, add side padding
	@include media(max-width $max-width) {
		padding: $large-spacing $base-spacing;
	}
}

.content-wrapper-cover {
	padding-top: $top-navigation-height; 
}
