//images for stories and themes, works with _side-panel.scss

.image-panel {
	background-size: cover;
	height: 100vh;
	padding: $base-spacing;
	position: relative;

	@include span-columns (12);
	
  @include media($large-screen) {
		@include span-columns (9);
		@include omega();
	}
}

.image-panel--caption {
	background-color: rgba(101, 96, 90, 0.8);
	bottom: $bottom-navigation-height + 60px;
	color: $light-font-color;
	font-family: $utility-font-family;
	font-size: $small-font-size;
	padding: $small-spacing;
	position: absolute;
	
	@include span-columns (2.75 of 9);
}
