//images for stories and themes, works with _side-panel.scss
.image-panel {
	//need to fix this so image is tall enough at mobile sizes
	background-size: cover;
	padding: $base-spacing;
	position: relative;
	// for small displays
	width: 100%;

	//for large displays:
  @include media($large-screen) {
		@include calc(height, "100vh - #{$top-plus-bottom}");
		@include position(absolute, $top-navigation-height 0 0 null); 
		width: 70%;
	}
}

.image-panel--caption {
	background-color: rgba(101, 96, 90, 0.8);
	color: $light-font-color;
	font-family: $utility-font-family;
	font-size: $small-font-size;
	padding: $small-spacing;
	@include position(absolute, null null $base-spacing $base-spacing); 
	width: 300px;
}
