//side panel layout
.text-panel {
	background-color: $dark-taupe;
	color: $light-font-color;
	height: 100vh;
	padding: $base-spacing;

	@include span-columns (3.25);
	@include omega();
}

.intro-text {
	font-size: $base-font-size * 1.15;
}

.intro-nav {
	font-size: $small-font-size ;
		
		li {
			display: inline;
			@include span-columns (1 of 3)
		}
}

.chapter-text {
		h2 {
			font-size: $large-font-size;
			font-weight: normal;
		}

}

.theme-text {}
