//side panel layout for text, works with _image-panel.scss
.text-panel {
	background-color: $dark-taupe;
	color: $light-font-color;
	padding: $base-spacing;
	// for small displays
	width: 100%;

	//for large displays:
  @include media($large-screen) {
		width: 30%;
    height: 100vh;
		@include calc(height, "100vh - #{$top-plus-bottom}");
		@include position(absolute, 50px null 0 0); 
	}

	a:link, a:visited {
		color: transparentize($light-font-color, 0.4);
	}
	
	a:hover {
		color: $light-font-color;
		text-decoration: underline;
	}
}

.intro-text {
	font-size: $smallish-font-size;
}

.intro-nav {
	font-size: $small-font-size;
	text-align: center;
		
		li {
			display: inline;
			margin-bottom: $base-spacing;

			@include span-columns (1 of 3)
		}
}

.read-this {
	background: no-repeat bottom url("../images/pointing-hand-down.png");
	height: 85px;
}

.chapter-text, .intro-text {
	h2 {

		@include media(max-width 1100px) {
			font-size: $base-font-size;
		}
	}

	h4 {
		font-size: $small-font-size;
		line-height: $base-line-height;

		@include media(max-width 1100px) {
			font-size: $small-font-size;
		}
	}	
}

.chapter-text--scroll {
	background-color: $panel-darken-color;
	border: 1px solid darken($dark-taupe, 8%);
	font-size: $base-font-size / 1.15;
	height: 80%;
	margin-bottom: $small-spacing;
	padding: $small-spacing;
	overflow-y: scroll;

	//when viewport is shorter than 750px reduce height of text area
	@include media(max-height 750px) {
		height: 70%;
	}

	//when viewport is narrower than 1200px reduce height of text area
	@include media(max-width 1200px) {
		height: 70%;
	}
}

.chapter-nav {
	li {
		display: inline;
		padding-right: $small-spacing;
		
		@include media(max-width 1100px) {
			font-size: $small-font-size;
		}
	}

	p {
		@include media(max-width 1100px) {
			font-size: $small-font-size;
		}		
	}	
}
