// Dig Deeper Gallery - CLEAN THIS UP!

.deeper {
	font-size: $smallish-font-size;
	padding-top: $large-spacing;

	h2 {
		color: $action-color;
		font-size: $medlarge-font-size;
		letter-spacing: 0.25em;
		margin: $base-spacing 0 0 $base-spacing;
		text-transform: uppercase;
	}
		
	// when viewport is less than or equal to em(860), show at top of gallery
	@include media(max-width $large-screen) {
		padding: $base-spacing;
	}
}

//to make the gallery of images responsive, at tablet size img max-height 50%, at phone size stack page vertically
.deeper .table-cell {
  padding: $base-spacing;/* this adds left & right padding to images in deeper gallery */

	img {
		border: 1px solid $base-border-color;
		display: block;
		max-width: none;
		max-height: 25vh;
		padding: 2px;

	// when viewport is less than or equal to 790px tall, make images smaller
	@include media(max-height 790px) {
				max-height: 18vh;
	}
		&.oval {
			border-radius: 50%;	
		}
	}
}

.deeper-row {
	display: inline-table;
}

.go-to-deeper {
		// when viewport is less than or equal to em(860), show at top of gallery
		@include media(max-width $large-screen) {
			display: none;
		}

		//for large displays:
	  @include media($large-screen) {
			@include position(absolute, 0 -100% null null ); 
			background-color: $transparent-dark-taupe;
			height: 80px;
			letter-spacing: 0.25em;
			padding: $base-spacing;
			text-transform: uppercase;
			transform: rotate(90deg);
			transform-origin: left top 0;
			width: 100%;

				a:link, a:visited {
					color: $light-font-color;
				}

				a:hover {
					color: $accent-color;
				}
		}	
}

.table.toprow .table-cell {
  vertical-align: bottom;
  padding-bottom: 1rem;
}
