// STORY IMAGES -- OBSOLETE???

// The Expanding World of Dexter Marsh
.expanding-world-0 {
	background-image: url("../../../design/stories/images/expanding-world-0.jpg");
}

.expanding-world-1 {
	background-image: url("../../../design/stories/images/expanding-world-1.jpg");
}

// Whose Discovery Was It?
.whose-discovery-0 {
	background-image: url("../../../design/stories/images/whose-discovery-0.jpg");
}

// Edward and Orra Hitchcock in the Age of Refinement
.age-refinement-0 {
	background-image: url("../../../design/stories/images/age-refinement-0.jpg");
}
