//Map
.map-empty {
	background-color: $dark-taupe;
	overflow: visible;

  @include media($large-screen) {
		overflow: auto;
	}	
}

// to make 2 left-hand columns float left
.map-wrapper {
	float: none;
	width: 100%;	
  
  @include media($large-screen) {
		float: left;
		width: 75%;
	}
}

// right side panel
.map-locations-panel {
	// for large displays:
  @include media($large-screen) {
		display: block;
		margin-left: 75%;
		width: 25%;
	}
}

// left side panel
.map-control-panel {
	// for large displays:
  @include media($large-screen) {
		display: block;
		float: left;
		width: 30%;
	}
}

// both side panels
.map-control-panel, .map-locations-panel {
	color: $light-font-color;
	padding: $base-spacing;

	h2 {
		font-size: $medlarge-font-size;
	}

	a:link, a:visited {
		color: transparentize($light-font-color, 0.4);
	}
	
	a:hover {
		color: $light-font-color;
		text-decoration: underline;
	}
}

//map central area
.map-area {
	display: block;
	height: 100vh;
}

#map { 
  height: 100%; 
  z-index: 85;
}

// PAGE FEATURES/FUNCTIONALITY
// for check boxes, radio button lists of map layers and locations
.map-layers {
	margin-bottom: 0;

	li {
		border-top: $base-border;
		clear: left;
		margin-top: $tiny-spacing;
		margin-bottom: $large-spacing;

		label, a {
			font-variant: small-caps;
  		letter-spacing: .05em;
		}

		img {
			float: left;
			margin-right: $small-spacing;
			height: 50px;
			width: auto;
		}

		p {
  		font-family: $utility-font-family;
  		font-size: $small-font-size;
		}
  }
}

.glacier-list {
	border-top: $base-border;

	li label {
  	font-family: $utility-font-family;
		font-size: $small-font-size;
	}
	
	li a {
		font-variant: small-caps;
  	letter-spacing: .05em;
	}
}	

.map-locations  {
	margin-bottom: $base-spacing;
}

// these classes are used in map.js and map_deeper.html
.map-sites, .map-deeper {

	li {
		border-bottom: $base-border;
		font-size: $small-font-size;
		line-height: $heading-line-height;
		margin-bottom: $small-spacing;
	}

	li a:link, li a:visited {
		color: $light-font-color;
	}
}

// for lists of locations and dig deepers
.map-scroll {
	background-color: $panel-darken-color;
	border: $base-border;
	height: 20vh;
	margin-bottom: $base-spacing;
  overflow: scroll;
  padding: $small-spacing;
}

// for About this map slimpops
.map-image {
	float: left;
	margin-right: $base-spacing;
	border: $double-border;
}

// for map intro page
.map-left-col {
  @include span-columns(6 of 12);
	text-align: left;

	// for large displays:
  @include media($large-screen) {
  	@include span-columns(3);
	}
}

.map-right-col {
  @include span-columns(12);
	text-align: left;

	// for large displays:
  @include media($large-screen) {
  	@include span-columns(3);
	}
}

.map-middle-col {

	button {
		margin-bottom: $base-spacing;

	  a {
	  	color: $light-font-color;
	  }
	}

	// for large displays:
  @include media($large-screen) {
  	@include span-columns(6);
		margin-bottom: 0;
	}
}

// for small displays
img.how-to-map {
  @include media (max-width $large-screen) {
  	@include span-columns(6 of 12);
	}
}

.related-list li {
	font-size: $smallish-font-size;
	margin-bottom: $small-spacing;
}

.map-about img {
	float: left;
	margin-right: $base-spacing;
}

.map-row {
	margin-bottom: $large-spacing;
	overflow: auto;
	text-align: left;

	img {
		border: $double-border;
	}
}

.how-to p {
  font-family: $utility-font-family;
  font-size: $smallish-font-size;
}
