// home page
.home {
	background: url("../images/hm-bkgrnd-lite.jpg") no-repeat;
	background-size: cover;

	a img {
		border: $double-border;
	}

	header {
	  margin-bottom: $base-spacing;
		text-align: center;
	}
}

.hm-title {
  color: $accent-color;
	font-size: $title-font-size * 1.5;
  margin-bottom: 0;
}

.hm-subtitle, .hm-menu-link {
  color: $accent-color;
  font-size: $medlarge-font-size;
  font-style: italic;
	text-align: center;
}

// layout
.hm-col-1 {
	@include span-columns(5);

	.sub-col {
		@include span-columns(2.25 of 5);
	}
}

.hm-col-2 {
	@include span-columns(2);
}

.hm-col-3 {
	@include span-columns(5);
}

.hm-col-1, .hm-col-2, .hm-col-3 {
	h2 {
		margin-top: $small-spacing;
		margin-bottom: $tiny-spacing;
	}
}

// cross-dissolve animation from http://css3.bradshawenterprises.com/cfimg/
#fade-story, #fade-theme, #fade-evidence, #fade-people { 
	position: relative;
}
//should this go AFTER next part?
#fade-story img.top, #fade-evidence img.top, #fade-theme img.top, #fade-people img.top {
  position: relative;
  margin: 0 auto;
}

#fade-story img, #fade-evidence img, #fade-theme img, #fade-people img {
  position: absolute;
  left: 0;
  top: 0;
 }

#fade-people img {
  @include animation(fade-inandout-people 4s ease-in-out infinite);
}

#fade-story img {
  @include animation(fade-inandout 6s ease-in-out infinite);
}

#fade-evidence img {
  @include animation(fade-inandout 8s ease-in-out infinite);
}

#fade-theme img {
  @include animation(fade-inandout 7s ease-in-out infinite);
}

@-webkit-keyframes fade-inandout {
  0% { opacity: 1; }
  17% { opacity: 1; }
  25% { opacity: 0; }
  92% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fade-inandout {
  0% { opacity: 1; }
  17% { opacity: 1; }
  25% { opacity: 0; }
  92% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fade-inandout {
  0% { opacity: 1; }
  17% { opacity: 1; }
  25% { opacity: 0; }
  92% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-inandout {
  0% { opacity: 1; }
  17% { opacity: 1; }
  25% { opacity: 0; }
  92% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fade-inandout-people {
  0% { opacity: 1; }
  15% { opacity: 1; }
  20% { opacity: 0; }
  95% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fade-inandout-people {
  0% { opacity: 1; }
  15% { opacity: 1; }
  20% { opacity: 0; }
  95% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fade-inandout-people {
  0% { opacity: 1; }
  15% { opacity: 1; }
  20% { opacity: 0; }
  95% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-inandout-people {
  0% { opacity: 1; }
  15% { opacity: 1; }
  20% { opacity: 0; }
  95% { opacity: 0; }
  100% { opacity: 1; }
}

#fade-evidence, #fade-story, #fade-theme {
	img:nth-of-type(1) {
    animation-delay: 6s;
	}
}

#fade-evidence, #fade-story, #fade-theme {
 img:nth-of-type(2) {
    animation-delay: 4s;
  }
}

#fade-evidence, #fade-story, #fade-theme {
 img:nth-of-type(3) {
    animation-delay: 2s;
  }
}

#fade-evidence, #fade-story, #fade-theme {
 img:nth-of-type(4) {
    animation-delay: 0;
  }
}

#fade-people {
	img:nth-of-type(1) {
    animation-delay: 12s;
	}
}

#fade-people {
 img:nth-of-type(2) {
    animation-delay: 9s;
  }
}

#fade-people {
 img:nth-of-type(3) {
    animation-delay: 6s;
  }
}

#fade-people {
 img:nth-of-type(4) {
    animation-delay: 3s;
  }
}

#fade-people {
 img:nth-of-type(5) {
    animation-delay: 0;
  }
}
