// All menus
.menus {
	text-align: center;		
}

// Story, Theme, Special Features menus
.menu-gallery {
	
	li {
		font-style: italic;
		margin-bottom: $base-spacing;
		position: relative;

  	img {
  		border: $double-border;
  		padding: 2px;
  	}
		
		// menu blurb tool tips
		p {
		  @include fill-parent;
		  background-color: $transparent-dark-taupe;
		  border: $double-border;
		  color: $light-font-color;
			display: inline-block;
			font-size: $small-font-size;
			font-style: normal;
	    left: 0;
	    letter-spacing: .05em;
		  padding: $small-spacing;
		  position: absolute;
		  text-align: center;
	    top: 0;
	    visibility: hidden;
		  width: 100%;
	    z-index: 1;
		}
	}

	li:hover p {
		visibility: visible;

		@include media (max-width $large-screen) {
	    visibility: hidden;
	  }
	}
}

.menu-title {
	display: block;
	font-style: normal;
	font-variant: small-caps;
}

// for Stories
.three-across li {
	@include span-columns(4);
	@include omega(3n);
}

// for Themes
.four-across li {
	@include span-columns(3);
	@include omega(4n);
}

// for Special Features
.six-across {
	width: 100%;
	overflow: hidden;

	.menu-gallery li {
		@include span-columns(2);
		@include omega(5n);
		font-size: $smallish-font-size;
		margin-bottom: $large-spacing;
	}

	@include media($large-screen) {
		@include span-columns(2);
	
		.menu-gallery li {
			@include span-columns(2 of 2);
		}
	}

	h3 {
		padding: $small-spacing 0;
	}
}

// for evidence and backdrops menu
.menu-grid--area {
	overflow: auto;
	padding: $large-spacing $base-spacing;
	// for small displays
	width: 100%;

	//for large displays (works with control-panel):
	@include media($large-screen) {
		@include span-columns(8);
	}
}

.menu-grid {
	@include outer-container;
	margin-bottom: $large-spacing;

	li {
		font-size: $small-font-size;
		line-height: $heading-line-height;
		margin-bottom: $base-spacing;

  	img {
  		border: $double-border;
  		margin-bottom: $tiny-spacing;
  		padding: 2px;
  	}
  }
}

// for Backdrop and Evidence Menus
.squares {

	li {
	  @include span-columns(1.5 of 8);
	  @include omega(5n);
	}
}

// for People Menu -- this needs responsive help!!
.people-primary, .people-secondary, .oval {
	img {
		border-radius: 50%;	
	}
}

.people-primary {
	margin-top: $large-spacing;

	li {
		@include span-columns(2.25);
	}

  @include media($large-screen) {
	
	@include shift(1.5);
		li {
			@include span-columns(2);
		} 
	}
}

.people-secondary, .people-tertiary {
	li {
		@include span-columns(1.5);
		@include omega(8n);
	}

  @include media($large-screen) {
		li {
			@include span-columns(1.5);
			@include omega(8n);
		}
	}
}

.people-tertiary {
	overflow: auto;
	padding-top: $large-spacing;
	text-align: left;
}
