// Menus for home page
// this will become obsolete
.menu-home {
	li {
	  display: inline-block;
	  margin-right: $large-spacing;
		padding-top: $xlarge-spacing;

	  a { 
	  font-size: $medlarge-font-size;
		}

  	img {
  		padding: 2px;
  		border: $double-border;
  	}
  }
}

//is this obsolete?
.secondary	{
	clear: left;
	font-size: $small-font-size;
}

.home {
	background: url("../images/hm-bkgrnd-lite.jpg") no-repeat;
	background-size: cover;
	text-align: center;

	img.hm-menu {
		border: $double-border;
	}

	header {
	  margin-bottom: $base-spacing;
	}
}

.hm-title {
  color: $accent-color;
	font-size: $title-font-size * 1.5;
  margin-bottom: 0;
}

.hm-subtitle, .hm-menu-link {
  color: $accent-color;
  font-size: $medlarge-font-size;
  font-style: italic;
}


.hm-col-1 {
	@include span-columns(5);
	
	ul li {
		display: inline;
	}

	ul li.sub-col {
		@include span-columns(2.25 of 5);
	}
}

.hm-col-2 {
	@include span-columns(2);
}

.hm-col-3 {
	@include span-columns(5);
}

.hm-col-1, .hm-col-2, .hm-col-3 {
	h2 {
		margin-top: $small-spacing;
		margin-bottom: $tiny-spacing;
	}
}
