// Menus for home page
// this will become obsolete
// .menu-home {
// 	li {
// 	  display: inline-block;
// 	  margin-right: $large-spacing;
// 		padding-top: $xlarge-spacing;

// 	  a { 
// 	  font-size: $medlarge-font-size;
// 		}

//   	img {
//   		padding: 2px;
//   		border: $double-border;
//   	}
//   }
// }

//is this obsolete?
// .secondary	{
// 	clear: left;
// 	font-size: $small-font-size;
// }

.home {
	background: url("../images/hm-bkgrnd-lite.jpg") no-repeat;
	background-size: cover;
	text-align: center;

	a.hm-menu-item {
		//display: block;
		//position: relative;

		img {
			border: $double-border;
		}
	}

	header {
	  margin-bottom: $base-spacing;
	}
}

.hm-title {
  color: $accent-color;
	font-size: $title-font-size * 1.5;
  margin-bottom: 0;
}

.hm-subtitle, .hm-menu-link {
  color: $accent-color;
  font-size: $medlarge-font-size;
  font-style: italic;
}

.hm-col-1 {
	@include span-columns(5);

	.sub-col {
		@include span-columns(2.25 of 5);
	}
}

.hm-col-2 {
	@include span-columns(2);
}

.hm-col-3 {
	@include span-columns(5);
}

.hm-col-1, .hm-col-2, .hm-col-3 {
	h2 {
		margin-top: $small-spacing;
		margin-bottom: $tiny-spacing;
	}
}

// cross-dissolve animation from http://css3.bradshawenterprises.com/
#fade-story { position: relative; }

#fade-story img.top, #fade-evidence, #fade-theme {
  position: relative;
  margin: 0 auto;
}

#fade-story img, #fade-evidence img, #fade-theme img {
  position: absolute;
  //left: 40px;
  -webkit-animation-name: fade-inandout;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 8s;
  -moz-animation-name: fade-inandout;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-iteration-count: infinite;
  -moz-animation-duration: 8s;
  -o-animation-name: fade-inandout;
  -o-animation-timing-function: ease-in-out;
  -o-animation-iteration-count: infinite;
  -o-animation-duration: 8s;
  animation-name: fade-inandout;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 8s;
 }



@-webkit-keyframes fade-inandout {
    0% {
        opacity: 1;
    }
    17% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    92% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fade-inandout {
    0% {
        opacity: 1;
    }
    17% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    92% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fade-inandout {
    0% {
        opacity: 1;
    }
    17% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    92% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-inandout {
    0% {
        opacity: 1;
    }
    17% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    92% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#fade-evidence, #fade-story, #fade-theme {
	img:nth-of-type(1) {
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    animation-delay: 6s;
	}
}

#fade-evidence, #fade-story, #fade-theme {
 img:nth-of-type(2) {
    -webkit-animation-delay: 4s;
    -moz-animation-delay: 4s;
    -o-animation-delay: 4s;
    animation-delay: 4s;
  }
}

#fade-evidence, #fade-story, #fade-theme {
 img:nth-of-type(3) {
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    -o-animation-delay: 2s;
    animation-delay: 2s;
  }
}

#fade-evidence, #fade-story, #fade-theme {
 img:nth-of-type(4) {
    -webkit-animation-delay: 0;
    -moz-animation-delay: 0;
    -o-animation-delay: 0;
    animation-delay: 0;
  }
}
