// Menus for Stories, Themes
.menu-gallery {
	text-align: center;
	
	li {
		font-style: normal;
		margin-bottom: $base-spacing;
		position: relative;
	  @include span-columns(3);
	  @include omega(4n);

  	img {
  		border: $double-border;
  		//display: block;
  		padding: 2px;
  	}
		
		p {
		  background-color: $dark-taupe;
		  border: $double-border;
		  color: $light-font-color;
			display: inline-block;
			font-size: $smallish-font-size;
			font-style: italic;
	    left: 50%;
	    letter-spacing: .05em;
	    margin-left: -125px; 
		  padding: $small-spacing;
		  position: absolute;
		  text-align: center;
	    top: 5%;
	    visibility: hidden;
		  width: 250px;
	    z-index: 1;				
		}
	}

	li:hover p {
		visibility: visible;
	}	

	.menu-header {
		display: block;
		font-variant: small-caps;
	}
}
