// home page
.home {
	background: url("../images/hm-bkgrnd-lite.jpg") no-repeat;
	background-size: cover;

	a img {
		border: $double-border;
	}

	header {
	  margin-bottom: $base-spacing;
		text-align: center;
	}
}

.hm-title {
  color: $accent-color;
	font-size: $title-font-size * 1.5;
  margin-bottom: 0;
}

.hm-subtitle {
  color: $accent-color;
  font-size: $medlarge-font-size;
  font-style: italic;
	text-align: center;
}

.hm-menu-link {
  color: $accent-color;
  font-size: $medlarge-font-size;
  font-variant: small-caps;
  letter-spacing: .05em;
	text-align: center;
}

// layout
.hm-col-1 {
	@include span-columns(8);
	
	@include media($large-screen) {
		@include span-columns(5);
	}
}

.sub-col {
	@include span-columns(2.25 of 5);
}

.hm-col-2 {
	@include span-columns(2);
}

.hm-col-3 {
	@include span-columns(12);
	
	@include media($large-screen) {
		@include span-columns(5);
	}
}

.hm-col-1, .hm-col-2, .hm-col-3 {
	h2 {
		margin-top: $small-spacing;
		margin-bottom: $tiny-spacing;
	}
}

// cross-dissolve animation from http://css3.bradshawenterprises.com/cfimg/
#fade-story, #fade-theme, #fade-evidence, #fade-people { 
	position: relative;
}

//should this go AFTER next part?
#fade-story img.top, #fade-evidence img.top, #fade-theme img.top, #fade-people img.top {
  position: relative;
  margin: 0 auto;
}

#fade-story img, #fade-evidence img, #fade-theme img, #fade-people img {
  position: absolute;
  left: 0;
  top: 0;
 }

#fade-people img {
  @include animation(fade-inandout-people 45s ease-in-out infinite);
}

#fade-story img {
  @include animation(fade-inandout-story 36s ease-in-out infinite);
}

#fade-evidence img {
  @include animation(fade-inandout-evidence 28s ease-in-out infinite);
}

#fade-theme img {
  @include animation(fade-inandout-theme 32s ease-in-out infinite);
}

// do this animation PER IMAGE, the percentage of the overall animation
@include keyframes(fade-inandout-people) {
  0% { opacity: 1; }
  15% { opacity: 1; }
  20% { opacity: 0; }
  95% { opacity: 0; }
  100% { opacity: 1; }
}

@include keyframes(fade-inandout-evidence) {
  0% { opacity: 1; }
  18% { opacity: 1; }
  25% { opacity: 0; }
  93% { opacity: 0; }
  100% { opacity: 1; }
}

@include keyframes(fade-inandout-story) {
  0% { opacity: 1; }
  11% { opacity: 1; }
  17% { opacity: 0; }
  94% { opacity: 0; }
  100% { opacity: 1; }
}

@include keyframes(fade-inandout-theme) {
  0% { opacity: 1; }
  19% { opacity: 1; }
  25% { opacity: 0; }
  94% { opacity: 0; }
  100% { opacity: 1; }
}

// this says when, within the overall duration, each image becomes visible
////////   evidence  //////////
#fade-evidence img:nth-of-type(1) {
  animation-delay: 21s;
}

#fade-evidence img:nth-of-type(2) {
  animation-delay: 14s;
}

#fade-evidence img:nth-of-type(3) {
  animation-delay: 7s;
}

#fade-evidence img:nth-of-type(4) {
  animation-delay: 0;
}

////////   people   //////////
#fade-people img:nth-of-type(1) {
  animation-delay: 36s;
}

#fade-people img:nth-of-type(2) {
  animation-delay: 27s;
}

#fade-people img:nth-of-type(3) {
  animation-delay: 18s;
}

#fade-people img:nth-of-type(4) {
  animation-delay: 9s;
}

#fade-people img:nth-of-type(5) {
  animation-delay: 0;
}

////////   theme   ////////
#fade-theme img:nth-of-type(1) {
  animation-delay: 24s;
}

#fade-theme img:nth-of-type(2) {
  animation-delay: 16s;
}

#fade-theme img:nth-of-type(3) {
  animation-delay: 8s;
}

#fade-theme img:nth-of-type(4) {
  animation-delay: 0;
}

////////   story   //////////
#fade-story img:nth-of-type(1) {
  animation-delay: 30s;
}

#fade-story img:nth-of-type(2) {
  animation-delay: 24s;
}

#fade-story img:nth-of-type(3) {
  animation-delay: 18s;
}

#fade-story img:nth-of-type(4) {
  animation-delay: 12s;
}

#fade-story img:nth-of-type(5) {
  animation-delay: 6s;
}

#fade-story img:nth-of-type(6) {
  animation-delay: 0;
}
