// Menus for home page
// this will become obsolete
.menu-home {
	li {
	  display: inline-block;
	  margin-right: $large-spacing;
		padding-top: $xlarge-spacing;

	  a { 
	  font-size: $medlarge-font-size;
		}

  	img {
  		padding: 2px;
  		border: $double-border;
  	}
  }
}

//is this obsolete?
.secondary	{
	clear: left;
	font-size: $small-font-size;
}

.home {
	background: url("../images/hm-bkgrnd.jpg") cover no-repeat;
	text-align: center;
}
