// Stories, Themes
.intro-text {
	h1 {
		@include media(min-width $large-screen) {
			font-size: $large-font-size;
	}		
}

	h4 {
		font-size: $small-font-size;
		line-height: $base-line-height;

		@include media(max-width 1100px) {
			font-size: $small-font-size;
		}
	}	
}

.intro-nav {
	background-color: $panel-darken-color;
	font-size: $smallish-font-size;
	margin-bottom: $tiny-spacing;
	@include outer-container;
	text-align: center;
		
	li {
		display: inline;
		margin-bottom: $base-spacing;

		@include span-columns (1.3 of 4);

		a {
			display: block;

			em {
				display: block;
				letter-spacing: $italic-letter-spacing;
			}
		}
	}

	li.previous {
		padding-left: $tiny-spacing;
		text-align: left;

		span.end-of-the-line {
			display: none;
		}
	}

	li.next {
		text-align: right;

		span.end-of-the-line {
			display: none;
		}
	}
}

.read-this {
	img {
		display: block;
		margin: 0 auto;
	}
}

p.story-prompt {
	margin-top: $base-spacing;

	a:link, a:visited {
		color: $light-font-color;
	}

	a:hover {
		text-decoration: underline;
	}
}

.chapter {
	// for small displays
	width: 100%;

 	//for large displays:
  @include media($large-screen) {
  	@include span-columns(8);
		@include shift(4);
		margin-bottom: $small-spacing;
	}

	blockquote p {
		font-style: italic;
	}

	blockquote cite {
		font-size: $smallish-font-size;
		font-style: normal;
		margin-left: $base-spacing;

		&:before {
			content: "\2014";
		}
	}
}

.chapter-vertical {
	// for small displays
	width: 100%;

 	//for large displays:
  @include media($large-screen) {
  	@include span-columns(6);
		@include shift(6);
		margin-bottom: $small-spacing;
	}
}

.chapter-image, .chapter-image-vertical {
	// for small displays
	width: 100%;
	height: auto;

	img {
		border: $double-border;
		padding: 2px;
	}
}

.chapter-image {
 	//for large displays:
  @include media($large-screen) {	
 		@include span-columns(8 of 8);
		@include shift(-4);
	}
}

.chapter-image-vertical {
 	//for large displays:
  @include media($large-screen) {	
 		@include span-columns(6 of 6);
		@include shift(-6);
	}
}

.chapter-nav {
	li {
		display: inline;
		padding-right: $small-spacing;
	  position: relative;
	
		//@include media(max-width 1100px) {
		//	font-size: $small-font-size;
		//}
	}

	li.chapter-nav--dropdown:hover {
  	//background: $light-taupe;
	}
}

.chapter-subnav {
  box-shadow: $drop-shadow;
  display: none;  
  left: 0;
	position: absolute;
  top: 20px;
  width: 300px;

  li {
	  background-color: $base-background-color; 
	  border-top: 1px solid $top-nav-background-color;
	  display: block;
  	font-style: italic;
  	font-variant: normal;
  	letter-spacing: 0;
	  padding: $tiny-spacing;
	}
}

ul.chapter-nav li ol.chapter-subnav li.selected { 
	background-color: $top-nav-background-color;
}

ul.chapter-nav li ol.chapter-subnav li:hover { 
	background-color: $top-nav-background-color;
}

ul.chapter-nav li:hover ol.chapter-subnav {
  display: block;
}
