// paging for Evidence and Backdrop menus
.previous {
  @include span-columns(2 8);
}

.page-numbers {
  @include span-columns(4 8);
  text-align: center;
}

.next {
  @include span-columns(2 8);
  text-align: right;
}

.page-nav, .page-nav--disabled, .page-nav--selected {
  display: inline;
}

.page-nav, .page-nav--selected {  
  //border: thin solid $light-taupe;
  margin-right: $tiny-spacing;
  padding: 0 2px;
  
  a:hover {
    text-decoration: none;
  }

  a::before {
    content: "\02666";
    color: $light-taupe;
    font-size: $small-font-size;
    padding-right: $small-spacing;
  }
}

.next-link, .prev-link {
  border: none;

  a:hover {
    text-decoration: underline;
  }
}

.page-nav--selected {
  background-color: $light-taupe;
  //border: thin solid $light-taupe;
  color: $action-color;
  padding: 0 3px;
  //margin: 4px;
}

.page-nav--disabled {
  color: $medium-gray;
}
