// Special Features

// Navigation
.activities-controls {
  margin-bottom: $base-spacing;

  li {
    color: $accent-color;
    font-variant: small-caps;
    margin: $small-spacing 0;
  
    &#feedback {
      font-style: italic;
      font-variant: normal;
    }

    span.no-more {
      color: $medium-gray;
    }
  }
}

// Slideshows
.slideshow-col {
  float: left;
  margin-right: $base-spacing;
}

.slideshow-controls-col {
 //float: right;
 //width: 25%;
 //margin-left: 77%;
}

#slideshow-image {
  img {
    max-height: 600px;
  }
}

// Interactives
.activity-col {
  @include span-columns (9);
}

.activity-controls-col {
  @include span-columns (3);
}

//for find the footprints
.footprint {
  fill: #b12b00;
  fill-opacity: 0;
}

.footprint_correct {
  stroke: #FFFF00;
    fill: #F9FD00;
    fill-opacity: 0.1;
}

// for svg highlights
.hotspot {
  fill: #b12b00;
  fill-opacity: 0.01;
}

.hotspot_correct {
  stroke: #b12b00;
  fill: #b12b00;
  fill-opacity: 0.1;
}

.hidden {
  display: none;
}

.unhidden {
  display: block;
}

// Voices
.voices {
	width: 50vw;

	blockquote {
  margin-left: 0;

	  p {
	    font-style: italic;
	  }

	  cite {
	    font-family: $utility-font-family;
	    font-size: $smallish-font-size;
	    font-style: normal;
	  }
	}
}
// Looking...Seeing (from Codrops - http://tympanus.net/Development/AudioSlideshow/ )
.audio-slideshow {
	width: 640px;
	height: 520px;
	position: relative;
	margin: 0 auto;
}

.audio-slideshow .audio-slides {
	position: relative;
}

.audio-slideshow .audio-slides img {
	display: block;
	position: absolute;
	top: 0; left: 0;
}

.audio-slideshow .audio-control-interface {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 48px;
}

.audio-slideshow .play-pause-container, .audio-slideshow .time-container {
	position: absolute;
	bottom: 25px;
	height: 18px;
	//font-weight: bold;
	color: $base-font-color;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

.audio-slideshow .play-pause-container a {
	outline: none;
	text-indent: -99999px;
	width: 16px;
	height: 16px;
	position: absolute;
}
.audio-slideshow .play-pause-container a.audio-play {
	background: transparent url(../images/play.png) no-repeat center center;
}

.audio-slideshow .play-pause-container a.audio-pause {
	background: transparent url(../images/pause.png) no-repeat center center;
}

.audio-slideshow .audio-control-interface .time-container {
	right: 3px;
}

.audio-slideshow .timeline {
	position: absolute;
	width: 100%;
	background-color: #fff;
	height: 20px;
	bottom: 0;
	left: 0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.audio-slideshow .timeline .playhead {
	position: absolute;
	height: 20px;
	background: #333;
	width: 0;
}

.marker {
	width: 10px;
	height: 10px;
	border-radius: 5px;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.4) inset;
	position: absolute;
	background: #B8BAC6;
	top: 5px;
}

.marker span {
	padding: 5px;
	position: absolute;
	bottom: 20px;
	opacity: 0;
	left: -50px;
	z-index: -1;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
	background: linear-gradient(top, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
	transition: all 0.3s ease-in-out;
}

.marker span img {
	display: block;
}

.marker:hover span {
	opacity: 1;
	z-index: 100;
}

// Video
#video-content {
	width: 500px;
}
