//for find the footprints
.footprint {
  fill: #b12b00;
  fill-opacity: 0;
}

.footprint_correct {
  stroke: #FFFF00;
    fill: #F9FD00;
    fill-opacity: 0.1;
}

// for svg highlights
.hotspot {
  fill: #b12b00;
  fill-opacity: 0.01;
}

.hotspot_correct {
  stroke: #b12b00;
  fill: #b12b00;
  fill-opacity: 0.1;
}

.hidden {
  display: none;
}

.unhidden {
  display: block;
}
