// Grid of Faces - Discoverers
table.discoverers-faces {

	td {
		background-color: transparentize($light-taupe, 0.5);
		border: $base-border;
  	font-weight: normal;
  	padding: $tiny-spacing;
  	text-align: center;

		img {
			border: none;
			display: block;
		}

		img:hover {
			opacity: 0.75;
		}

		a span.name {
			font-size: $smallish-font-size;
		}

		a:hover {
			//background-color: yellow;
		}

		div.discoverers-vote {

			border-top: $base-border;
			font-family: $utility-font-family;
			font-size: $small-font-size;

			a:link {
				color: $dark-taupe;
				text-decoration: underline;
				display: block;
				float: left;
				width: 50%;
			}

			label {
				display: inline;
			}
		}
	}
}

.vote-feedback {
	
	h3 {
		font-size: $medlarge-font-size;
  	font-style: italic;
		margin: $base-spacing 0 $tiny-spacing 0;
	}
}
