// Special Features General

// Navigation
.activities-controls {
  margin-bottom: $base-spacing;

  li {
    color: $accent-color;
    font-variant: small-caps;
    margin: $small-spacing 0;
  
    &#feedback {
      font-style: italic;
      font-variant: normal;
    }

    span.no-more {
      color: $medium-gray;
    }
  }
}

// Slideshows
.slideshow-col {
  float: left;
  margin-right: $base-spacing;
}

.slideshow-controls-col {
 //float: right;
 //width: 25%;
 //margin-left: 77%;
}

#slideshow-image {
  img {
    max-height: 600px;
  }
}

// Interactives
.activity-col {
  @include span-columns (9);
}

.activity-controls-col {
  @include span-columns (3);
}

.activities-controls label {
	display: inline;
}

// Video
#video-content {
	width: 500px;
}

// Literary Society
.society-question {
	font-size: $medlarge-font-size;
	font-style: italic;
}
