{% load staticfiles %}

<table class="discoverers">
  <tr>
    <td>
      <a href="">
        <img src="{% static 'special/discoverers/menupics/' %}pliny-moody.jpg">
        <span class="name">Pliny Moody,<br/>farmer</span></a>
    </td>
    <td>
      <a href="">
        <img src="{% static 'special/discoverers/menupics/' %}native-american.jpg">
        <span class="name">Native American,<br/>farmer</span></a>
    </td>
    <td>
      <a href="">
        <img src="{% static 'special/discoverers/menupics/' %}edward-hitchcock.jpg">
        <span class="name">Edward Hitchcock,<br/>geologist</span></a>
    </td>
    <td>
      <a href="">
        <img src="{% static 'special/discoverers/menupics/' %}dexter-marsh.jpg">
        <span class="name">Dexter Marsh,<br/>laborer</span></a>
    </td>
  </tr>
  <tr>
    <td>
      <a class="pop_item" href="discoverers/james-deane.html">
        <img src="{% static 'special/discoverers/menupics/' %}james-deane.jpg">
        <span class="name">James Deane,<br/>physician</span></a>
    </td>
    <td>
      <a href="">
        <img src="{% static 'special/discoverers/menupics/' %}roswell-field.jpg">
        <span class="name">Roswell Field,<br/>farmer</span></a>
    </td>
    <td>
      <a href="">
        <img src="{% static 'special/discoverers/menupics/' %}benjamin-silliman.jpg">
        <span class="name">Benjamin Silliman,<br/>scientist</span></a>
    </td>
    <td>
      <a href="">
        <img src="{% static 'special/discoverers/menupics/' %}william-draper.jpg">
        <span class="name">William Draper,<br/>lawyer</span></a>
    </td>
  </tr>
</table>
