{% load static %}

<form id="discoverers-form" action="#">
  <table class="discoverers-faces">
    <tr>
      <td>
      <a class="pop_item" href="{% url 'supporting:fastfact_detail' 'case-moody' %}">
          <img src="{% static 'special/discoverers/menupics/' %}pliny-moody.jpg">
          <span class="name">Pliny Moody</span>
        </a>  
        <div class="discoverers-vote">
          <a class="pop_item" href="{% url 'supporting:fastfact_detail' 'case-moody' %}">MY CASE</a>
          <label for="moody">VOTE:</label>
          <input type="checkbox" class="vote" id="moody" value="0">
        </div>
      </td>

      <td>
        <a class="pop_item" href="{% url 'supporting:fastfact_detail' 'case-native' %}">
          <img src="{% static 'special/discoverers/menupics/' %}native-american.jpg">
          <span class="name">Native American</span>
        </a>
        <div class="discoverers-vote">
          <a class="pop_item" href="{% url 'supporting:fastfact_detail' 'case-native' %}">MY CASE</a>
          <label for="native">VOTE:</label>
          <input type="checkbox" class="vote" id="native" value="1">
        </div>
      </td>

      <td>
        <a class="pop_item" href="{% url 'supporting:fastfact_detail' 'case-hitchcock' %}">
          <img src="{% static 'special/discoverers/menupics/' %}edward-hitchcock.jpg">
          <span class="name">Edward Hitchcock</span>
        </a>
        <div class="discoverers-vote">
          <a class="pop_item" href="{% url 'supporting:fastfact_detail' 'case-hitchcock' %}">MY CASE</a>
          <label for="hitchcock">VOTE:</label>
          <input type="checkbox" class="vote" id="hitchcock" value="2">
        </div>
      </td>

      <td>
        <a class="pop_item" href="{% url 'supporting:fastfact_detail' 'case-marsh' %}">
          <img src="{% static 'special/discoverers/menupics/' %}dexter-marsh.jpg">
          <span class="name">Dexter Marsh</span>
        </a>
        <div class="discoverers-vote">
          <a class="pop_item" href="{% url 'supporting:fastfact_detail' 'case-marsh' %}">MY CASE</a>
          <label for="marsh">VOTE:</label>
          <input type="checkbox" class="vote" id="marsh" value="3">
        </div>
      </td>

    </tr>

    <tr>
      <td>
        <a class="pop_item" href="{% url 'supporting:fastfact_detail' 'case-deane' %}">
          <img src="{% static 'special/discoverers/menupics/' %}james-deane.jpg">
          <span class="name">James Deane</span>
        </a>
        <div class="discoverers-vote">
          <a class="pop_item" href="{% url 'supporting:fastfact_detail' 'case-deane' %}">MY CASE</a>
          <label for="deane">VOTE:</label>
          <input type="checkbox" class="vote" id="deane" value="4">
        </div>
      </td>

      <td>
        <a class="pop_item" href="{% url 'supporting:fastfact_detail' 'case-field' %}">
          <img src="{% static 'special/discoverers/menupics/' %}roswell-field.jpg">
          <span class="name">Roswell Field</span>
        </a>
        <div class="discoverers-vote">
          <a class="pop_item" href="{% url 'supporting:fastfact_detail' 'case-field' %}">MY CASE</a>
          <label for="field">VOTE:</label>
          <input type="checkbox" class="vote" id="field" value="5">
        </div>
      </td>

      <td>
        <a class="pop_item" href="{% url 'supporting:fastfact_detail' 'case-silliman' %}">
          <img src="{% static 'special/discoverers/menupics/' %}benjamin-silliman.jpg">
          <span class="name">Benjamin Silliman</span>
        </a>
        <div class="discoverers-vote">
          <a class="pop_item" href="{% url 'supporting:fastfact_detail' 'case-silliman' %}">MY CASE</a>
          <label for="silliman">VOTE:</label>
          <input type="checkbox" class="vote" id="silliman" value="6">
        </div>
      </td>

      <td>
        <a class="pop_item" href="{% url 'supporting:fastfact_detail' 'case-draper' %}">
          <img src="{% static 'special/discoverers/menupics/' %}william-draper.jpg">
          <span class="name">William Draper</span>
        </a>
        <div class="discoverers-vote">
          <a class="pop_item" href="{% url 'supporting:fastfact_detail' 'case-draper' %}">MY CASE</a>
          <label for="draper">VOTE:</label>
          <input type="checkbox" class="vote" id="draper" value="7">
        </div>
      </td>

    </tr>

  </table>

</form>
