{% load static %}

{# since this is a one-off we're just building the table by hand #}
<table class="discoverers-faces">
  <tr>
    <td>
      <a class="pop_item" href="{% url 'special:voices_detail' 'who-moody' %}">
        <img src="{% static 'special/discoverers/menupics/' %}pliny-moody.jpg">
        <span class="name">Pliny Moody</span></a>
    </td>
    <td>
      <a class="pop_item" href="{% url 'special:voices_detail' 'who-native' %}">
        <img src="{% static 'special/discoverers/menupics/' %}native-american.jpg">
        <span class="name">Native American</span></a>
    </td>
    <td>
      <a class="pop_item" href="{% url 'special:voices_detail' 'who-hitchcock' %}">
        <img src="{% static 'special/discoverers/menupics/' %}edward-hitchcock.jpg">
        <span class="name">Edward Hitchcock</span></a>
    </td>
    <td>
      <a class="pop_item" href="{% url 'special:voices_detail' 'who-marsh' %}">
        <img src="{% static 'special/discoverers/menupics/' %}dexter-marsh.jpg">
        <span class="name">Dexter Marsh</span></a>
    </td>
  </tr>
  <tr>
    <td>
      <a class="pop_item" href="{% url 'special:voices_detail' 'who-deane' %}">
        <img src="{% static 'special/discoverers/menupics/' %}james-deane.jpg">
        <span class="name">James Deane</span></a>
    </td>
    <td>
      <a class="pop_item" href="{% url 'special:voices_detail' 'who-field' %}">
        <img src="{% static 'special/discoverers/menupics/' %}roswell-field.jpg">
        <span class="name">Roswell Field</span></a>
    </td>
    <td>
      <a class="pop_item" href="{% url 'special:voices_detail' 'who-silliman' %}">
        <img src="{% static 'special/discoverers/menupics/' %}benjamin-silliman.jpg">
        <span class="name">Benjamin Silliman</span></a>
    </td>
    <td>
      <a class="pop_item" href="{% url 'special:voices_detail' 'who-draper' %}">
        <img src="{% static 'special/discoverers/menupics/' %}william-draper.jpg">
        <span class="name">William Draper</span></a>
    </td>
  </tr>
</table>
