{% load staticfiles %}

<form action="">

  <table class="discoverers-faces">
    <tr>
      <td>
        <a href="">
          <img src="{% static 'special/discoverers/menupics/' %}pliny-moody.jpg">
          <span class="name">Pliny Moody,<br/>farmer</span>
        </a>
          
        <div class="discoverers-vote">
          <a class="pop_item" href="">Hear my case</a>
          <label for="moody">Vote:</label>
          <input type="checkbox" name="vote" id="moody">
        </div>
      </td>

      <td>
        <a href="">
          <img src="{% static 'special/discoverers/menupics/' %}native-american.jpg">
          <span class="name">Native American,<br/>farmer</span>
        </a>

        <div class="discoverers-vote">
          <a class="pop_item" href="">Hear my case</a>
          <label for="native">Vote:</label>
          <input type="checkbox" name="vote" id="native">
        </div>
      </td>

      <td>
        <a href="">
          <img src="{% static 'special/discoverers/menupics/' %}edward-hitchcock.jpg">
          <span class="name">Edward Hitchcock,<br/>geologist</span>
        </a>

        <div class="discoverers-vote">
          <a class="pop_item" href="">Hear my case</a>
          <label for="hitchcock">Vote:</label>
          <input type="checkbox" name="vote" id="hitchcock">
        </div>
      </td>

      <td>
        <a href="">
          <img src="{% static 'special/discoverers/menupics/' %}dexter-marsh.jpg">
          <span class="name">Dexter Marsh,<br/>laborer</span>
        </a>

        <div class="discoverers-vote">
          <a class="pop_item" href="">Hear my case</a>
          <label for="marsh">Vote:</label>
          <input type="checkbox" name="vote" id="marsh">
        </div>
      </td>

    </tr>

    <tr>
      <td>
        <a class="pop_item" href="discoverers/james-deane-case.html">
          <img src="{% static 'special/discoverers/menupics/' %}james-deane.jpg">
          <span class="name">James Deane,<br/>physician</span>
        </a>

        <div class="discoverers-vote">
          <a class="pop_item" href="discoverers/james-deane-case.html">Hear my case</a>
          <label for="deane">Vote:</label>
          <input type="checkbox" name="vote" id="deane">
        </div>
      </td>

      <td>
        <a class="pop_item" href="">
          <img src="{% static 'special/discoverers/menupics/' %}roswell-field.jpg">
          <span class="name">Roswell Field,<br/>farmer</span>
        </a>

        <div class="discoverers-vote">
          <a class="pop_item" href="">Hear my case</a>
          <label for="field">Vote:</label>
          <input type="checkbox" name="vote" id="field">
        </div>
      </td>

      <td>
        <a class="pop_item" href="">
          <img src="{% static 'special/discoverers/menupics/' %}benjamin-silliman.jpg">
          <span class="name">Benjamin Silliman,<br/>scientist</span>
        </a>

        <div class="discoverers-vote">
          <a class="pop_item" href="">Hear my case</a>
          <label for="silliman">Vote:</label>
          <input type="checkbox" name="vote" id="silliman">
        </div>
      </td>

      <td>
        <a class="pop_item" href="">
          <img src="{% static 'special/discoverers/menupics/' %}william-draper.jpg">
          <span class="name">William Draper,<br/>lawyer</span>
        </a>

        <div class="discoverers-vote">
          <a class="pop_item" href="">Hear my case</a>
          <label for="draper">Vote:</label>
          <input type="checkbox" name="vote" id="draper">
        </div>
      </td>

    </tr>

  </table>

</form>
