article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  appearance: none;
  background-color: #b12b00;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Libre Baskerville", serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.8em 1.6em;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {
    background-color: #8e2200;
    color: #fff; }
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, input[type="button"]:disabled:hover, input[type="reset"]:disabled:hover, input[type="submit"]:disabled:hover {
      background-color: #b12b00; }

a:link {
  color: #b12b00; }

a:visited {
  color: #8e2200; }

a:hover {
  color: #d94a38;
  text-decoration: underline; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.4em;
  padding: 0; }

label {
  display: block;
  margin-bottom: 0.4em; }

input,
select {
  display: block;
  font-family: "Libre Baskerville", serif;
  font-size: 1em; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea,
select[multiple] {
  background-color: #fff4e4;
  border: 1px solid #b3aa98;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "Libre Baskerville", serif;
  font-size: 1em;
  margin-bottom: 0.8em;
  padding: 0.53333em;
  transition: border-color 150ms ease;
  width: 100%; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover,
  select[multiple]:hover {
    border-color: #8f887a; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus,
  select[multiple]:focus {
    border-color: #b12b00;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(152, 37, 0, 0.7);
    outline: none; }
  input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled, input:not([type]):disabled, textarea:disabled,
  select[multiple]:disabled {
    background-color: #f2e8d9;
    cursor: not-allowed; }
    input[type="color"]:disabled:hover, input[type="date"]:disabled:hover, input[type="datetime"]:disabled:hover, input[type="datetime-local"]:disabled:hover, input[type="email"]:disabled:hover, input[type="month"]:disabled:hover, input[type="number"]:disabled:hover, input[type="password"]:disabled:hover, input[type="search"]:disabled:hover, input[type="tel"]:disabled:hover, input[type="text"]:disabled:hover, input[type="time"]:disabled:hover, input[type="url"]:disabled:hover, input[type="week"]:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover,
    select[multiple]:disabled:hover {
      border: 1px solid #b3aa98; }

textarea {
  resize: vertical; }

[type="search"] {
  appearance: none; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.4em; }

[type="file"] {
  margin-bottom: 0.8em;
  width: 100%; }

select {
  margin-bottom: 1.6em;
  max-width: 100%;
  width: auto; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin-bottom: 0.8em; }
  dl dt {
    font-weight: 600;
    margin-top: 0.8em; }
  dl dd {
    margin: 0; }

table {
  border-collapse: collapse;
  margin: 0.8em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #868072;
  font-weight: 600;
  padding: 0.8em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #b3aa98;
  padding: 0.8em 0; }

tr,
td,
th {
  vertical-align: middle; }

html {
  background-color: #fff4e4; }

body {
  color: #7d7664;
  font-family: "Libre Baskerville", serif;
  font-size: 1em;
  line-height: 1.6; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Libre Baskerville", serif;
  font-size: 1em;
  font-weight: normal;
  line-height: 1.2;
  margin: 0 0 0.8em; }

.main-title, .story-title, .story-subtitle {
  font-style: italic;
  font-weight: normal;
  margin-bottom: 0.4em; }

.main-title {
  font-size: 2.5em;
  color: #b12b00; }

.subtitle {
  font-size: 1.5em;
  color: #b12b00; }

.story-title {
  font-size: 2.5em;
  color: #fff4e4;
  text-shadow: 1px 1px 2px black; }

.story-subtitle {
  font-size: 1.5em;
  color: #fff4e4;
  text-shadow: 1px 1px 2px black; }

.heading {
  font-variant: small-caps;
  letter-spacing: .05em; }

.caption, .image-panel--caption, .slim-caption {
  font-family: "Lucida Grande", "Tahoma", "Verdana", "Arial", sans-serif;
  font-size: 0.8em;
  padding: 0.8em; }

p {
  margin: 0 0 0.8em; }

a {
  color: #b12b00;
  text-decoration: none;
  transition: color 150ms ease; }
  a:active, a:focus, a:hover {
    color: #852000; }

hr {
  border-bottom: 1px solid #b3aa98;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.6em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

.deeper {
  font-size: 0.9em; }
  .deeper h2 {
    color: #b12b00;
    font-size: 1.5em;
    letter-spacing: 0.25em;
    margin-left: 1.6em;
    padding-top: 3.2em;
    text-transform: uppercase;
    width: 100%; }
  @media screen and (max-width: 53.75em) {
    .deeper {
      margin-top: -1.6em;
      padding: 0 1.6em 1.6em 1.6em; } }

.deeper .table-cell {
  padding: 1.6em;
  /* this adds left & right padding to images in deeper gallery */ }
  .deeper .table-cell img {
    border: 1px solid #b3aa98;
    display: block;
    max-width: none;
    max-height: 25vh;
    padding: 2px; }
    @media screen and (max-height: 790px) {
      .deeper .table-cell img {
        max-height: 20vh; } }
    @media screen and (max-width: 53.75em) {
      .deeper .table-cell img {
        max-height: none; } }

.oval {
  border-radius: 50%; }

.deeper-row {
  display: inline-table; }

@media screen and (max-width: 53.75em) {
  .go-to-deeper {
    display: none; } }
@media screen and (min-width: 53.75em) {
  .go-to-deeper {
    position: absolute;
    background-color: rgba(177, 43, 0, 0.6);
    height: 70px;
    letter-spacing: 0.25em;
    padding: 1.6em;
    right: calc(-100vh + 50px);
    text-transform: uppercase;
    top: 0;
    transform: rotate(90deg);
    transform-origin: left top 0;
    width: calc(100vh - 50px); }
    .go-to-deeper a:link, .go-to-deeper a:visited {
      color: #fff4e4; }
    .go-to-deeper a:hover {
      color: #b12b00; } }

.table.toprow .table-cell {
  padding-bottom: 1rem; }

.menu-gallery {
  text-align: center; }
  .menu-gallery li {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    .menu-gallery li:last-child {
      margin-right: 0; }
    .menu-gallery li:nth-child(4n) {
      margin-right: 0; }
    .menu-gallery li:nth-child(4n+1) {
      clear: left; }
    .menu-gallery li img {
      padding: 2px;
      border: double #b3aa98; }
  .menu-gallery .preview {
    position: relative;
    display: inline-block;
    font-style: italic; }
  .menu-gallery .preview p {
    font-size: 0.8em;
    font-style: normal;
    visibility: hidden;
    width: 250px;
    background-color: #65605a;
    color: #fff4e4;
    text-align: center;
    padding: 0.8em;
    border: double #b3aa98;
    position: absolute;
    top: 60%;
    left: 50%;
    margin-left: -125px;
    z-index: 1; }
  .menu-gallery .preview:hover p {
    visibility: visible; }

.control-panel {
  background-color: #d2cdba;
  color: #b12b00;
  padding: 1.6em;
  width: 100%; }
  @media screen and (min-width: 53.75em) {
    .control-panel {
      width: 30%;
      height: 100vh;
      height: -webkit-calc(100vh - 130px);
      height: calc(100vh - 130px);
      position: absolute;
      top: 50px;
      bottom: 0;
      left: 0; } }
  .control-panel ul {
    margin-bottom: 1.6em; }
    .control-panel ul li {
      font-size: 0.9em;
      font-weight: normal; }

.menu-grid--area {
  overflow: auto;
  padding: 3.2em 1.6em;
  position: relative;
  width: 100%; }
  @media screen and (min-width: 53.75em) {
    .menu-grid--area {
      padding: 1.6em;
      height: -webkit-calc(100vh - 130px);
      height: calc(100vh - 130px);
      position: absolute;
      top: 50px;
      right: 0;
      bottom: 0;
      /* why 100px and not $top-navigation-height??? */
      width: 70%; } }

.menu-grid li {
  font-size: 0.8em;
  line-height: 1.2;
  margin-bottom: 1.6em; }
  .menu-grid li img {
    display: block;
    border: double #b3aa98;
    margin-bottom: 0.4em;
    padding: 2px;
    max-width: 100%; }

.squares li {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 10.43705%; }
  .squares li:last-child {
    margin-right: 0; }
  .squares li:nth-child(7n) {
    margin-right: 0; }
  .squares li:nth-child(7n+1) {
    clear: left; }

.ovals li {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 7.87811%; }
  @media screen and (max-width: 53.75em) {
    .ovals li {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 14.70196%; }
      .ovals li:last-child {
        margin-right: 0; }
      .ovals li:nth-child(5n) {
        margin-right: 0; }
      .ovals li:nth-child(5n+1) {
        clear: left; } }
  .ovals li:last-child {
    margin-right: 0; }
  .ovals li:nth-child(10n) {
    margin-right: 0; }
  .ovals li:nth-child(10n+1) {
    clear: left; }
.ovals img {
  border-radius: 50%; }

.menu-home li {
  display: inline-block;
  margin-right: 3.2em;
  padding-top: 6.4em; }
  .menu-home li a {
    font-size: 1.5em; }
  .menu-home li img {
    padding: 2px;
    border: double #b3aa98; }

.secondary {
  clear: left;
  font-size: 0.8em; }

/* temp css */
#slimpop-wrapper {
  background-color: #fff4e4;
  border: 1px solid #b3aa98;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.75);
  overflow: auto;
  padding: 3px; }

.slim-border {
  padding: 1.6em 3.2em 3.2em 3.2em;
  border: 1px solid #b3aa98; }

.slimpop-close {
  /* for the close link */
  float: right; }

.double-border {
  border: double #b3aa98; }

.slim-title {
  color: #b12b00;
  font-size: 1.5em;
  margin-bottom: 0.4em; }

.slim-subhead {
  color: #b12b00;
  margin: 0 0 0.4em 0; }

.slim-caption {
  color: #b3aa98; }

dl.slim-curatorial {
  margin-bottom: 0.8em; }
  dl.slim-curatorial dt {
    float: left;
    margin-right: 5%;
    margin-top: 0;
    max-width: 25%; }
  dl.slim-curatorial dd {
    margin-left: 30%; }
  dl.slim-curatorial dd::after {
    content: " ";
    display: block;
    clear: left; }

.slim-deeper {
  border-top: 1px solid #b3aa98;
  color: #b12b00;
  padding-top: 0.4em; }
  .slim-deeper h2 {
    margin-bottom: 0; }
  .slim-deeper h3 {
    font-weight: bold;
    margin: 1.6em 0 0.4em 0; }

.hidden {
  display: none; }

.unhidden {
  display: block; }

#slimpop-overlay {
  background: url(../images/overlay.png) repeat;
  cursor: pointer;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 99; }

/* JavaScript assigns this (or .hidden) to slimpop-container */
.slimpop-basicsize {
  bottom: 0;
  display: block;
  left: 0;
  margin: auto;
  max-height: 600px;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  /* this positions the slimpop relative to viewport, it won't scroll with the page */
  right: 0;
  top: 0;
  width: 550px;
  z-index: 100; }

.map-control-panel {
  background-color: #65605a;
  color: #fff4e4;
  padding: 1.6em;
  width: 100%; }
  @media screen and (min-width: 53.75em) {
    .map-control-panel {
      display: block;
      float: left;
      width: 30%;
      height: -webkit-calc(100vh - 130px);
      height: calc(100vh - 130px); } }
  .map-control-panel a:link, .map-control-panel a:visited {
    color: rgba(255, 244, 228, 0.6); }
  .map-control-panel a:hover {
    color: #fff4e4;
    text-decoration: underline; }

.map-layers--item label {
  font-size: 0.8em; }

.map-sites, .map-deeper {
  margin-bottom: 1.6em; }
  .map-sites li a:link, .map-sites li a:visited, .map-deeper li a:link, .map-deeper li a:visited {
    color: #fff4e4; }

.map-area {
  background-color: #5d5853; }
  @media screen and (min-width: 53.75em) {
    .map-area {
      display: block;
      margin-left: 30%;
      width: 70%;
      height: -webkit-calc(100vh - 130px);
      height: calc(100vh - 130px); } }

#map {
  height: 100%;
  width: 100%;
  z-index: 85; }

.map-wrapper {
  float: left;
  width: 75%; }

.map-about-panel {
  background-color: #65605a;
  color: #fff4e4;
  padding: 1.6em;
  width: 100%; }
  @media screen and (min-width: 53.75em) {
    .map-about-panel {
      display: block;
      margin-left: 75%;
      width: 25%;
      height: -webkit-calc(100vh - 130px);
      height: calc(100vh - 130px); } }

.basic {
  text-align: center; }

.footer {
  border-top: 1px solid #5d5853;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #65605a;
  display: inline-block;
  padding: 0.8em; }
  @media screen and (min-width: 53.75em) {
    .footer {
      height: 80px;
      position: fixed; } }
  .footer ul {
    line-height: 1.5em; }
    @media screen and (min-width: 53.75em) {
      .footer ul {
        line-height: 1.8em; } }
  .footer ul li {
    padding-right: 1.6em; }
    @media screen and (min-width: 53.75em) {
      .footer ul li {
        display: inline; } }
  .footer ul li a {
    color: rgba(255, 244, 228, 0.4);
    text-decoration: none; }
    .footer ul li a:focus, .footer ul li a:hover {
      color: #fff4e4; }
  .footer .footer-primary {
    float: left;
    margin: 0 3.2em;
    text-align: left; }
    @media screen and (min-width: 53.75em) {
      .footer .footer-primary {
        float: none;
        text-align: center; } }
  .footer .footer-secondary {
    text-align: left; }
    @media screen and (min-width: 53.75em) {
      .footer .footer-secondary {
        float: none;
        text-align: center; } }
    .footer .footer-secondary li {
      font-size: 0.8em; }

body.horiz-scroll {
  overflow-y: hidden; }
  @media screen and (max-width: 53.75em) {
    body.horiz-scroll {
      overflow-y: scroll; } }

.content-wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  padding: 3.2em 0 6.4em 0; }
  .content-wrapper::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 1200px) {
    .content-wrapper {
      padding: 3.2em 1.6em; } }

.content-wrapper-map {
  margin-top: 50px; }

.content-wrapper-wide {
  display: table;
  overflow-x: auto;
  table-layout: fixed;
  width: 100%; }

.table-cell {
  display: table-cell;
  vertical-align: top; }
  @media screen and (max-width: 53.75em) {
    .table-cell {
      display: block; } }

.content-wrapper--narrative {
  position: relative;
  width: 100vw; }
  @media screen and (max-width: 53.75em) {
    .content-wrapper--narrative {
      width: auto;
      height: auto; } }

.image-panel {
  background-size: cover;
  padding: 1.6em;
  position: relative;
  width: 100%;
  height: 500px; }
  @media screen and (min-width: 53.75em) {
    .image-panel {
      height: -webkit-calc(100vh - 130px);
      height: calc(100vh - 130px);
      position: absolute;
      top: 50px;
      right: 0;
      bottom: 0;
      /* why 100px and not $top-navigation-height??? */
      width: 70%; } }

.image-panel--caption {
  background-color: rgba(101, 96, 90, 0.6);
  color: #fff4e4;
  position: absolute;
  right: 1.6em;
  bottom: 1.6em;
  width: 300px; }
  @media screen and (min-width: 53.75em) {
    .image-panel--caption {
      position: absolute;
      right: 6.4em;
      bottom: 1.6em; } }

.text-panel {
  background-color: #65605a;
  color: #fff4e4;
  padding: 1.6em;
  width: 100%; }
  @media screen and (min-width: 53.75em) {
    .text-panel {
      width: 30%;
      height: 100vh;
      height: -webkit-calc(100vh - 130px);
      height: calc(100vh - 130px);
      position: absolute;
      top: 50px;
      bottom: 0;
      left: 0; } }
  .text-panel a:link, .text-panel a:visited {
    color: rgba(255, 244, 228, 0.6); }
  .text-panel a:hover {
    color: #fff4e4;
    text-decoration: underline; }

.intro-text {
  font-size: 1em; }

.intro-nav {
  font-size: 0.8em; }
  .intro-nav li {
    display: inline;
    float: left;
    display: block;
    margin-right: 10.1484%;
    width: 26.56773%; }
    .intro-nav li:last-child {
      margin-right: 0; }

@media screen and (max-width: 1100px) {
  .chapter-text h2, .intro-text h2 {
    font-size: 1em; } }
.chapter-text h4, .intro-text h4 {
  font-size: 0.8em;
  line-height: 1.6; }
  @media screen and (max-width: 1100px) {
    .chapter-text h4, .intro-text h4 {
      font-size: 0.8em; } }

.chapter-text--scroll {
  background-color: #5d5853;
  border: 1px solid #4f4b47;
  font-size: 0.86957em;
  height: 80%;
  margin-bottom: 0.8em;
  padding: 0.8em;
  overflow-y: scroll; }
  @media screen and (max-height: 750px) {
    .chapter-text--scroll {
      height: 70%; } }
  @media screen and (max-width: 1200px) {
    .chapter-text--scroll {
      height: 70%; } }

.chapter-nav li {
  display: inline;
  padding-right: 0.8em; }
  @media screen and (max-width: 1100px) {
    .chapter-nav li {
      font-size: 0.8em; } }
@media screen and (max-width: 1100px) {
  .chapter-nav p {
    font-size: 0.8em; } }

.top-navigation {
  background-color: #d2cdba;
  border-bottom: 1px solid #c0b99e;
  left: 0;
  min-height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999; }
  .top-navigation .mobile-logo {
    display: inline;
    float: left;
    max-height: 50px;
    padding-left: 1em; }
    .top-navigation .mobile-logo img {
      max-height: 50px;
      padding: .8em 0; }
    @media screen and (min-width: 53.75em) {
      .top-navigation .mobile-logo {
        display: none; } }
  .top-navigation .top-navigation-mobile-menu {
    color: rgba(125, 118, 100, 0.7);
    display: block;
    float: right;
    line-height: 50px;
    margin: 0;
    padding-right: 1em;
    text-decoration: none;
    text-transform: uppercase; }
    @media screen and (min-width: 53.75em) {
      .top-navigation .top-navigation-mobile-menu {
        display: none; } }
    .top-navigation .top-navigation-mobile-menu:focus, .top-navigation .top-navigation-mobile-menu:hover {
      color: #7d7664; }
  .top-navigation .top-navigation-wrapper {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 999; }
    .top-navigation .top-navigation-wrapper::after {
      clear: both;
      content: "";
      display: table; }
    .top-navigation .top-navigation-wrapper::after {
      clear: both;
      content: "";
      display: table; }
  .top-navigation ul.top-navigation-menu {
    -webkit-transform-style: preserve-3d;
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 99999; }
    .top-navigation ul.top-navigation-menu.show {
      display: block; }
    @media screen and (min-width: 53.75em) {
      .top-navigation ul.top-navigation-menu {
        display: block;
        text-align: center; } }
  @media screen and (min-width: 53.75em) {
    .top-navigation .nav-link:first-child {
      margin-left: 2.2em; } }
  .top-navigation ul li.nav-link {
    background: #d2cdba;
    display: block;
    line-height: 50px;
    overflow: hidden;
    padding-right: 1em;
    text-align: right;
    width: 100%;
    z-index: 9999; }
    .top-navigation ul li.nav-link a {
      color: rgba(125, 118, 100, 0.7);
      display: inline-block;
      outline: none;
      text-decoration: none; }
      .top-navigation ul li.nav-link a:focus, .top-navigation ul li.nav-link a:hover {
        color: #7d7664; }
    @media screen and (min-width: 53.75em) {
      .top-navigation ul li.nav-link {
        background: transparent;
        display: inline;
        line-height: 50px; }
        .top-navigation ul li.nav-link a {
          padding-right: 1em; } }
  .top-navigation li.logo.nav-link {
    display: none;
    line-height: 0; }
    @media screen and (min-width: 53.75em) {
      .top-navigation li.logo.nav-link {
        display: inline; } }
  .top-navigation .logo img {
    margin-bottom: -0.66667em;
    max-height: 2em; }
  .top-navigation li.more.nav-link {
    padding-right: 0; }
    @media screen and (min-width: 53.75em) {
      .top-navigation li.more.nav-link {
        padding-right: 2em; } }
    .top-navigation li.more.nav-link > ul > li:first-child a {
      padding-top: 1em; }
    .top-navigation li.more.nav-link a {
      margin-right: 1em; }
      @media screen and (min-width: 53.75em) {
        .top-navigation li.more.nav-link a {
          margin-right: 0; } }
    .top-navigation li.more.nav-link > a {
      padding-right: 0.6em; }
    .top-navigation li.more.nav-link > a:after {
      position: absolute;
      top: auto;
      right: -0.4em;
      bottom: auto;
      left: auto;
      color: rgba(125, 118, 100, 0.7);
      content: "\25BE"; }
  .top-navigation li.more {
    overflow: visible;
    padding-right: 0; }
    .top-navigation li.more a {
      padding-right: 1em; }
    .top-navigation li.more > a {
      padding-right: 1.6em;
      position: relative; }
      @media screen and (min-width: 53.75em) {
        .top-navigation li.more > a {
          margin-right: 1em; } }
    .top-navigation li.more:focus > .submenu, .top-navigation li.more:hover > .submenu {
      display: block; }
    @media screen and (min-width: 53.75em) {
      .top-navigation li.more {
        padding-right: 1em;
        position: relative; } }
  .top-navigation ul.submenu {
    display: none;
    padding-left: 0;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.65); }
    @media screen and (min-width: 53.75em) {
      .top-navigation ul.submenu {
        left: -1em;
        position: absolute;
        top: 2em; } }
    @media screen and (min-width: 53.75em) {
      .top-navigation ul.submenu .submenu {
        left: 15.8em;
        top: 0; } }
    .top-navigation ul.submenu li {
      display: block;
      padding-right: 0; }
      @media screen and (min-width: 53.75em) {
        .top-navigation ul.submenu li {
          line-height: 20px; }
          .top-navigation ul.submenu li:first-child > a {
            border-top-left-radius: 3px;
            border-top-right-radius: 3px; }
          .top-navigation ul.submenu li:last-child > a {
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            padding-bottom: .7em; } }
      .top-navigation ul.submenu li a {
        background-color: #ccc6b1;
        border-bottom: 1px solid #b3aa98;
        display: inline-block;
        font-size: 0.8em;
        text-align: right;
        text-decoration: none;
        width: 100%; }
        @media screen and (min-width: 53.75em) {
          .top-navigation ul.submenu li a {
            background-color: #d2cdba;
            padding: .75em 1em;
            text-align: left;
            width: 16em; } }

/*# sourceMappingURL=application.css.map */
