article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  appearance: none;
  background-color: #d94a38;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Libre Baskerville", serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.8em 1.6em;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {
    background-color: #ae3b2d;
    color: #fff; }
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, input[type="button"]:disabled:hover, input[type="reset"]:disabled:hover, input[type="submit"]:disabled:hover {
      background-color: #d94a38; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.4em;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.4em; }

input,
select {
  display: block;
  font-family: "Libre Baskerville", serif;
  font-size: 1em; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea,
select[multiple] {
  background-color: #fff4e4;
  border: 1px solid #b3aa98;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "Libre Baskerville", serif;
  font-size: 1em;
  margin-bottom: 0.8em;
  padding: 0.53333em;
  transition: border-color 150ms ease;
  width: 100%; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover,
  select[multiple]:hover {
    border-color: #8f887a; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus,
  select[multiple]:focus {
    border-color: #d94a38;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(208, 58, 40, 0.7);
    outline: none; }
  input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled, input:not([type]):disabled, textarea:disabled,
  select[multiple]:disabled {
    background-color: #f2e8d9;
    cursor: not-allowed; }
    input[type="color"]:disabled:hover, input[type="date"]:disabled:hover, input[type="datetime"]:disabled:hover, input[type="datetime-local"]:disabled:hover, input[type="email"]:disabled:hover, input[type="month"]:disabled:hover, input[type="number"]:disabled:hover, input[type="password"]:disabled:hover, input[type="search"]:disabled:hover, input[type="tel"]:disabled:hover, input[type="text"]:disabled:hover, input[type="time"]:disabled:hover, input[type="url"]:disabled:hover, input[type="week"]:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover,
    select[multiple]:disabled:hover {
      border: 1px solid #b3aa98; }

textarea {
  resize: vertical; }

[type="search"] {
  appearance: none; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.4em; }

[type="file"] {
  margin-bottom: 0.8em;
  width: 100%; }

select {
  margin-bottom: 1.6em;
  max-width: 100%;
  width: auto; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin-bottom: 0.8em; }
  dl dt {
    font-weight: 600;
    margin-top: 0.8em; }
  dl dd {
    margin: 0; }

table {
  border-collapse: collapse;
  margin: 0.8em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #868072;
  font-weight: 600;
  padding: 0.8em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #b3aa98;
  padding: 0.8em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  background-color: #fff4e4;
  color: #7d7664;
  font-family: "Libre Baskerville", serif;
  font-size: 1em;
  height: 100vh;
  line-height: 1.6; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Libre Baskerville", serif;
  font-size: 1em;
  font-weight: normal;
  line-height: 1.2;
  margin: 0 0 0.8em; }

.main-title, .story-title, .story-subtitle {
  font-style: italic;
  font-weight: normal;
  margin-bottom: 0.4em; }

.main-title {
  font-size: 2.5em;
  color: #d94a38; }

.story-title {
  font-size: 2.5em;
  color: #fff4e4;
  text-shadow: 1px 1px 2px black; }

.story-subtitle {
  font-size: 2em;
  color: #fff4e4;
  text-shadow: 1px 1px 2px black; }

p {
  margin: 0 0 0.8em; }

a {
  color: #d94a38;
  text-decoration: none;
  transition: color 150ms ease; }
  a:active, a:focus, a:hover {
    color: #a3382a; }

hr {
  border-bottom: 1px solid #b3aa98;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.6em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

/* temp css */
#slimpop-wrapper {
  background-color: white;
  border: 1px solid #999;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.75);
  overflow: auto;
  padding: 1.5em; }

.slimpop-close {
  /* for the close link */
  float: right; }

.hidden {
  display: none; }

.unhidden {
  display: block; }

#slimpop-overlay {
  background: url(../images/overlay.png) repeat;
  cursor: pointer;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 99; }

/* JavaScript assigns this (or .hidden) to slimpop-container */
.slimpop-basicsize {
  bottom: 0;
  display: block;
  left: 0;
  margin: auto;
  max-height: 600px;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  /* this positions the slimpop relative to viewport, it won't scroll with the page */
  right: 0;
  top: 0;
  width: 500px;
  z-index: 100; }

.menu-gallery li {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }
  .menu-gallery li:last-child {
    margin-right: 0; }
  .menu-gallery li:nth-child(4n) {
    margin-right: 0; }
  .menu-gallery li:nth-child(4n+1) {
    clear: left; }
  .menu-gallery li a:link {
    font-style: italic; }
  .menu-gallery li img {
    padding: 2px;
    border: double #b3aa98; }

.menu-blurb {
  font-size: 0.8em; }

.dig-deeper {
  display: none; }

.expanding-world-0 {
  background-image: url("../../../design/stories/images/expanding-world-0.jpg"); }

.expanding-world-1 {
  background-image: url("../../../design/stories/images/expanding-world-1.jpg"); }

.whose-discovery-0 {
  background-image: url("../../../design/stories/images/whose-discovery-0.jpg"); }

.age-refinement-0 {
  background-image: url("../../../design/stories/images/age-refinement-0.jpg"); }

.basic {
  text-align: center; }

.footer {
  border-top: 1px solid #5d5853;
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
  background: #65605a;
  display: inline-block;
  padding: 0.8em; }
  @media screen and (min-width: 53.75em) {
    .footer {
      height: 80px; } }
  .footer ul {
    line-height: 1.5em; }
    @media screen and (min-width: 53.75em) {
      .footer ul {
        line-height: 1.8em; } }
  .footer ul li {
    padding-right: 1.6em; }
    @media screen and (min-width: 53.75em) {
      .footer ul li {
        display: inline; } }
  .footer ul li a {
    color: rgba(255, 244, 228, 0.4);
    text-decoration: none; }
    .footer ul li a:focus, .footer ul li a:hover {
      color: #fff4e4; }
  .footer .footer-primary {
    float: left;
    margin: 0 3.2em;
    text-align: left; }
    @media screen and (min-width: 53.75em) {
      .footer .footer-primary {
        float: none;
        text-align: center; } }
  .footer .footer-secondary {
    text-align: left; }
    @media screen and (min-width: 53.75em) {
      .footer .footer-secondary {
        float: none;
        text-align: center; } }
    .footer .footer-secondary li {
      font-size: 0.8em; }

body {
  margin: 0;
  padding: 0; }

.content-wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  padding: 3.2em 0 6.4em 0; }
  .content-wrapper::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 1200px) {
    .content-wrapper {
      padding: 3.2em 1.6em; } }

.content-wrapper-cover {
  padding-top: 50px; }

.text-panel {
  background-color: #65605a;
  color: #fff4e4;
  height: 100vh;
  padding: 1.6em;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .text-panel:last-child {
    margin-right: 0; }
  @media screen and (min-width: 53.75em) {
    .text-panel {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 25.36421%;
      margin-right: 0; }
      .text-panel:last-child {
        margin-right: 0; } }

.intro-text {
  font-size: 1.15em; }

.intro-nav {
  font-size: 0.8em; }
  .intro-nav li {
    display: inline;
    float: left;
    display: block;
    margin-right: 10.1484%;
    width: 26.56773%; }
    .intro-nav li:last-child {
      margin-right: 0; }

.chapter-text h2 {
  font-size: 1.5em; }

.chapter-text--scroll {
  background-color: #5d5853;
  font-size: 0.86957em;
  height: 70%;
  margin-bottom: 0.8em;
  overflow-y: scroll; }

.image-panel {
  background-size: cover;
  height: 100vh;
  padding: 1.6em;
  position: relative;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .image-panel:last-child {
    margin-right: 0; }
  @media screen and (min-width: 53.75em) {
    .image-panel {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 74.41059%;
      margin-right: 0; }
      .image-panel:last-child {
        margin-right: 0; } }

.image-panel--caption {
  background-color: rgba(101, 96, 90, 0.8);
  bottom: 140px;
  color: #fff4e4;
  font-family: "Lucida Grande", "Tahoma", "Verdana", "Arial", sans-serif;
  font-size: 0.8em;
  padding: 0.8em;
  position: absolute;
  float: left;
  display: block;
  margin-right: 3.16844%;
  width: 28.35525%; }
  .image-panel--caption:last-child {
    margin-right: 0; }

.top-navigation {
  background-color: #d2cdba;
  border-bottom: 1px solid #c0b99e;
  left: 0;
  min-height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999; }
  .top-navigation .mobile-logo {
    display: inline;
    float: left;
    max-height: 50px;
    padding-left: 1em; }
    .top-navigation .mobile-logo img {
      max-height: 50px;
      padding: .8em 0; }
    @media screen and (min-width: 53.75em) {
      .top-navigation .mobile-logo {
        display: none; } }
  .top-navigation .top-navigation-mobile-menu {
    color: rgba(125, 118, 100, 0.7);
    display: block;
    float: right;
    line-height: 50px;
    margin: 0;
    padding-right: 1em;
    text-decoration: none;
    text-transform: uppercase; }
    @media screen and (min-width: 53.75em) {
      .top-navigation .top-navigation-mobile-menu {
        display: none; } }
    .top-navigation .top-navigation-mobile-menu:focus, .top-navigation .top-navigation-mobile-menu:hover {
      color: #7d7664; }
  .top-navigation .top-navigation-wrapper {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 999; }
    .top-navigation .top-navigation-wrapper::after {
      clear: both;
      content: "";
      display: table; }
    .top-navigation .top-navigation-wrapper::after {
      clear: both;
      content: "";
      display: table; }
  .top-navigation ul.top-navigation-menu {
    -webkit-transform-style: preserve-3d;
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 99999; }
    .top-navigation ul.top-navigation-menu.show {
      display: block; }
    @media screen and (min-width: 53.75em) {
      .top-navigation ul.top-navigation-menu {
        display: block;
        text-align: center; } }
  @media screen and (min-width: 53.75em) {
    .top-navigation .nav-link:first-child {
      margin-left: 2.2em; } }
  .top-navigation ul li.nav-link {
    background: #d2cdba;
    display: block;
    line-height: 50px;
    overflow: hidden;
    padding-right: 1em;
    text-align: right;
    width: 100%;
    z-index: 9999; }
    .top-navigation ul li.nav-link a {
      color: rgba(125, 118, 100, 0.7);
      display: inline-block;
      outline: none;
      text-decoration: none; }
      .top-navigation ul li.nav-link a:focus, .top-navigation ul li.nav-link a:hover {
        color: #7d7664; }
    @media screen and (min-width: 53.75em) {
      .top-navigation ul li.nav-link {
        background: transparent;
        display: inline;
        line-height: 50px; }
        .top-navigation ul li.nav-link a {
          padding-right: 1em; } }
  .top-navigation li.logo.nav-link {
    display: none;
    line-height: 0; }
    @media screen and (min-width: 53.75em) {
      .top-navigation li.logo.nav-link {
        display: inline; } }
  .top-navigation .logo img {
    margin-bottom: -0.66667em;
    max-height: 2em; }
  .top-navigation li.more.nav-link {
    padding-right: 0; }
    @media screen and (min-width: 53.75em) {
      .top-navigation li.more.nav-link {
        padding-right: 2em; } }
    .top-navigation li.more.nav-link > ul > li:first-child a {
      padding-top: 1em; }
    .top-navigation li.more.nav-link a {
      margin-right: 1em; }
      @media screen and (min-width: 53.75em) {
        .top-navigation li.more.nav-link a {
          margin-right: 0; } }
    .top-navigation li.more.nav-link > a {
      padding-right: 0.6em; }
    .top-navigation li.more.nav-link > a:after {
      position: absolute;
      top: auto;
      right: -0.4em;
      bottom: auto;
      left: auto;
      color: rgba(125, 118, 100, 0.7);
      content: "\25BE"; }
  .top-navigation li.more {
    overflow: visible;
    padding-right: 0; }
    .top-navigation li.more a {
      padding-right: 1em; }
    .top-navigation li.more > a {
      padding-right: 1.6em;
      position: relative; }
      @media screen and (min-width: 53.75em) {
        .top-navigation li.more > a {
          margin-right: 1em; } }
    .top-navigation li.more:focus > .submenu, .top-navigation li.more:hover > .submenu {
      display: block; }
    @media screen and (min-width: 53.75em) {
      .top-navigation li.more {
        padding-right: 1em;
        position: relative; } }
  .top-navigation ul.submenu {
    display: none;
    padding-left: 0;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.65); }
    @media screen and (min-width: 53.75em) {
      .top-navigation ul.submenu {
        left: -1em;
        position: absolute;
        top: 2em; } }
    @media screen and (min-width: 53.75em) {
      .top-navigation ul.submenu .submenu {
        left: 15.8em;
        top: 0; } }
    .top-navigation ul.submenu li {
      display: block;
      padding-right: 0; }
      @media screen and (min-width: 53.75em) {
        .top-navigation ul.submenu li {
          line-height: 20px; }
          .top-navigation ul.submenu li:first-child > a {
            border-top-left-radius: 3px;
            border-top-right-radius: 3px; }
          .top-navigation ul.submenu li:last-child > a {
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            padding-bottom: .7em; } }
      .top-navigation ul.submenu li a {
        background-color: #ccc6b1;
        border-bottom: 1px solid #b3aa98;
        display: inline-block;
        font-size: 0.8em;
        text-align: right;
        text-decoration: none;
        width: 100%; }
        @media screen and (min-width: 53.75em) {
          .top-navigation ul.submenu li a {
            background-color: #d2cdba;
            padding: .75em 1em;
            text-align: left;
            width: 16em; } }

/*# sourceMappingURL=application.css.map */
