{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ object.content_type.singular_title}}: {{object.title }} {% endblock %}


{% block wrapper_class %}"content-wrapper--intro"{% endblock wrapper_class %}

{% block content_area %}

  <section class="image-panel">

    <img src="{% static 'stories/' %}{{ object.slug }}/{{ object.image_name }}.jpg">
    <p class="image-panel--caption">
      {{ object.caption|safe }}
      Image courtesy of {{ object.source.institution|safe }}.
    </p>

  </section><!--/image-panel-->

  <article class="text-panel">
    
    <ul class="intro-nav">

      <li>
        {% if object.get_prev %}
          &lArr;&nbsp;Previous <a href="{% url 'stories:story_detail' object.get_prev.slug %}">{{object.get_prev.title|safe}}</a>     
        {% else %}
          &lArr; Previous
        {% endif %}
      </li>

      <li class="read-this">
        <a href="{% url 'stories:chapter_detail' object.slug 1 %}">Read This Story</a>
      </li>

      <li class="next">

        {% if object.get_next %}
          Next&nbsp;&rArr; <a href="{% url 'stories:story_detail' object.get_next.slug %}">{{object.get_next.title|safe}}</a>     
        {% else %}
          Next Story &rArr;
        {% endif %}

      </li>

    </ul>

    <h1 class="story-title">{{ object.title|safe }}</h1>
    
    <h2 class="story-subtitle">{{ object.subtitle|safe }}</h2>  

    {{ object.introduction|safe }}

  </article>



  <!-- Chapter layout has another div here - deeper table-cell -->
{% endblock content_area %}


