{% extends "base_team.html" %}
{% load static %}

{% block content_area %}
	
	<p><a href="{% url 'stories:team_story_list' %}">Return to Story Menu</a></p>

    <h1>{{ object.title|safe }}</h1>
    <h2>Dig Deepers per Chapter</h2>

    <ul>
	{% for chapter in object.chapter_set.all %}
		<li>
			<p>&nbsp;</p>
			<h2>{{ chapter.title|safe}}</h2>

		    <ul>
		      {% for person in chapter.people.all %}
		        <li>
		          Person: <a class="pop_item" href="{% url 'supporting:person_detail' person.slug %}">
		            {{ person.first_name }} {{ person.middle_name }} {{ person.last_name }}
		          </a>
		        </li>
		      {% endfor %}

		      {% for evidenceitem in chapter.evidence.all %}
		        <li>
		          Artifacts &amp; Docs - {{ evidenceitem.evidence_type.slug }}: <a class="pop_item" href="{% url 'supporting:'|add:evidenceitem.evidence_category|add:'_detail' evidenceitem.slug %}">
		            {{ evidenceitem.title|safe }}
		          </a>
		        </li>
		      {% endfor %}
		      
		      {% for context in chapter.contexts.all %}
		        <li>
		          Backdrop: <a class="pop_item" href="{% url 'supporting:context_detail' context.slug %}">
		            {{ context.title|safe }}
		          </a>
		        </li>
		      {% endfor %}

		      {% for special in chapter.featured_specials.all %}
		        <li>
		          Special - {{ special.special_type }}: <a class="pop_item" 
		          href="{% url 'special:'|add:special.special_type|add:'_detail' special.slug %}">
		            {{ special.title|safe }}
		          </a>
		        </li>
		      {% endfor %}
		      
		    </ul>


		</li>
    {% endfor %}
    </ul>



{% endblock content_area %}


    
